//
// Tag list
// --------------------------------------------------

.tag.list {
  #sidebar & {
    .active {
      background: $sidebar-tag-active-bg;
      color: $sidebar-tag-active-color;

      .icon {
        color: $sidebar-tag-active-color;
      }
    }
  }

  .panel & {
    padding: $space-min 0 0;

    li {
      display: flex;
      align-items: center;
      height: $line-height-large;
      padding: 0 $component-padding-horizontal;

      &:hover:not(:last-child) {
        background-color: $tag-list-hover-color;

        .btn-icon {
          opacity: 1;
        }
      }

      &.incomplete {
        &,
        .icon-tag {
          color: $incomplete-color;
        }
      }
    }

    .icon {
      margin-right: $space-xs;
    }

    .name {
      margin-right: auto;

      & + .btn-icon {
        margin-left: $space-min - $shim;
      }
    }

    .btn-icon {
      opacity: 0;

      .icon {
        margin: 0;
      }
    }

    .add-tag {
      color: $add-tag-color;
    }
  }
}
