@use "../../abstracts/config" as *;

//
// Account pane
// --------------------------------------------------

.account.pane {
  .card {
    background-color: $account-card-bg;
    padding: $space-lg;
    border-radius: 10px;
    position: relative;

    & + .card {
      margin-top: $space-sm;
    }

    h1 {
      font-size: to-rem(18);
      font-weight: 600;
      text-box: trim-both cap alphabetic;
      color: $profile-heading-color;
      margin-bottom: $space-lg;

      &:only-child {
        margin-bottom: 0;
      }
    }
  }
}
