@use "../../abstracts/config" as *;

//
// Account profile
// --------------------------------------------------

.account {
  .btn-link {
    font-size: to-rem(14);
    text-box: trim-both cap alphabetic;
    padding: 0;
    margin-left: auto;
  }

  .messages {
    margin-bottom: $space-sm;
  }

  .message {
    display: flex;
    align-items: center;
    font-size: $font-size-large;
    font-weight: 600;
    padding: $space-lg;

    &.info {
      color: $account-info-color;
      background-color: $account-info-bg;
      border: 1px solid $account-info-color;
    }

    &.warning {
      color: $account-warning-color;
      background-color: $account-warning-bg;
      border: 1px solid $account-warning-color;
    }

    &.error {
      color: $account-error-color;
      background-color: $account-error-bg;
      border: 1px solid $account-error-color;
    }

    p {
      text-box: trim-both cap alphabetic;
      padding-right: $space-md;
      margin: 0;
    }

    .btn-link {
      color: currentColor;
    }

    & + .message {
      margin-top: $space-sm;
    }
  }

  .profile {
    font-size: to-rem(16);
    line-height: 1.5;

    &:not(:has(dt)) {
      header {
        margin-bottom: 0 !important;
      }
    }

    dl {
      margin: 0;
    }

    dt {
      font-weight: 600;
      text-box: trim-start ex alphabetic;
    }

    dd {
      text-box: trim-end ex alphabetic;
      margin-left: 0;

      & + dt {
        margin-top: $space-md;
        padding-top: $space-md;
        border-top: 1px solid $profile-border-color;
      }
    }
  }
}
