@use "../../abstracts/config" as *;

//
// Account usage
// --------------------------------------------------

.account {
  .usage {
    font-size: to-rem(16);
    line-height: 1.5;

    .key {
      font-weight: 600;
      text-box: trim-both ex alphabetic;
      margin-bottom: $space-md;
    }

    progress {
      height: $space-xs;
    }

    .progress-description {
      font-size: $font-size-small;
      text-box: trim-both cap alphabetic;
      margin-top: $space-sm;
      margin-bottom: 0;
    }
  }
}
