@use "../../abstracts/config" as *;

//
// Account usage
// --------------------------------------------------

.account {
  .usage {
    font-size: to-rem(16);
    line-height: 1.5;

    .meter {
      & + .meter {
        margin-top: $space-md;
        border-top: 1px solid $profile-border-color;
      }
    }

    .window {
      font-weight: 600;
      text-box: trim-both ex alphabetic;
    }

    progress {
      height: $space-xs;

      &.unscaled::-webkit-progress-value {
        background-color: $progress-bar-blurred-color;
      }
    }

    .progress-description {
      font-size: $font-size-small;
      text-box: trim-both cap alphabetic;
      margin-top: $space-sm;
      margin-bottom: 0;
    }
  }
}
