# vi: set ft=yaml :
env:
  mocha: true

globals:
  expect: true
  sinon: true
  F: true
  P: true
  __coverage__: true
  __src: true
  __require: true

rules:
  no-console: 0
  max-nested-callbacks: [1, 8]
