# vi: set ft=yaml

plugins:
  - 'react'

extends:
  - 'plugin:react/recommended'

rules:
  react/jsx-indent: [2, 2]
  react/jsx-indent-props: [2, 2]
  react/jsx-no-bind: 2
  react/jsx-equals-spacing: [2, 'never']
