{
  "plugins": [
    "syntax-async-functions",
    "syntax-jsx",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-react-jsx",
  ]
}
