# vi: set ft=yaml :
extends:
  - stylelint-config-standard
  - stylelint-config-recommended-scss

rules:
  at-rule-empty-line-before: [null, { except: first-nested }]
  declaration-empty-line-before: null
  block-closing-brace-newline-after: null
  selector-list-comma-newline-after: null
  max-empty-lines: null
  declaration-colon-space-after: always-single-line
  unit-no-unknown: [true, { ignoreFunctions: ["-webkit-image-set"] }]
  selector-pseudo-element-no-unknown: [true, { ignorePseudoElements: ["-webkit"] }]
