# vi: set ft=yaml :
extends:
  - stylelint-config-standard
  - stylelint-config-recommended-scss

rules:
  # stylelint-config-recommended
  unit-no-unknown: [true, { ignoreFunctions: ["-webkit-image-set"] }]
  function-no-unknown: null
  selector-pseudo-element-no-unknown: [true, { ignorePseudoElements: ["-webkit"] }]
  no-descending-specificity: null

  # stylelint-config-standard
  at-rule-empty-line-before: [null, { except: first-nested }]
  declaration-empty-line-before: null
  block-closing-brace-newline-after: null
  alpha-value-notation: "number"
  selector-no-vendor-prefix: null
  property-no-vendor-prefix: null
  value-no-vendor-prefix: null
  max-line-length: null
  keyframes-name-pattern: null
  color-function-notation: "legacy"
  import-notation: "string"

  # stylelint-config-recommended-scss
  scss/comment-no-empty: null
  scss/no-global-function-names: null
  scss/operator-no-newline-before: null
  scss/at-if-no-null: null

