//
// Activity
// --------------------------------------------------

.activity-pane {
  height: 0;
  overflow: hidden;
  transition:
    height
    $activity-transition-duration
    $activity-transition-timing-function;
  font-size: $font-size-small;

  &.busy {
    display: block;
  }
}

.activity {
  @keyframes activity-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  display: flex;
  align-items: center;
  border-top: 1px solid $activity-border-color;
  padding: 0 $default-padding-horizontal;
  animation: activity-in 0.125s ease both;
  height: $activity-height;

  .vibrancy & {
    border-top-color: $activity-vibrancy-border-color;
  }

  .is-blurred & {
    @if $platform == darwin {
      border-top-color: $activity-blurred-border-color-darwin;
    }

    @if $platform == linux {
      border-top-color: $activity-blurred-border-color-linux;
    }
  }

  .activity-container {
    flex: 1 1 0;
    min-width: 0;
  }

  .flex-row {
    justify-content: space-between;
  }

  .flex-row:nth-child(2) {
    margin-bottom: 6px;
  }

  .icon-spin {
    margin-right: $space-xs;
  }

  .activity-text {
    @include css-truncation;
    margin-right: auto;

    .is-blurred & {
      @if $platform == darwin {
        opacity: $sidebar-blurred-name-opacity-darwin;
      }

      @if $platform == linux {
        opacity: $sidebar-blurred-name-opacity-linux;
      }
    }
  }

  progress {
    .vibrancy & {
      &::-webkit-progress-bar {
        background-color: $activity-vibrancy-progress-bar-bg;
      }

      &::-webkit-progress-value {
        background-color: $activity-vibrancy-progress-val-bg;
      }
    }

    .is-blurred & {
      @if $platform == darwin {
        &::-webkit-progress-bar {
          background-color: $activity-blurred-progress-bar-bg-darwin;
        }

        &::-webkit-progress-value {
          background-color: $activity-blurred-progress-val-bg-darwin;
        }
      }

      @if $platform == linux {
        &::-webkit-progress-bar {
          background-color: $activity-blurred-progress-bar-bg-linux;
        }

        &::-webkit-progress-value {
          background-color: $activity-blurred-progress-val-bg-linux;
        }
      }
    }
  }

  .btn {
    flex: 0 0 auto;
    padding: 0;
    width: 12px;
    height: 12px;
    background: $progress-cancel-bg;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    opacity: 0.5;
    margin-left: $space-min;

    .vibrancy:not(.is-blurred) & {
      opacity: 1;
      background-color: $activity-vibrancy-progress-cancel-bg;
      clip-path: path("M0,0V12H12V0ZM9.536,8.828l-.708.708L6,6.707,3.172,9.536l-.708-.708L5.293,6,2.464,3.172l.708-.708L6,5.293,8.828,2.464l.708.708L6.707,6Z");
    }

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $progress-cancel-color;

      .vibrancy:not(.is-blurred) & {
        display: none;
      }
    }

    &:hover,
    &:active {
      opacity: 1;
    }

    &:active {
      background: $icon-active-color;

      .icon {
        color: $progress-cancel-color;
      }
    }
  }
}
