// sass-lint:disable no-important

//
// Activity
// --------------------------------------------------

.activity-pane {
  height: 0;
  overflow: hidden;
  transition:
    height
    $activity-transition-duration
    $activity-transition-timing-function;
  font-size: $font-size-small;

  &.busy {
    display: block;
  }
}

.activity {
  @keyframes activity-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  display: flex;
  align-items: center;
  border-top: 1px solid $activity-border-color;
  padding: 0 $default-padding-horizontal;
  animation: activity-in 0.125s ease both;
  height: $activity-height;

  .activity-container {
    flex: 1 1 0;
    min-width: 0;
  }

  .flex-row {
    justify-content: space-between;
  }

  .flex-row:nth-child(2) {
    margin-bottom: 6px;
  }

  .activity-text {
    @include css-truncation;
    margin-right: auto;
  }

  .progress-bar {
    flex: 1 1 auto;
    margin-right: $space-min;
  }

  .btn {
    flex: 0 0 auto;
    padding: 0;
    width: 12px;
    height: 12px;
    background: $progress-cancel-bg;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    opacity: 0.5;
    margin-left: $space-min;

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $progress-cancel-color;
    }

    &:hover,
    &:active {
      opacity: 1;
    }

    &:active {
      background: $icon-active-color;

      .icon {
        color: $progress-cancel-color;
      }
    }
  }
}


