//
// Auto resizer
// --------------------------------------------------

.auto-resizer {
  flex: 0 0 auto;
  margin-right: auto;
  position: relative;
  max-width: 100%;

  .content {
    @include css-truncation;
    color: transparent;
    line-height: normal; // Todo: only when containing editables
    min-width: $space-sm;
    white-space: pre;

    &:empty {
      &::before {
        content: "\200b";
      }
    }
  }

  :last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
