//
// Button group
// --------------------------------------------------

.btn-group {
  flex: 0 0 auto;
  display: flex;

  .btn {
    position: relative;

    & + .btn {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .btn-toggle {
    &:has(:checked) {
      z-index: 1;
    }
  }
}
