//
// Button
// --------------------------------------------------

.btn {
  font: {
    family: inherit;
    size: inherit;
  }
  color: inherit;
  border: 0;
  border-radius: $border-radius-small;
  padding: $padding-base-vertical $padding-base-horizontal;
  display: inline-block; // For span as btn

  &[disabled] {
    opacity: $btn-disabled-opacity;
  }

  .draggable & {
    .frameless & {
      -webkit-app-region: no-drag;
    }
  }
}

.btn-lg {
  font-size: $font-size-large;
  height: $input-height-large;
  padding: 0 $padding-large-horizontal;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-default {
  color: $btn-default-color;
  background: $btn-default-bg;
  border: 1px solid $btn-default-border;

  &:active {
    background: $btn-default-active-bg;
  }
}

.btn-primary {
  color: $btn-primary-color;
  background: $btn-primary-bg;

  &:active {
    background: $btn-primary-active-bg;
  }
}

.btn-icon {
  background: $btn-icon-bg;
  padding: $btn-icon-padding;
  line-height: 1;

  .icon {
    vertical-align: top;
  }

  &:active {
    .icon {
      color: $icon-active-color;
    }

    &[disabled] {
      .icon {
        color: $icon-color;
      }
    }
  }
}
