//
// Cover image
// --------------------------------------------------

.cover-image {
  box-sizing: content-box;
  position: relative;
}

.stack-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $stack-bg;
  z-index: 1;

  .line {
    background: $stack-color;
    margin-bottom: 1px;

    $i: $tile-thumbnail-size-min;

    @while $i <= $tile-thumbnail-size-max {
      [data-size="#{$i}"] & {
        height: #{round($i / 32)}px;

        @for $j from 1 through $stack-size-max {
          &.line-#{$j} {
            margin-left: #{round($i * $j / 16)}px;
            margin-right: #{round($i * $j / 16)}px;
          }
        }
      }

      $i: $i + $tile-size-step-min;
    }
  }
}

.item-table {
  .cover-image {
    position: absolute;
    left: $component-padding-horizontal;
    top: ($row-height - $thumbnail-size) / 2;

    .stack-lines {
      background: transparent;

      .line {
        height: 1px;
      }

      @for $i from 1 through $stack-size-max {
        .line-#{$i} {
          margin-left: $i * 2px;
          margin-right: $i * 2px;
        }
      }

      & + .thumbnail {
        -webkit-clip-path: inset(4px 0 0 0);

        .icon-photo {
          g {
            transform: translateY(2px);
          }
        }
      }
    }
  }

  &:focus {
    .active {
      .cover-image {
        .line {
          background: $stack-active-color;
        }
      }
    }
  }
}
