//
// Description List
// --------------------------------------------------

dl {
  margin: 0;
  line-height: $dl-line-height;

  dt {
    color: $dt-color;
  }

  dd {
    margin: 0;
  }

  &.dl-horizontal {
    display: flex;
    flex-wrap: wrap;

    dt, dd {
      @include css-truncate;
    }

    dt {
      flex: 0 0 $dl-horizontal-offset;
      text-align: right;
      padding-left: $component-padding-horizontal;
      padding-right: ($dl-gutter / 2);
    }

    dd {
      flex: 0 0 calc(100% - #{$dl-horizontal-offset});
      padding-left: ($dl-gutter / 2);
      padding-right: $component-padding-horizontal;
      max-width: 100%;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}