//
// Drag Layer
// --------------------------------------------------

.drag-layer {
  position: fixed;
  pointer-events: none;
  z-index: $zindex-drag-layer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.drag-preview {
  position: absolute; // Collapse width

  &.center {
    transform: translate(-50%, -50%);
  }

  .drag-preview-container {
    opacity: $drag-preview-opacity;

    @include variant(".drag-preview.list") {
      display: flex;
      align-items: center;
      height: $line-height-large;

      .icon {
        margin-right: $space-xs;
      }
    }

    @include variant(".drag-preview.metadata-field") {
      display: flex;
      align-items: center;
      line-height: $metadata-line-height;
      padding-left: $metadata-gutter / 2;
    }
  }

  .thumbnail,
  img {
    --width: var(--x) * #{$drag-preview-size};
    --height: var(--y) * #{$drag-preview-size};
    width: calc(var(--width));
    height: calc(var(--height));
  }

  .thumbnail {
    opacity: $drag-preview-thumbnail-opacity;

    [class*="90"],
    [class*="270"] {
      img {
        --width: var(--y) * #{$drag-preview-size};
        --height: var(--x) * #{$drag-preview-size};
      }
    }
  }
}
