//
// Drag Layer
// --------------------------------------------------

.drag-layer {
  position: fixed;
  pointer-events: none;
  z-index: $zindex-drag-layer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.item-drag-preview {
  opacity: $item-drag-preview-opacity;
  position: absolute; // Collapse width
  transform: translate(-$space-sm, -$space-sm);

  .cover-image {
    opacity: $item-drag-preview-badge-opacity;
  }
}
