//
// Editable
// --------------------------------------------------

.editable-control {
  font: {
    family: inherit;
    size: inherit;
    weight: inherit;
  }
  text-align: inherit;
  position: relative;
  left: -($editable-border-width + $editable-padding-horizontal);
  width: calc(
    100% + #{$editable-border-width + $editable-padding-horizontal}
  );
  line-height: normal;
  padding: $editable-padding-vertical $editable-padding-horizontal;
  border: $editable-border-width solid $editable-border-color;
  color: $editable-color;
  background: $editable-bg;
  border-radius: $editable-border-radius;
  margin: -2em 0; // For the sake of safety
  background-clip: padding-box;
}
