//
// Editable
// --------------------------------------------------

.editable-control {
  @include form-control-focus;
  font: {
    family: inherit;
    size: inherit;
    weight: inherit;
  }
  text-align: inherit;
  position: relative;
  left: -($editable-border-width + $editable-padding-horizontal);
  width: calc(
    100% + #{$editable-border-width + $editable-padding-horizontal}
  );
  line-height: 1em * $line-height-base;
  padding: $editable-padding-vertical $editable-padding-horizontal;
  border: $editable-border-width solid $editable-border-color;
  color: $editable-color;
  background: $editable-bg;
  border-radius: $editable-border-radius;
  margin: -2em 0; // For the sake of safety
}

td {
  span {
    &.editable {
      &.empty {
        display: block;
        width: 100%;
        height: $row-height;
      }
    }
  }
}
