//
// Editable
// --------------------------------------------------

.editable {
  flex: 1 1 auto;
  min-width: 0; // Fix truncation
}

.editable-control {
  flex: 1 1 auto;
  font: {
    family: inherit;
    size: inherit;
    weight: inherit;
  }
  text-align: inherit;
  margin: -($editable-border-width + $editable-padding-horizontal);
  width: calc(
    100% + #{2 * ($editable-border-width + $editable-padding-horizontal)}
  );
  line-height: normal;
  padding: $editable-padding-vertical $editable-padding-horizontal;
  border: $editable-border-width solid $editable-border-color;
  color: $editable-color;
  background: $editable-bg;
  border-radius: $editable-border-radius;
  background-clip: padding-box;
}
