//
// Esper
// --------------------------------------------------

.esper {
  height: 100%;
  background: $esper-bg;
  display: flex;
  flex-direction: column;
  position: relative;

  .esper-header {
    flex: 0 0 auto;
    background: $esper-toolbar-bg;

    .toolbar {
      background: $esper-toolbar-bg;
    }
  }

  &:hover {
    .toolbar {
      opacity: 1;
    }
  }

  img {
    flex: 0 0 0;
    align-self: center;
    max-width: 100%;
    max-height: calc(100% - #{$toolbar-height + $space-min});
  }
}
