// sass-lint:disable no-color-literals

//
// Esper
// --------------------------------------------------

.esper {
  height: 100%;
  background: $esper-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .esper-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: $zindex-esper-header;

    &.window-draggable {
      position: absolute;
    }
  }

  .toolbar {
    background: $esper-toolbar-bg;
    transform: translate3d(0, -100%, 0);
    padding-top: 0;
    height: $toolbar-height;
    transition: transform $esper-toolbar-transition-out;
    margin: 0;

    @at-root #{selector-replace(&, ".esper", ".esper:hover")} {
      transform: translate3d(0, 0, 0);
      transition: transform $esper-toolbar-transition-in;
    }

    .tool-group {
      & + .tool-group {
        margin-left: $space-lg;
      }
    }

    .btn-icon {
      .icon {
        color: $esper-icon-color;
      }

      &:active {
        .icon {
          color: $icon-active-color;
        }

        &[disabled] {
          .icon {
            color: $esper-icon-color;
          }
        }
      }

      & + .btn-icon {
        margin-left: $space-min / 2;
      }
    }

    .slider {
      margin-top: 0;
    }
  }

  .esper-view {
    width: 100%;
    height: 100%;

    canvas {
      position: absolute;
    }
  }

  @each $key, $val in $esper-cursor {
    &.#{$key} {
      .esper-view {
        cursor: -webkit-image-set(
          image-url("esper/#{map-get($val, 'default')}@1x.svg") 1x,
          image-url("esper/#{map-get($val, 'default')}@2x.svg") 2x
        ) map-get($val, "x") map-get($val, "y"), default;
      }
    }
  }

  .toolbar {
    .tool-group {
      > .btn-icon {
        &.active {
          background: $esper-btn-active-bg;

          .icon {
            color: $esper-btn-active-color;
          }
        }
      }
    }
  }

  .slider {
    height: $toolbar-height;
  }

  .slider-track {
    background: $esper-slider-track-bg;
  }

  .slider-range {
    background: $esper-slider-range-bg;
  }

  .slider-handle {
    background-color: $esper-slider-handle-bg;
    border-color: $esper-slider-handle-border;
  }

  .slider-value {
    color: $esper-slider-value-color;
  }
}
