//
// Icons
// --------------------------------------------------

.icon {
  display: inline-block;
  color: $icon-color;

  svg {
    display: block;

    @if $icon-style == "line" {
      .block {
        display: none;
      }
    } @else {
      .line {
        display: none;
      }
    }
  }
}

.icon-item {
  width: $thumbnail-size;
  height: $thumbnail-size;
  color: $thumbnail-color;
  background: $thumbnail-bg;
}

.icon-spin {
  color: $icon-spin-color;
}
