//
// Icons
// --------------------------------------------------

.icon {
  display: inline-block;

  svg {
    display: block;
    color: $icon-color;

    @if $icon-style == "line" {
      .block {
        display: none;
      }
    } @else {
      .line {
        display: none;
      }
    }
  }
}

.icon-item {
  width: $thumbnail-size;
  height: $thumbnail-size;

  svg {
    color: $thumbnail-color;
    background: $thumbnail-bg;
  }
}

.icon-spin {
  svg {
    color: $icon-spin-color;
  }
}
