//
// Icons
// --------------------------------------------------

.icon {
  display: inline-block;

  svg {
    display: block;
    fill: $icon-color;

    @if $icon-style == "line" {
      .block {
        display: none;
      }
    } @else {
      .line {
        display: none;
      }
    }
  }
}