//
// Icon
// --------------------------------------------------

.icon {
  display: inline-block;
  fill: $gray;

  .block {
    display: none;
  }

  &.active {
    #sidebar & {
      fill: darken($gray, 13.5%);
    }
  }

  &.blockActive {
    .line {
      display: none;
    }

    .block {
      display: block;
    }
  }

}