//
// Items
// --------------------------------------------------

#items {
  flex-basis: calc(100% - #{$panels-default-width});
  display: flex;
  flex-direction: column;

  .toolbar {
    padding: {
      left: ($component-padding-horizontal + $space-min);
      right: ($component-padding-horizontal + $space-min);
    }
  }
}

.cover-image {
  box-sizing: content-box;

  img,
  .icon-item {
    width: 100%;
    height: 100%;
  }
}
