//
// Items
// --------------------------------------------------

#items {
  flex-basis: calc(100% - #{$panels-default-width});
  padding: 0 $space-min;
  display: flex;
  flex-direction: column;

  .item-list {
    .item {

    }
  }

  // List view
  &.list-view {
    .item-list-head {
      border: {
        top: 1px solid $item-list-header-border-color;
        bottom: 1px solid $item-list-header-border-color;
      }
      color: $item-list-header-color;
    }

    .item-list-container {
      background: repeating-linear-gradient(to bottom, $items-odd-bg,
        $items-odd-bg $row-height, transparent $row-height,
        transparent (2 * $row-height);
      flex: 1 1 auto;
      overflow-y: scroll;
    }

    .item-list {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .item-head,
    .item {
      display: table-row;

      &.active {
        color: $items-active-color;
        background: $items-active-bg;
      }

      .metadata-head,
      .metadata {
        display: table-cell;
        vertical-align: middle;
        @include css-truncate;
        padding: 0 $space-xs;
      }
    }

    .item-head {
      height: $item-list-header-height;
    }

    .item {
      height: $row-height;
    }
  }

  // Grid view
  &.grid-view {
    .item-list-head {
      display: none;
    }
  }
}