//
// Item table view
// --------------------------------------------------

.item-table-view {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 $space-min;

  .table-head {
    box-sizing: content-box;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: {
      top: 1px solid $item-table-header-border-color;
      bottom: 1px solid $item-table-header-border-color;
    }
    color: $item-table-header-color;
  }

  .metadata-head,
  .metadata {
    padding: 0 $space-xs 0 ($space-xs + 1px);
    position: relative;

    &:last-child {
      padding-right: $space-sm;
    }

    &.number {
      text-align: right;
    }

    .editable {
      @include css-truncation;
    }
  }

  .metadata-head {
    text-align: left;
    font-weight: 400;
    height: $item-table-header-height;

    &:first-child {
      padding-left: $space-sm;

      &::before {
        content: none;
      }
    }

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 2px;
      bottom: 2px;
      width: 1px;
      background: $item-table-header-border-color;
    }

    &.ascending,
    &.descending {
      color: $item-table-header-sort-color;
    }
  }

  .table-body {
    background: repeating-linear-gradient(to bottom, $items-odd-bg 3px,
      $items-odd-bg ($row-height + 3px), transparent ($row-height + 3px),
      transparent (2 * $row-height + 3px));
    background-attachment: local;
    flex: 1 1 auto;
    overflow-y: scroll;
    padding-top: 3px;
  }

  .item-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  .item {
    .metadata {
      height: $row-height;
    }

    &.active {
      .metadata {
        color: $items-active-color;
        background: $items-active-bg;
      }
    }
  }

  .metadata {
    &:first-child {
      padding-left:
        $component-padding-horizontal
        + $thumbnail-size
        + $padding-base-horizontal;
    }
  }
}
