//
// Item grid
// --------------------------------------------------

.item-grid {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-top: 1px solid $item-table-header-border-color;
  padding-top: $space-min;
  margin: 0 $space-min;
  overflow-y: scroll;
  position: relative;

  &.over {
    background: $drop-target-bg;
    overflow: hidden;

    li {
      mix-blend-mode: multiply;
    }
  }

  .active {
    .thumbnail {
      border-radius: $border-radius-small;
    }

    @for $i from 0 through 56 {
      $size: $i * 4 + 28;
      $border: $i * (28 / 56) + 4px;

      .thumbnail[style*="#{$size}"] {
        border: $border solid $item-grid-active-color;
        outline: ($border - 3px) solid $item-grid-active-outline;
        outline-offset: -$border;
      }
    }

    @for $i from 0 through 32 {
      $size: $i * 8 + 256;
      $border: $i * (48 / 32) + 16px;

      .thumbnail[style*="#{$size}"] {
        border: $border solid $item-grid-active-color;
        outline: ($border - 3px) solid $item-grid-active-outline;
        outline-offset: -$border;
      }
    }
  }

  &:focus {
    .active {
      .thumbnail {
        border-color: $item-grid-focus-color;
      }
    }
  }
}


