//
// Item grid
// --------------------------------------------------

.item-grid {
  flex: 1 1 0;
  border-top: 1px solid $item-table-header-border-color;
  margin: 0 $space-min;
  position: relative;
  display: flex; // Prevent overflow
  flex-direction: column; // Strech scroll-container

  .scroll-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: $space-min;
  }

  &.over {
    @extend %drop-target;
  }
}
