//
// Item table
// --------------------------------------------------

.item-table {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 $space-min;
  position: relative;

  .table-head {
    box-sizing: content-box;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: {
      top: 1px solid $item-table-header-border-color;
      bottom: 1px solid $item-table-header-border-color;
    }
    color: $item-table-header-color;
  }

  .metadata-head,
  .metadata {
    padding: 0 $space-xs 0 ($space-xs + 1px);
    position: relative;

    &:last-child {
      padding-right: $space-sm;
    }

    &.number {
      text-align: right;
    }

    .editable {
      @include css-truncation;
    }
  }

  .metadata-head {
    text-align: justify;
    font-weight: 400;
    height: $item-table-header-height;
    position: relative;

    &:first-child {
      padding-left: $space-sm;

      &::before {
        content: none;
      }
    }

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 2px;
      bottom: 2px;
      width: 1px;
      background: $item-table-header-border-color;
    }

    &:active {
      background: $item-table-header-active-bg;

      &::before {
        top: 0;
        bottom: 0;
      }

      & + .metadata-head {
        &::before {
          top: 0;
          bottom: 0;
        }
      }
    }

    &.number {
      .label {
        padding-left: $space-min;
      }

      .icon {
        order: -1;
      }
    }

    &.ascending,
    &.descending {
      color: $item-table-header-sort-color;

      .icon {
        display: block;
      }
    }

    &.descending {
      .icon {
        transform: scaleY(-1);
      }
    }

    &-container {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .label {
      @include css-truncation;
      flex: 1 1 auto;
      padding-right: $space-min;
    }

    .icon {
      display: none;
      margin: 0 -4px 0 -5px;

      svg {
        color: inherit;
      }
    }
  }

  .table-body {
    background-image: repeating-linear-gradient(to bottom, $items-odd-bg 3px,
      $items-odd-bg ($row-height + 3px), transparent ($row-height + 3px),
      transparent (2 * $row-height + 3px));
    background-attachment: local;
    flex: 1 1 auto;
    overflow-y: scroll;
    padding-top: 3px;
    position: relative;

    &.over {
      overflow: hidden;
      background-color: $drop-target-bg;
      background-blend-mode: multiply;

      table {
        mix-blend-mode: multiply;
      }
    }

    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }
  }

  .item {
    .metadata {
      height: $row-height;
    }

    &.active {
      .metadata {
        color: inherit;
        background: $items-active-bg;
      }
    }

    &.over {
      .metadata {
        background: $blue-light;
      }
    }
  }

  &:focus {
    .item {
      &.active {
        .metadata {
          color: $items-focus-color;
          background: $items-focus-bg;
        }
      }
    }
  }

  .metadata {
    &:first-child {
      padding-left:
        $component-padding-horizontal
        + $thumbnail-size
        + $padding-base-horizontal;
    }
  }
}
