//
// Item grid
// --------------------------------------------------

.item-grid {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-top: 1px solid $item-table-header-border-color;
  padding: $space-min;
  margin: 0 $space-min;
  overflow-y: scroll;
  position: relative;

  &.over {
    background: $drop-target-color;
    overflow: hidden;

    li {
      mix-blend-mode: multiply;
    }
  }
}
