//
// Items
// --------------------------------------------------

#items {
  flex-basis: calc(100% - #{$panels-default-width});
  display: flex;
  flex-direction: column;

  .toolbar {
    padding: {
      left: $component-padding-horizontal;
      right: ($component-padding-horizontal + $space-min);
    }
  }
}

.cover-image {
  box-sizing: content-box;
  position: relative;

  .item-table-view & {
    position: absolute;
    left: $component-padding-horizontal;
    top: ($row-height - $thumbnail-size) / 2;
  }

  .active & {
    .item-grid-view & {
      border: $space-min solid $brand-primary;
    }
  }

  .over & {
    .item-grid-view & {
      border: $space-min solid $items-over-bg;
    }
  }

  img,
  .icon-item {
    width: 100%;
    height: 100%;
  }

  &.stack {
    .item-table-view & {
      img,
      .icon-item {
        -webkit-clip-path: inset(4px 0 0 0);
      }

      .icon-item {
        g {
          transform: translateY(2px);
        }
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background: $cover-image-color;

      .active & {
        .item-table-view & {
          background: $cover-image-active-color;
        }

        .item-grid-view & {
          content: none;
        }
      }

      .over & {
        .item-grid-view & {
          content: none;
        }
      }
    }

    &::before {
      left: 4px;
      width: calc(100% - 8px);

      .item-table-view & {
        top: 0;
      }

      .item-grid-view & {
        top: -4px;
      }
    }

    &::after {
      left: 2px;
      width: calc(100% - 4px);

      .item-table-view & {
        top: 2px;
      }

      .item-grid-view & {
        top: -2px;
      }
    }
  }
}
