//
// Metadata
// --------------------------------------------------

$component-padding-horizontal: 12px !default;

.metadata.tab-pane {
  overflow-y: scroll;
}

.metadata-heading {
  font-size: $font-size-small;
  color: $panel-heading-color;
  line-height: $metadata-line-height;
  margin: ($font-size-base / 2) $component-padding-horizontal 0;

  .scrollbar-style-old-school & {
    margin-right: ($component-padding-horizontal - $scrollbar-size / 3);
  }

  &.separator {
    margin-bottom: (($metadata-line-height - 10px) / 2); // 10px: Caps height
    border-bottom: 1px solid $panel-separator-color;
  }
}

.form-control {
  &.template-select {
    width: calc(100% - 2 * #{$component-padding-horizontal});
    margin: auto;
    border-color: $template-select-border;
    font-size: $font-size-small;
    margin-bottom: (($metadata-line-height - 10px) / 2);
    background-color: $template-select-bg; // 'Transparent' causes border/box-shadow issue

    .scrollbar-style-old-school & {
      width: calc(100% - 2 * #{$component-padding-horizontal}
        + #{$scrollbar-size} / 3);
      margin-left: $component-padding-horizontal;
    }
  }
}

.metadata-fields {
  .metadata-field {
    display: flex;
    line-height: $metadata-line-height;

    &.extra {
      label {
        font-style: italic;
      }
    }
  }

  label,
  .editable {
    @include css-truncation;
  }

  label {
    flex: 0 0 $metadata-horizontal-offset;
    text-align: right;
    padding-left: $component-padding-horizontal;
    padding-right: ($metadata-gutter / 2);
    color: $label-color;
  }

  .value {
    flex: 0 0 calc(100% - #{$metadata-horizontal-offset});
    padding-left: $metadata-gutter / 2
      - ($editable-border-width + $editable-padding-horizontal);
    padding-right: $component-padding-horizontal;
    min-width: 0; // Fix truncation

    .scrollbar-style-old-school & {
      padding-right: ($component-padding-horizontal - $scrollbar-size / 3);
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  div {
    &.editable {
      padding-left: $editable-border-width + $editable-padding-horizontal;
      height: 100%; // For empty fields
    }
  }

  .editable-control {
    left: auto;
    width: 100%;
  }
}
