//
// Panels
// --------------------------------------------------

#panel-group {
  display: flex;
  flex-direction: column;
  height: 100%;

  .panel-group-header {
    .toolbar {
      background: $panels-bg;
    }
  }

  .panel-group-body {
    flex: 1 1 0;
    height: calc(100% - #{$toolbar-height + $space-min});
  }
}
