//
// Panel
// --------------------------------------------------

.panel {
  background: $panel-bg;
  height: (100% / 3);
  display: flex;
  flex-direction: column;
  position: relative;

  .panel-header {
    flex: 0 0 $panel-header-height;
    color: $panel-header-color;
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: $space-min;

    &::after {
      //content: " ";
      position: absolute;
      top: 100%;
      left: $component-padding-horizontal;
      right: $component-padding-horizontal;
      height: 1px;
      background: $panel-header-shadow;
    }

    nav {
      width: 100%;
    }
  }

  .panel-body {
    flex: 1 1 auto;
    overflow-y: scroll;
    margin-bottom: $space-min;
    //padding-top: $space-min;
  }
}
