//
// Panels
// --------------------------------------------------

.panel-group {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  min-height: 0;

  .panel-group-body {
    flex: 1 1 0;
    height: calc(100% - #{$toolbar-height + $space-min});
  }

  .panel {
    margin-bottom: $space-min;

    @include variant(
      ".panel-group > .panel:last-child",
      ".resizable:last-child .panel"
    ) {
      margin-bottom: 0;
    }
  }
}
