//
// Panels
// --------------------------------------------------

#panel-group {
  width: $panels-default-width;
  display: flex;
  flex-direction: column;

  > header {
    .toolbar {
      background: $panels-bg;
    }
  }

  .panel + .panel {
    margin-top: $space-min;
  }
}
