//
// Panel
// --------------------------------------------------

.panel {
  background: $panel-bg;
  flex: 1 1 calc(100% / 3); // More generic solution possible?
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .panel-header {
    flex: 0 0 $panel-header-height;
    color: $panel-header-color;
    display: flex;
    position: relative;
    z-index: 1;

    &:after {
      content: " ";
      position: absolute;
      top: 100%;
      left: $component-padding-horizontal;
      right: $component-padding-horizontal;
      height: 1px;
      background: rgba($panel-header-shadow, 0.08);
    }
  }

  .panel-body {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: $space-min;
    padding-top: $space-min;
  }
}