//
// Panel
// --------------------------------------------------

.panel {
  flex: 1 1 auto;
  background: $panel-bg;
  display: flex;
  flex-direction: column;
  position: relative;
  contain: content;

  &.nested-tab-focus:not(:has(.panel-body .active)) {
    background-color: $panel-focus-bg;
  }

  .is-blurred .item-mode & {
    @if $platform == darwin {
      background-color: $panel-blurred-bg-darwin;
    }
  }

  .panel-header {
    flex: 0 0 $panel-header-height;
    display: flex;
    color: $panel-header-color;
    position: relative;
    z-index: 1;
    contain: strict;
  }

  .panel-header-container {
    padding: 0 $default-padding-horizontal;
    min-width: 0;

    > .icon {
      margin-right: $space-xs;
    }
  }

  .panel-heading {
    flex: 1 1 auto;

    &.truncate {
      @include css-truncation;
    }
  }

  .panel-body {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    display: flex; // Prevent overflow
    flex-direction: column;
    contain: content;
    min-height: 0;
  }
}
