//
// Photo grid
// --------------------------------------------------

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: $space-min $component-padding-horizontal 0;
  min-height: calc(100% - 4px);

  .photo {
    position: relative;
  }
}
