//
// Photo list
// --------------------------------------------------

.photo-list {
  line-height: $row-height;

  .photo {
    display: flex;
    align-items: center;
    padding: 0 $component-padding-horizontal;

    &.active {
      color: $photo-active-color;
      background: $photo-active-bg;
    }
  }

  .thumbnail {
    margin-right: $space-xs;
  }

  .title {
    flex: 1 1 0;
    min-width: 0; // Fix truncation

    .editable {
      @include css-truncation;
    }
  }
}
