//
// Plugins
// --------------------------------------------------

.plugins {
  .panel {
    .panel-header {
      display: block; // Not flex
    }

    .panel-header-container {
      padding-top: $space-sm + 2px; // 20px to x-height
      padding-bottom: $space-sm;
    }

    .panel-heading {
      font-size: $h1-font-size;
      line-height: $headings-line-height;
      margin-bottom: 1px;

      .version {
        font-size: $font-size-base;
      }
    }

    p {
      margin: 0;
    }

    .no-info {
      font-style: italic;
      color: $no-info-color;
    }

    .flex-row {
      margin-top: $space-sm - 5px;

      .btn-group {
        margin-left: auto;
      }
    }

    .panel-body {
      padding: ($space-lg + 1px) $default-padding-horizontal $space-lg;

      &::before {
        content: "";
        position: absolute;
        left: $default-padding-horizontal;
        right: $default-padding-horizontal;
        top: 0;
        height: 1px;
        background-color: $accordion-border-color;
      }
    }

    &.disabled {
      .panel-body {
        display: none;
      }

      .panel-heading,
      .description,
      a,
      .no-info {
        opacity: 0.5;
      }
    }
  }

  .plugin-instance {
    display: flex;
    align-items: center;
    margin-bottom: $space-min;

    &:last-child {
      margin-bottom: 0;
    }

    fieldset {
      margin-right: 6px;
      background: $plugin-instance-bg;
    }

    .btn-icon {
      flex: 0 0 auto;
      padding: {
        left: 2px;
        right: 2px;
      }
    }
  }

  .plugins-footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    padding: $space-lg;

    .btn + .btn {
      margin-left: $space-xs;
    }
  }
}
