//
// Plugins
// --------------------------------------------------

.plugins {
  .panel {
    background-color: $vocab-panel-bg;
  }

  .panel-body {
    padding: $space-sm $default-padding-horizontal;
  }

  .plugins-header {
    margin-bottom: $space-sm;
    padding: 0 $space-xs;
  }

  .panel-header .disabled {
    .panel-heading::after {
      /* just an example of highlighting a disabled plugin */
      content: ' [Disabled]';
    }
  }

  fieldset {
    background: $property-bg;
    padding: 5px $space-xs;

    label[title] {
      /* possibly highlight labels that have a title
      text-decoration-line: underline;
      text-decoration-style: dotted; */
    }
  }

  .plugins-footer {
    flex: 0 0 auto;
    padding: $space-xs ($space-lg + $space-sm - $btn-icon-padding);
  }
}
