//
// Plugins
// --------------------------------------------------

.plugins {
  .panel {
    @include form-shading-level(2);
    border-left: 3px solid $plugin-indicator;

    @include variant(".panel-group .panel") { // Needed for specificity
      margin-bottom: $space-sm;
    }

    .panel-header {
      display: block; // Not flex
    }

    .panel-header-container {
      padding-top: $space-sm + 2px; // 20px to x-height
      padding-bottom: $space-sm;
    }

    .panel-heading {
      font-size: $h1-font-size;
      line-height: $headings-line-height;
      margin-bottom: 2px;

      .version {
        font-size: $font-size-base;
      }
    }

    p {
      margin: 0;
    }

    .no-info {
      font-style: italic;
      color: $no-info-color;
    }

    .flex-row {
      margin-top: $space-sm - 5px;

      .btn-group {
        margin-left: auto;
      }
    }

    .hooks {
      display: inline-flex;
      float: right;
      margin-top: -1px;

      li {
        font-size: 11px;
        color: $hook-color;
        background-color: $hook-bg;
        padding: 1px 5px;
        border-radius: $border-radius-small;
        margin-left: $space-min / 2;
      }
    }

    .panel-body {
      padding:
        ($space-sm + 1px)
        ($default-padding-horizontal - 2px)
        $space-sm
        $default-padding-horizontal;

      &::before {
        content: "";
        position: absolute;
        left: $default-padding-horizontal;
        right: $default-padding-horizontal;
        top: 0;
        height: 1px;
        background-color: $plugin-border-color;
      }
    }

    &.disabled {
      border-left-color: $plugin-disabled-indicator;

      .panel-header {
        .panel-heading,
        .description,
        a,
        .no-info,
        .hooks {
          opacity: 0.5;
        }

        &,
        * {
          cursor: default;
        }

        a {
          cursor: pointer;
        }
      }

      .panel-body {
        display: none;
      }
    }

    .plugin-instance {
      display: flex;
      align-items: center;
      margin-bottom: $space-min;

      &:last-child {
        margin-bottom: 0;
      }

      fieldset {
        @include form-shading-level(3);
        margin-right: $space-sm - 3px;
        padding: 20px;
      }

      .form-group {
        margin-top: $space-sm;

        &:first-child {
          margin-top: 0;
        }

        &.compact {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .checkbox {
        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }

      .btn-icon {
        flex: 0 0 auto;
        padding: {
          left: 2px;
          right: 2px;
        }
      }
    }

    &.active {
      @include state(".plugins .accordion:focus-visible") {
        @include form-shading-level(3);

        &.disabled {
          border-left-color: $plugin-active-disabled-indicator;
        }

        .panel-body {
          &::before {
            background-color: $plugin-active-border-color;
          }
        }

        .plugin-instance {
          fieldset {
            @include form-shading-level(4);
          }
        }
      }
    }
  }

  .plugins-footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    padding: $space-lg;

    .btn + .btn {
      margin-left: $space-xs;
    }
  }
}
