//
// Popup
// --------------------------------------------------

#popup-root {
  position: absolute;
  left: 0;
  top: 0;
  z-index: $zindex-popup;

  .popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: $popup-bg;
    margin: -$popup-focus-shadow-width;
    border: ($input-border-width + $popup-focus-shadow-width) solid $input-color-focus;
    border-radius: $input-border-radius-small + $popup-focus-shadow-width;
    background: red;

    &.top {
      margin-top: (-$input-border-width - $popup-focus-shadow-width);
      border-top: 0;
      padding-top: $input-border-radius-small - $input-border-width;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      .option-list {
        margin-bottom: $option-list-margin;
      }
    }

    &.bottom {
      margin-top: ($input-border-width + $popup-focus-shadow-width);
      border-bottom: 0;
      padding-bottom: $input-border-radius-small - $input-border-width;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: green;

      .option-list {
        margin-top: $option-list-margin;
      }
    }
  }
}
