//
// Popup
// --------------------------------------------------

#popup-root {
  position: absolute;
  left: 0;
  top: 0;
  z-index: $zindex-popup;

  .popup {
    height: initial;
    padding: initial;
    position: absolute;
    background: $popup-bg;
    border: (1px + $popup-focus-shadow-width) solid $input-color-focus;
    border-top: 0;
    margin: (-1px - $popup-focus-shadow-width) (-$popup-focus-shadow-width) 0;
    padding-top: $input-border-radius-small - 1px;
    border-bottom-left-radius: $input-border-radius-small + $popup-focus-shadow-width;
    border-bottom-right-radius: $input-border-radius-small + $popup-focus-shadow-width;
  }
}
