//
// Preferences
// --------------------------------------------------

html {
  @if $platform == win32 {
    border-top: 1px solid #dadbdc;
  }
}

.prefs {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $prefs-bg;

  .prefs-header {
    flex: 0 0 auto;
    border-bottom: 1px solid $prefs-header-border;

    .frameless & {
      -webkit-app-region: drag;
    }

    .is-blurred & {
      @if $platform == darwin {
        background-color: $prefs-header-blurred-bg-darwin;

        > * {
          opacity: $toolbar-blurred-opacity-darwin;
        }
      }
    }
  }

  .toolbar {
    text-align: center;
    padding: 1px 0;
  }

  .prefs-nav {
    ul {
      display: flex;
      justify-content: center;
    }
  }

  .pane-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    background: transparent;
    font-size: 11px;
    line-height: 22px;
    padding: 7px $space-sm 0;
    -webkit-font-smoothing: subpixel-antialiased;

    .frameless & {
      padding-top: 1px;
    }

    &.active {
      .line {
        display: none;
      }

      .block {
        display: block;
      }
    }
  }

  .prefs-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .pane {
    display: none;

    &.active {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
  }

  .scroll-container {
    padding: $space-lg $space-lg 0;

    .scrollbar-style-old-school & {
      padding-right: ($space-lg - $scrollbar-size);
    }

    @include variant(".app .scroll-container") {
      padding-bottom: $space-lg;
    }
  }
}
