//
// Preferences
// --------------------------------------------------

.prefs {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $prefs-bg;

  .titlebar {
    height: zoom($toolbar-frameless-height);
    color: $prefs-title-color;

    .is-blurred & {
      background-color: $prefs-titlebar-blurred-bg;
    }

    .toolbar-center {
      flex: 1 1 0;

      @if $platform == darwin {
        justify-content: center;
        font-weight: 700;
      }

      @if $platform == win32 {
        padding-left: $space-xs;
      }

      @if $platform == linux {
        justify-content: center;
        font-size: zoom(14.667px);
        font-weight: 700;
      }
    }
  }

  .prefs-view {
    flex: 1 1 0;
    display: flex;

    .frameless & {
      border-top: 1px solid $prefs-border;
    }
  }

  .prefs-header {
    flex: 0 0 220px;
    padding: ($space-lg - 2px) $default-spacing-x;
    border-right: 1px solid $prefs-border;
    min-width: 0;
  }

  .pane-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    color: $prefs-pane-toggle-color;
    background-color: transparent;
    padding: 0 $space-xs;
    border-radius: $border-radius-small;

    &.active {
      color: $prefs-pane-toggle-active-color;
      background-color: $prefs-pane-toggle-active-bg;
    }

    .icon {
      margin-right: $space-xs - 1px;

      .pane-toggle.active :is(&) {
        color: $prefs-pane-toggle-active-icon-color;
      }
    }
  }

  .prefs-body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
  }

  .pane {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .scroll-container {
    padding: $space-lg $space-lg 0;

    .scrollbar-style-old-school & {
      padding-right: ($space-lg - $scrollbar-size);
    }

    .app :is(&) {
      padding-bottom: $space-lg;
    }
  }
}
