//
// Preferences
// --------------------------------------------------

.prefs {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $prefs-bg;

  .titlebar {
    @if $platform == darwin {
      justify-content: center;
      align-items: center;
      font-weight: 700;
      color: os($prefs-title-color);
    }

    .is-blurred & {
      @if $platform == darwin {
        background-color: os($prefs-titlebar-blurred-bg);
      }
    }
  }

  .prefs-view {
    flex: 1 1 0;
    display: flex;
    border-top: 1px solid $prefs-border;
  }

  .prefs-header {
    flex: 0 0 200px;
    padding: ($space-lg - 2px) $default-padding-horizontal;
    border-right: 1px solid $prefs-border;
    min-width: 0;
  }

  .pane-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    color: $prefs-pane-toggle-color;
    background-color: transparent;
    padding: 0 $space-xs;
    border-radius: $border-radius-small;

    &.active {
      color: $prefs-pane-toggle-active-color;
      background-color: $prefs-pane-toggle-active-bg;
    }

    .icon {
      margin-right: $space-xs - 1px;

      @include state(".pane-toggle.active") {
        color: $prefs-pane-toggle-active-icon-color;
      }
    }
  }

  .prefs-body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
  }

  .pane {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .scroll-container {
    padding: $space-lg $space-lg 0;

    .scrollbar-style-old-school & {
      padding-right: ($space-lg - $scrollbar-size);
    }

    @include variant(".app .scroll-container") {
      padding-bottom: $space-lg;
    }
  }
}
