//
// Print
// --------------------------------------------------

* {
  box-sizing: border-box;
}

html,
body,
main,
.page {
  height: 100%;
}

html {
  font-family: system-ui;
  font-size: 7pt;
  line-height: 7pt * 1.5; // Needs unit for some reason to be correct
  letter-spacing: 0.015em;
}

body {
  margin: 0;
  background-color: #fff;
}

.page {
  display: flex;
  page-break-after: always;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.photo-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .show-metadata & {
    @media (orientation: portrait) {
      flex: 0 1 100vw;
    }

    @media (orientation: landscape) {
      flex: 0 1 100vh;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.metadata-container {
  flex: 1 0 auto;
  display: flex;
}

.col {
  @media (orientation: portrait) {
    flex: 0 0  50%;

    &:first-child {
      padding-right: 5mm;
    }

    &:last-child {
      padding-left: 5mm;
    }
  }
}

.metadata-heading {
  font-size: inherit;
  font-weight: 400;
  border-bottom: 0.05px solid #000;
}

.metadata-fields {
  list-style-type: none;
}

.metadata-field {
  display: flex;
}

label {
  flex: 0 0 33%;
  text-align: right;
  padding-right: 1.25mm;
  font-weight: 300;
}

.value {
  flex: 0 0 67%;
  padding-left: 1.25mm;
}
