//
// Progress bar
// --------------------------------------------------

progress {
  flex: 1 1 0;
  -webkit-appearance: none;
  height: $progress-bar-height;

  &::-webkit-progress-bar {
    background: $progress-bar-bg;
    border-radius: ($progress-bar-height / 2);
  }

  &::-webkit-progress-value {
    background: $progress-bar-color;
    border-top-left-radius: ($progress-bar-height / 2);
    border-bottom-left-radius: ($progress-bar-height / 2);
  }
}
