//
// Project
// --------------------------------------------------

#project {
  height: 100%;
  overflow: hidden;
}

#project-view {
  display: flex;
  height: 100%;
}

main {
  display: flex;
  flex: 1 1 auto;
}
