//
// Resizable
// --------------------------------------------------

.resizable {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  contain: layout style; // size breaks the layout of the panel-group after collapsing panels

  .resizable-handle {
    &-col,
    &-row {
      position: absolute;
      z-index: $zindex-resizable;
    }

    &-col {
      top: 0;
      bottom: 0;
      width: $resizable-threshold;
      cursor: ew-resize;
    }

    &-left {
      left: calc($resizable-threshold * -1 / 2);
    }

    &-right {
      right: calc($resizable-threshold * -1 / 2);
    }

    &-row {
      left: 0;
      right: 0;
      height: $resizable-threshold;
      cursor: ns-resize;
    }

    &-top {
      top: calc($resizable-threshold * -1 / 2);
    }

    &-bottom {
      bottom: calc($resizable-threshold * -1 / 2);
    }
  }

  &.disabled {
    .resizable-handle-row,
    .resizable-handle-col {
      cursor: default;
    }
  }
}
