//
// Scroll component
// --------------------------------------------------

.scroll-container {
  flex: 1 1 0;
  overflow-y: scroll;
  overscroll-behavior: contain;
  contain: content; // size breaks padding-bottom of app prefs scroll-container

  .popup-open:not(.scrollbar-style-old-school) > :not(#popup-root) & {
    overflow-y: hidden;
  }
}

.runway {
  contain: strict;
  pointer-events: none;
}

.viewport {
  contain: content;

  > * {
    pointer-events: auto;

    .scrolling & {
      pointer-events: none;
    }
  }
}
