//
// Scroll component
// --------------------------------------------------

.scroll-container {
  flex: 1 1 0;
  overflow-y: scroll;
  overscroll-behavior: contain;
  contain: content; // size breaks padding-bottom of app prefs scroll-container

  .popup-open & {
    overflow-y: hidden;

    .scrollbar-style-old-school :is(&) {
      overflow-y: scroll;
    }

    #popup-root :is(&) {
      overflow-y: scroll;
    }
  }
}

.runway {
  contain: strict;
  pointer-events: none;
}

.viewport {
  contain: content;
  will-change: transform;

  > * {
    pointer-events: auto;

    .scrolling & {
      pointer-events: none;
    }
  }
}
