//
// Search
// --------------------------------------------------

.search {
  @include no-drag;
  width: $search-width;
  position: relative;

  .icon-search {
    position: absolute;
    left: ($space-min + 1px);
    top: (($input-height-base - $space-md) / 2);
  }

  .search-input {
    padding-left: ($space-xs + $space-md);
  }
}
