//
// Search
// --------------------------------------------------

.search {
  width: zoom($search-width);
  position: relative;
  -webkit-app-region: no-drag;

  .icon-search {
    position: absolute;
    left: ($space-min + 1px);
    top: calc(($search-height - $space-md) / 2);
    z-index: 4; // Focused form-control in input group has 3
    pointer-events: none;

    .frameless & {
      left: zoom(calc((os($search-frameless-height) - $space-md) / 2));
      top: zoom(calc((os($search-frameless-height) - $space-md) / 2));

      svg {
        width: zoom($space-md);
        height: zoom($space-md);
      }
    }
  }

  .search-input {
    height: $search-height;
    padding-left: ($space-xs + $space-md);
    padding-right: 1px + $clear-button-size + $space-min;
    border-color: $search-border-color;

    &[disabled] {
      background-color: $search-disabled-bg;
    }

    .is-blurred & {
      @if $platform == darwin {
        background-color: $search-blurred-bg-darwin;
      }
    }

    .frameless & {
      height: zoom(os($search-frameless-height));
      padding-left: zoom(calc((os($search-frameless-height) - $space-md) / 2 + $space-md + $space-min));
      padding-right: zoom(calc((os($search-frameless-height) - $clear-button-size) / 2 + $clear-button-size));
      border-radius: zoom(os($search-frameless-border-radius));
    }
  }

  .btn-icon {
    position: absolute;
    right: $space-min + 1px;
    top: calc(($input-height-base - $clear-button-size) / 2);
    width: $clear-button-size;
    height: $clear-button-size;
    background-color: $icon-color;
    padding: 0;
    border-radius: 50%;
    z-index: 4;

    .frameless & {
      right: calc((os($search-frameless-height) - $clear-button-size) / 2 - 1px);
      top: calc((os($search-frameless-height) - $clear-button-size) / 2);
    }

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $clear-search-color;
    }

    &:hover {
      background-color: $icon-color;
    }

    &:active {
      background: $icon-active-color;

      .icon {
        color: $clear-search-color;
      }
    }
  }
}
