//
// Select
// --------------------------------------------------

.select {
  position: relative;
  background-repeat: no-repeat;
  background-position: right $space-min center;
  background-image: if($theme == "light",
    image-url("project/icon-chevron7-light-theme.svg"),
    image-url("project/icon-chevron7-dark-theme.svg"));

  @include input-btn-focus(".focus"); // sass-lint:disable-line mixins-before-declarations

  .query {
    background: transparent;
    border: 0;
  }

  .placeholder,
  .value {
    position: relative;
    width: 100%;
    margin-top: -$input-height-base + 8;
  }

  .clear {
    position: absolute;
    top: -3px;
    right: 2 * $space-min;
  }
}
