//
// Sidebar
// --------------------------------------------------

.sidebar {
  background: $sidebar-bg;
  color: $sidebar-text-color;
  height: 100%;
  line-height: $line-height-large;
  display: flex;
  flex-direction: column;

  .is-blurred & {
    @if $platform == darwin {
      background-color: $sidebar-blurred-bg;
    }
  }

  .toolbar {
    .is-full-screen & {
      display: none;
    }

    .frameless & {
      -webkit-app-region: drag;
    }
  }

  .sidebar-body {
    flex: 1 1 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding-top: $space-xs;

    .frameless:not(.is-full-screen) & {
      padding-top: 0;
    }
  }

  h2,
  h3 {
    color: $sidebar-headings-color;
    padding: 0 $default-padding-horizontal 0 $list-tree-padding-left;

    .is-blurred & {
      @if $platform == darwin {
        color: $sidebar-blurred-headings-color;
      }
    }
  }

  nav {
    li {
      position: relative;

      &.over {
        @extend %drop-target;
        background: transparent; // Remove background from %list-active
      }

      > .list-node-container {
        display: flex;
        align-items: center;
        height: $line-height-large;
        padding-right: $default-padding-horizontal;
        position: relative;

        @include state("li.active") {
          @extend %list-active;

          @if $platform == darwin {
            .is-blurred & {
              background-color: $sidebar-list-blurred-bg;
            }
          }

          @include state(".sidebar :focus") {
            @extend %list-focus;
          }
        }

        &.over:not(.before):not(.after) {
          @extend %drop-target;
        }

        .icon-triangle {
          margin-right: 0;
          transform: rotate(90deg);

          @include state("li.expanded") {
            transform: scaleY(-1);
          }
        }

        .icon-folder {
          @include state("li.holding:not(.active)") {
            position: relative;

            &::after {
              content: "";
              box-sizing: border-box;
              position: absolute;
              right: -3px;
              bottom: -1px;
              width: 7px;
              height: 7px;
              background-color: $sidebar-bg;
              border: 1px solid $icon-color;
            }

            .alt-key & {
              .line {
                display: none;
              }

              .block {
                display: block;
              }

              &::after {
                width: 8px;
                height: 8px;
                right: -4px;
                bottom: -2px;
                background-color: $icon-color;
                border-color: $sidebar-bg;
              }
            }
          }
        }
      }
    }

    .icon-truncate {
      display: flex;
      align-items: center;
      height: $line-height-large; // Prevent clipped holding indicator
      overflow: hidden;

      &.folder {
        flex: 0 10000 auto;
      }
    }

    .icon {
      flex: 0 0 auto;

      .is-blurred & {
        @if $platform == darwin {
          opacity: $sidebar-blurred-icon-opacity-darwin;
        }
      }

      &:first-child {
        margin-right: $space-xs;
      }

      @include variant(".name + .icon") {
        margin-left: $space-xs;
      }

      & + .icon {
        margin-left: $space-min;
      }

      &.icon-lock {
        .line {
          display: none;
        }

        .block {
          display: block;
        }
      }
    }

    .btn-icon {
      padding: 0;
      margin-left: -$space-md;
    }

    .name {
      flex: 1 100000000 auto;
      display: flex;
      min-width: 0; // Fix truncation

      .is-blurred & {
        @if $platform == darwin {
          opacity: $sidebar-blurred-name-opacity-darwin;
        }
      }
    }
  }

  @for $i from 1 through $list-tree-max-levels {
    $sel: if($i == 1, "ol", selector-nest($sel, "ol"));

    #{$sel} {
      .list-node-container {
        padding-left:
          $list-tree-padding-left
          + $list-tree-indent
          * ($i - 1);
      }
    }
  }
}
