//
// Sidebar
// --------------------------------------------------

#sidebar {
  background: $sidebar-bg;
  color: $sidebar-text-color;
  height: 100%;
  line-height: $line-height-large;
  display: flex;
  flex-direction: column;

  .sidebar-body {
    flex: 1 1 auto;
    overflow-y: scroll;
  }

  h2 {
    color: $sidebar-headings-color;
    padding: 0 $component-padding-horizontal;
  }

  .icon {
    margin-right: $space-xs;
  }

  nav {
    li {
      display: flex;
      align-items: center;
      height: $line-height-large;
      padding: 0 $component-padding-horizontal;

      &.active {
        color: $sidebar-active-color;
        background: $sidebar-active-bg;

        .icon {
          svg {
            fill: $sidebar-active-icon-color;
          }
        }
      }
    }

    .icon {
      flex: 0 0 auto;
    }

    .title {
      flex: 1 1 auto;
    }
  }

  .activitypane {
    height: 0;
    overflow: hidden;
    transition:
      height
      $activity-transition-duration
      $activity-transition-timing-function;
    color: $activity-color;
    font-size: $font-size-small;

    &.busy {
      display: block;
    }
  }

  .activity-container {
    border-top: 1px solid $activity-border-color;
    padding: 11px $component-padding-horizontal;
  }

  @at-root {
    @keyframes activity-in {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .activity {
    display: flex;
    align-items: center;
    animation: activity-in 0.2s ease 0.2s both;
  }

  @at-root {
    @keyframes spin {
      0% {
        transform: rotate(0);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .icon-spin {
    animation: spin 1.2s linear infinite;
  }
}
