//
// Sidebar
// --------------------------------------------------

#sidebar {
  background: $sidebar-bg;
  color: $sidebar-text-color;
  flex: 0 0 $sidebar-default-width;
  line-height: $line-height-large;
  display: flex;
  flex-direction: column;

  .resizable-container {
    flex: 1 1 auto;
    position: relative;
    padding-top: $space-min;
  }

  h2 {
    color: $sidebar-headings-color;
    padding: 0 $component-padding-horizontal;
  }

  nav {
    li {
      display: flex;
      align-items: center;
      height: $line-height-large;
      padding: 0 $component-padding-horizontal;

      &.active {
        color: $sidebar-active-color;
        background: $sidebar-active-bg;

        .icon {
          svg {
            fill: $sidebar-active-icon-color;
          }
        }
      }
    }

    .icon {
      flex: 0 0 auto;
      margin-right: $space-xs;
    }

    .title {
      flex: 1 1 auto;
    }
  }
}
