//
// Tabs
// --------------------------------------------------

.tabs {
  display: flex;
  height: $tabs-height;
  background-color: $tab-bg;
  border-radius: $border-radius-base;
  overflow: hidden;

  .nested-tab-focus & {
    background-color: $tab-nested-focus-bg;
  }

  &.justified {
    width: 100%;
  }

  .tab {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $tab-color;
    padding: 0 $tabs-padding-horizontal;
    border-radius: $border-radius-small;
    margin: $input-border-width;

    &.active {
      color: $tab-selected-color;
      background-color: $tab-selected-bg;
      box-shadow: 0 0 0 $input-border-width $tab-selected-border-color;
      position: relative;

      .nested-tab-focus & {
        background-color: $tab-nested-focus-selected-bg;
        box-shadow: 0 0 0 $input-border-width $tab-nested-focus-selected-border-color;
      }
    }

    &:active {
      color: $tab-selected-color;
      background-color: $tab-active-bg;
      box-shadow: 0 0 0 $input-border-width $tab-active-border-color;
    }

    &:not(:last-child) {
      margin-right: 0;
    }

    &:not(.active) {
      :focus-visible & {
        background: $tab-nested-focus-bg;
      }
    }

    &:not(:first-child) {
      margin-left: 0;
    }

    @include variant(".tabs.justified") {
      flex: 1 1 0;
    }

    .icon {
      margin-right: $space-xs;
    }
  }
}
