//
// Tabs
// --------------------------------------------------

.tabs {
  display: flex;

  &.justified {
    width: 100%;
  }

  .tab {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $tabs-height;
    color: $tab-inactive-color;
    background: $tab-bg;
    padding: 0 $tabs-padding-horizontal;
    border: $input-border-width solid transparent;

    &.active {
      color: $tab-color;
      background-color: $tab-selected-bg;
      border-color: $tab-border-color;

      .nested-tab-focus & {
        border-color: $tab-nested-focus-border-color;
      }
    }

    &:active {
      background-color: $tab-active-bg;
      border-color: $tab-active-border-color;
    }

    &:not(.active) {
      .nested-tab-focus & {
        background: $tab-nested-focus-bg;
      }
    }

    &:first-child {
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;

      &.active,
      &:active {
        border-right: 0;
        padding-right: $tabs-padding-horizontal + $input-border-width;
      }
    }

    &:last-child {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;

      &.active,
      &:active {
        border-left: 0;
        padding-left: $tabs-padding-horizontal + $input-border-width;
      }
    }

    @include variant(".tabs.justified") {
      flex: 1 1 0;
    }

    .icon {
      margin-right: $space-xs;
    }
  }
}
