//
// Template editor
// --------------------------------------------------

.template.editor {
  margin-top: $space-lg;

  .template-header {
    padding: 0 54px 0 $space-xs;
  }

  .select-template {
    .form-control {
      flex: 1 1 auto;
    }

    .btn-group {
      flex: 0 0 auto;
      margin-left: $space-xs;
    }

    .btn-icon {
      padding: {
        left: $space-min;
        right: $space-min;
      }
    }

    .icon-new {
      margin: -1px 0;
    }
  }

  .properties {
    margin-top: $space-lg;
  }

  .property {
    display: flex;
    align-items: center;
    margin-bottom: $space-min;
    position: relative;

    .property-container {
      flex: 1 1 auto;
      background: $property-bg;
      padding: 5px $space-xs;
      border-radius: $border-radius-small;
      margin-right: 6px;
    }

    .form-group:last-child {
      margin-bottom: 0;
    }

    .btn-icon {
      flex: 0 0 auto;
      padding: {
        left: 2px;
        right: 2px;
      }
    }
  }

  .icon-grip {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
}
