//
// Thumbnail
// --------------------------------------------------

.thumbnail {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $thumbnail-bg;
  contain: strict;
}

.rotation-container {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  flex: 0 0 auto;
  text-indent: -99em;
  overflow: hidden;
}
