//
// Thumbnail
// --------------------------------------------------

.thumbnail {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $thumbnail-bg;
  contain: strict;

  .rotation-container {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    flex: 0 0 auto;
    text-indent: -99em;
    overflow: hidden;
    object-fit: cover;
  }

  .icon-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $thumbnail-color;

    svg {
      width: calc(100% * 2 / 3);
      height: calc(100% * 2 / 3);
    }
  }
}
