//
// Thumbnail
// --------------------------------------------------

.thumbnail {
  position: relative;
  box-sizing: content-box;
  contain: strict;

  .item.table &,
  .photo.list & {
    width: $thumbnail-size;
    height: $thumbnail-size;
  }

  img,
  .icon-photo {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  img {
    text-indent: -99em;
    overflow: hidden;
  }

  .icon-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $thumbnail-color;
    background: $thumbnail-bg;

    svg {
      width: calc(100% * 2 / 3);
      height: calc(100% * 2 / 3);
    }
  }
}
