//
// Thumbnail
// --------------------------------------------------

.thumbnail {
  position: relative;
  box-sizing: content-box;

  .icon-photo,
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .icon-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $thumbnail-bg;

    svg {
      width: calc(100% * 2 / 3);
      height: calc(100% * 2 / 3);
      color: $thumbnail-color;
    }
  }

  img {
    text-indent: -99em;
    overflow: hidden;
  }
}
