//
// Toolbar
// --------------------------------------------------

.toolbar {
  display: flex;
  justify-content: space-between;
  height: zoom($toolbar-height);
  flex: 0 0 auto;
  padding: 0 $default-spacing-x;
  overflow: hidden;

  // Do not counterbalance toolbars if they are not frameless titlebars
  :root:not(.frameless) &,
  &:not(.titlebar) {
    --zoom: 1;
  }

  &:where(.titlebar) {
    :where(.frameless) & {
      font-size: zoom($font-size-base);
      -webkit-app-region: drag;
      height: zoom(os($toolbar-frameless-height));
      padding: 0 zoom($default-spacing-x);
    }

    @if $platform == win32 {
      .frameless #project & {
        height: zoom($toolbar-height);
      }
    }

    .frameless.is-blurred & {
      > * {
        opacity: os($toolbar-blurred-opacity);
      }

      @if $platform == linux {
        > * {
          transition: opacity 0.2s ease-out;
        }
      }
    }
  }

  .panel-header & {
    flex: 1 1 auto;
    height: $panel-header-height;
  }

  .toolbar-context {
    position: absolute;
    left: $default-spacing-x;
    right: $default-spacing-x;
    height: 100%;
    display: flex;
    justify-content: space-between;
    transform: translate(0, 100%); // translate3d clips box-shadow
    transition: transform $toolbar-context-transition;

    &.default,
    &:has(.active) {
      transform: translate(0, -100%);
    }

    &.active {
      transform: translate(0, 0);
    }
  }

  .toolbar-left,
  .toolbar-center,
  .toolbar-right {
    display: flex;
    align-items: center;
  }

  .toolbar-left,
  .toolbar-right {
    flex: 1 0 0;
  }

  .toolbar-center {
    flex: 0 0 auto;
  }

  .toolbar-right {
    justify-content: flex-end;
  }

  .tool-group {
    display: flex;
    white-space: nowrap;

    & + .tool-group {
      margin-left: zoom($space-xs - 2 * $shim);

      .panel & {
        margin-left: $space-min - 2 * $shim;
      }
    }
  }

  .btn-icon {
    &:hover {
      background-color: $btn-icon-hover-bg;
    }

    &:active,
    &.active {
      background-color: $btn-icon-active-bg;
    }

    .frameless & {
      padding: zoom($btn-icon-padding);
    }

    .icon {
      .btn-icon:active :is(&),
      .btn-icon.active :is(&) {
        color: $btn-icon-active-color;
      }

      svg {
        :where(.frameless) :where(.titlebar) :is(&) {
          width: zoom($space-md);
          height: zoom($space-md);
        }
      }
    }

    & + .btn-icon {
      margin-left: zoom(calc($space-min / 2));
    }
  }

  nav {
    width: 100%;
  }

  .icon + h4 {
    margin-left: $space-xs;
  }
}
