//
// Toolbar
// --------------------------------------------------

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: $toolbar-height;
  flex: 0 0 auto;
  padding: $space-min $component-padding-horizontal 0;
  margin-bottom: $space-min;

  .panel-header & {
    height: 100%;
    margin: 0;
    padding-top: 0;
  }

  &.draggable {
    .frameless & {
      -webkit-app-region: drag;
      -webkit-user-select: none;
      cursor: default;
      position: relative;
      z-index: $zindex-draggable;

      .no-drag,
      .btn {
        @include no-drag;
      }
    }
  }

  .toolbar-left,
  .toolbar-center,
  .toolbar-right {
    display: flex;
    align-items: center;
  }

  .icon + h4 {
    margin-left: $space-xs;
  }
}
