//
// Vocab
// --------------------------------------------------

.vocab {
  a {
    color: $vocab-link-color;
  }

  .panel {
    background-color: $vocab-panel-bg;
  }

  .panel-body {
    padding: $space-sm $default-padding-horizontal;
  }

  .vocab-header {
    margin-bottom: $space-sm;
    padding: 0 $space-xs;
  }

  .vocab-heading {
    font-size: $font-size-small;
    color: $panel-heading-color;
    line-height: $line-height-large;
    padding-left: $space-xs;
  }

  .control-label {
    color: $vocab-label-color;
  }

  .form-control {
    background: $vocab-input-bg;
    border-color: $vocab-input-border;

    @include input-btn-focus; // sass-lint:disable-line mixins-before-declarations
  }

  .resource {
    margin-bottom: $space-min;

    &:last-child {
      margin-bottom: 0;
    }

    fieldset {
      background: $property-bg;
      padding: 5px $space-xs;
    }

    .form-control {
      background: $property-input-bg;
      border-color: $property-input-border;

      @include input-btn-focus; // sass-lint:disable-line mixins-before-declarations
    }
  }

  .vocab-footer {
    flex: 0 0 auto;
    padding: $space-xs ($space-lg + $space-sm - $btn-icon-padding);
  }
}
