// sass-lint:disable no-color-literals

//
// Esper
// --------------------------------------------------

section.esper { // sass-lint:disable-line no-qualifying-elements
  flex: 1 1 0;
  background: $esper-bg;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  contain: strict;

  &:not(:focus):not(.nested-focus) {
    .toolbar-left,
    .esper.panel > * { // todo
      opacity: 0.6;
    }
  }

  &:not(.overlay-mode) {
    .slider-handle {
      background-color: $esper-slider-handle-bg;
    }

    .slider-value {
      color: $esper-slider-value-color;
    }
  }

  .slider:focus {
    .slider-handle {
      background-color: $slider-focus-bg;
      border-color: transparent;
    }

    .slider-range {
      background-color: $slider-focus-bg;
    }
  }

  &.overlay-mode {
    .slider:focus {
      .slider-handle {
        background-color: $slider-overlay-focus-bg;
      }

      .slider-range {
        background-color: $slider-overlay-focus-bg;
      }
    }
  }

  .esper-header {
    position: relative;
    z-index: $zindex-esper-header;
    height: $toolbar-height;
  }

  .toolbar {
    position: absolute; // Let the toolbar overflow the header
    width: 100%;
    padding-top: 0;
    height: $toolbar-height;
    margin: 0;
    box-shadow: 0 1px 0 $esper-shadow;
    background: $esper-toolbar-solid-bg;

    .frameless & {
      background: transparent;
    }

    .btn-icon {
      & + .btn-icon {
        margin-left: $space-min / 2;
      }
    }

    .tool-group {
      > .btn-icon {
        &.active {
          background: $esper-btn-active-bg;

          .icon {
             color: $esper-btn-active-color;
          }

        }
      }

      & + .tool-group {
        margin-left: $space-lg;
      }
    }

    .slider {
      margin-top: 0;
      height: $toolbar-height;
    }
  }

  .esper-container {
    flex: 1 1 0;
    display: flex;
    position: relative;
  }

  .esper-view {
    flex: 1 1 0;
    position: relative;

    canvas {
      position: absolute;
    }
  }

  &.overlay-mode {
    .esper-header {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;

      &.window-draggable {
        position: absolute;
      }
    }

    .toolbar {
      background: $esper-overlay-bg;
      // Causes flickering on macOS. See #101
      // backdrop-filter: blur($esper-toolbar-blur-radius);
      box-shadow: none;
      transform: translate3d(0, -100%, 0);
      transition: transform $esper-toolbar-transition-out;

      .btn-icon {
        .icon {
          color: $esper-overlay-icon-color;
        }

        &:active {
          .icon {
            color: $icon-active-color;
          }

          &[disabled] {
            .icon {
              color: $esper-overlay-icon-color;
            }
          }
        }
      }

      .tool-group {
        > .btn-icon {
          &.active {
            background: $esper-toolbar-overlay-btn-active-bg;

            .icon {
              color: $esper-toolbar-overlay-btn-active-color;
            }
          }
        }

        & + .tool-group {
          margin-left: $space-lg;
        }
      }
    }

    &:hover {
      .toolbar {
        transform: translate3d(0, 0, 0);
        transition: transform $esper-toolbar-transition-in-hover;
      }
    }

    &.tab-focus,
    &.panel-visible {
      .toolbar {
        transform: translate3d(0, 0, 0);
        transition: transform $esper-toolbar-transition-in-focus;
      }
    }
  }


  @each $key, $val in $esper-cursor {
    &.#{$key} {
      .esper-view {
        cursor: -webkit-image-set(
          image-url("esper/#{map-get($val, 'default')}@1x.svg") 1x,
          image-url("esper/#{map-get($val, 'default')}@2x.svg") 2x
        ) map-get($val, "x") map-get($val, "y"), default;
      }
    }
  }
}
