@use "../../abstracts/config" as *;

//
// Esper overlay
// --------------------------------------------------

.esper-overlay {
  --toolbar-size: #{$toolbar-height};
  flex: 1 1 0;
  display: grid;
  grid-template-columns: auto 0;
  grid-template-rows: var(--toolbar-size) auto;
  background-color: $esper-bg;
  transition: grid 0.3s ease;

  .frameless & {
    --toolbar-size: #{$toolbar-frameless-height};
  }

  &.full {
    position: absolute;
    inset: 0;
    z-index: $zindex-esper-header;
  }

  &.transcription-panel-visible {
    grid-template-columns: auto $esper-panel-width;
  }

  .side-by-side .text-overlay-split &,
  .side-by-side:not(.esper-maximized) .text-overlay-full & {
    grid-template-columns: auto;
    grid-template-rows: var(--toolbar-size) auto 0;

    &.transcription-panel-visible {
      grid-template-rows: var(--toolbar-size) auto $esper-panel-height;
    }
  }
}
