//
// Esper overlay
// --------------------------------------------------

.esper-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-block: min(10cqh, #{$editor-padding});
  padding-inline: 10%;
  color: $text-color;
  background-color: $esper-bg;
  font-family: $font-family-base;
  font-size: $editor-font-size;
  line-height: $editor-line-height;
  overflow: auto;

  pre {
    user-select: text;
    cursor: text;
    margin: 0;
  }
}
