@use "../../abstracts/config" as *;

//
// Esper overlay
// --------------------------------------------------

.esper-overlay {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: auto 0;
  grid-template-rows: $toolbar-height auto;
  background-color: $esper-bg;
  transition: grid 0.3s ease;

  .frameless & {
    grid-template-rows: zoom($toolbar-frameless-height) auto;
  }

  &.full {
    position: absolute;
    inset: 0;
    z-index: $zindex-esper-header;
  }

  &.transcription-panel-visible {
    grid-template-columns: auto $esper-panel-width;
  }

  .side-by-side .text-overlay-split &,
  .side-by-side:not(.esper-maximized) .text-overlay-full & {
    grid-template-columns: auto;
    grid-template-rows: $toolbar-height auto 0;

    .frameless & {
      grid-template-rows: zoom($toolbar-frameless-height) auto 0;
    }

    &.transcription-panel-visible {
      grid-template-rows: $toolbar-height auto $esper-panel-height;

      .frameless & {
        grid-template-rows: zoom($toolbar-frameless-height) auto $esper-panel-height;
      }
    }
  }
}
