//
// Esper panel
// --------------------------------------------------

.esper.panel {
  flex: 0 0 $esper-panel-width;
  display: block;
  box-shadow: -1px 0 0 $esper-shadow;
  background: $esper-bg;
  padding: 19px $default-padding-horizontal 0; // todo
  margin-right: -$esper-panel-width;
  transition: margin-right 0.3s ease;
  overflow-y: auto;

  &.show {
    margin-right: 0;

    .overlay-mode & {
      margin-right: -$esper-panel-width;
    }

    .overlay-mode:hover & {
      margin-right: 0;
      transition: margin-right 0.3s 0.7s ease;
    }
  }

  .overlay-mode & {
    position: absolute;
    top: $toolbar-height;
    right: 0;
    bottom: 0;
    width: $esper-panel-width;
    background: $esper-overlay-bg;
    box-shadow: inset 0 1px 0 $esper-shadow;
  }

  .adjustment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .icon {
      margin-right: $space-xs;

      .overlay-mode & {
        color: $esper-overlay-icon-color;
      }
    }

    .title {
      margin-right: auto;
      color: $esper-panel-title-color;
    }
  }

  .slider {
    width: calc(100% + 2px);
    margin-bottom: 7px; // 24px
  }
}
