//
// Esper toolbar
// --------------------------------------------------

.esper {
  .toolbar {
    position: absolute; // Let the toolbar overflow the header
    width: 100%;
    padding-top: 0;
    height: $toolbar-height;
    margin: 0;
    box-shadow: 0 1px 0 $esper-shadow;
    background: $esper-toolbar-solid-bg;

    .frameless & {
      background: transparent;
    }

    .btn-icon {
      & + .btn-icon {
        margin-left: $space-min / 2;
      }
    }

    .tool-group {
      > .btn-icon {
        &.active {
          background: $esper-btn-icon-active-bg;

          .icon {
             color: $esper-btn-icon-active-color;
          }

        }
      }

      & + .tool-group {
        margin-left: $space-lg;
      }
    }

    .slider {
      margin-top: 0;
      height: $toolbar-height;
    }
  }

  &.overlay-mode {
    .toolbar {
      background: $esper-overlay-bg;
      backdrop-filter: blur($esper-toolbar-blur-radius);
      box-shadow: none;
      transform: translate3d(0, -100%, 0);
      transition: transform $esper-toolbar-transition-out;

      .btn-icon {
        .icon {
          color: $esper-overlay-icon-color;
        }

        &:active {
          .icon {
            color: $icon-active-color;
          }

          &.disabled {
            .icon {
              color: $esper-overlay-icon-color;
            }
          }
        }
      }

      .tool-group {
        > .btn-icon {
          &.active {
            background: $esper-toolbar-overlay-btn-active-bg;

            .icon {
              color: $esper-toolbar-overlay-btn-active-color;
            }
          }
        }

        & + .tool-group {
          margin-left: $space-lg;
        }
      }
    }

    &:hover {
      .toolbar {
        transform: translate3d(0, 0, 0);
        transition: transform $esper-toolbar-transition-in-hover;
      }
    }

    &.tab-focus,
    &.panel-visible {
      .toolbar {
        transform: translate3d(0, 0, 0);
        transition: transform $esper-toolbar-transition-in-focus;
      }
    }
  }
}
