//
// Esper toolbar
// --------------------------------------------------

.esper-header {
  .toolbar {
    position: absolute; // Let the toolbar overflow the header
    width: 100%;
    padding-top: 0;
    margin: 0;
    box-shadow: 0 1px 0 $esper-shadow;
    background: $esper-bg;

    .text-overlay-split & {
      .side-by-side & {
        border-right: 1px solid $esper-shadow;
      }
    }

    .toolbar-left,
    .toolbar-right {
      .is-blurred & {
        @if $platform == darwin {
          opacity: $esper-toolbar-blurred-opacity-darwin !important;
        }
      }
    }

    .toolbar-left {
      .stacked & {
        .window-controls-right:not(.is-full-screen) & {
          flex: 1 1 auto;
          overflow: hidden;
        }
      }
    }

    .toolbar-right {
      @if $platform == darwin {
        .stacked &,
        .side-by-side.esper-maximized .esper:not([class*="overlay"]) & {
          .window-controls-right:not(.is-full-screen) & {
            flex: 1 1 0;
            overflow: hidden;
            margin-right: zoom($window-controls-width + $space-sm);
          }
        }
      }

      @if $platform == win32 {
        .stacked &,
        .side-by-side.esper-maximized .esper:not([class*="overlay"]) & {
          .window-controls-left:not(.is-full-screen:not(.full-screen-menu)) & {
            flex: 1 1 0;
            overflow: hidden;
            margin-right: zoom(48px + 24px);
          }

          .window-controls-right:not(.is-full-screen) & {
            flex: 1 1 0;
            overflow: hidden;
            margin-right: zoom($window-controls-width + $space-sm);
          }
        }
      }

      @if $platform == linux {
        .stacked &,
        .side-by-side.esper-maximized .esper:not([class*="overlay"]) & {
          .frameless & {
            flex: 1 1 0;
            overflow: hidden;

            .window-controls-left :is(&) {
              margin-right: zoom(52px);
            }

            .window-controls-right :is(&) {
              margin-right: zoom($window-controls-width + $space-sm);

              .window-controls-minimize :is(&),
              .frameless.window-controls-maximize :is(&) {
                margin-right: zoom($window-controls-width + 37px + $space-sm);
              }

              .window-controls-minimize.window-controls-maximize :is(&) {
                margin-right: zoom($window-controls-width + 37px + 37px + $space-sm);
              }
            }
          }
        }
      }
    }

    .tool-group {
      > .btn-icon {
        .frameless & {
          &:hover {
            background-color: $esper-btn-icon-hover-bg;
          }

          &.active {
            background-color: $esper-btn-icon-active-bg;
          }
        }
      }

      & + .tool-group {
        margin-left: $space-lg;
      }
    }

    .icon-arrow {
      margin: zoom(-2px);

      svg {
        width: zoom(20px);
        height: zoom(20px);
      }
    }

    .icon-rotate {
      .alt-key & {
        transform: scaleX(-1);
      }
    }

    .slider {
      margin-top: 0;
      height: $toolbar-height;
    }

    .esper.overlay-mode :is(&) {
      transform: translate3d(0, -100%, 0);
      transition: transform $esper-toolbar-transition-out;
      background-color: $esper-bg;

      .project:not([class*="enter"]) & {
        background: $esper-overlay-bg;
        backdrop-filter: blur($esper-blur-radius);
      }

      .esper.mouseover :is(&) {
        transform: translate3d(0, 0, 0);
        transition: transform $esper-toolbar-transition-in-hover;
      }

      .esper:focus-visible :is(&),
      .esper.panel-visible :is(&) {
        transform: translate3d(0, 0, 0);
        transition: transform $esper-toolbar-transition-in-focus;
      }

      .btn-icon {
        .icon {
          color: $esper-overlay-icon-color;
        }

        &:active {
          .icon {
            color: $icon-active-color;
          }

          &.disabled {
            .icon {
              color: $esper-overlay-icon-color;
            }
          }
        }
      }

      .tool-group {
        > .btn-icon {
          &:hover {
            background-color: $esper-toolbar-overlay-btn-hover-bg;
          }

          &:active,
          &.active {
            background: $esper-toolbar-overlay-btn-active-bg;

            .icon {
              color: $esper-toolbar-overlay-btn-active-color;
            }
          }
        }

        & + .tool-group {
          margin-left: $space-lg;
        }
      }
    }
  }
}
