//
// Esper toolbar
// --------------------------------------------------

.esper {
  .toolbar {
    position: absolute; // Let the toolbar overflow the header
    width: 100%;
    padding-top: 0;
    height: $toolbar-height;
    margin: 0;
    box-shadow: 0 1px 0 $esper-shadow;
    background: $esper-toolbar-solid-bg;

    .frameless & {
      background: transparent;

      @include state(".frameless.is-blurred") {
        @if $platform == darwin {
          background: $esper-toolbar-blurred-bg-darwin;
        }
      }
    }

    .toolbar-left,
    .toolbar-right {
      .is-blurred & {
        @if $platform == darwin {
          opacity: $esper-toolbar-blurred-opacity-darwin !important;
        }
      }
    }

    .tool-group {
      > .btn-icon {
        .frameless & {
          &:hover {
            background-color: $esper-btn-icon-hover-bg;
          }

          &.active {
            background-color: $esper-btn-icon-active-bg;
          }
        }
      }

      & + .tool-group {
        margin-left: $space-lg;
      }
    }

    .icon-rotate {
      .alt-key & {
        transform: scaleX(-1);
      }
    }

    .slider {
      margin-top: 0;
      height: $toolbar-height;
    }

    @include variant(".esper.overlay-mode") {
      transform: translate3d(0, -100%, 0);
      transition: transform $esper-toolbar-transition-out;
      background-color: $esper-bg;

      .project:not([class*="enter"]) & {
        background: $esper-overlay-bg;
        backdrop-filter: blur($esper-blur-radius);
      }

      @include state(".esper:hover") {
        transform: translate3d(0, 0, 0);
        transition: transform $esper-toolbar-transition-in-hover;
      }

      @include state(".esper:focus-visible", ".esper.panel-visible") {
        transform: translate3d(0, 0, 0);
        transition: transform $esper-toolbar-transition-in-focus;
      }

      .btn-icon {
        .icon {
          color: $esper-overlay-icon-color;
        }

        &:active {
          .icon {
            color: $icon-active-color;
          }

          &.disabled {
            .icon {
              color: $esper-overlay-icon-color;
            }
          }
        }
      }

      .tool-group {
        > .btn-icon {
          &:hover {
            background-color: $esper-toolbar-overlay-btn-hover-bg;
          }

          &:active,
          &.active {
            background: $esper-toolbar-overlay-btn-active-bg;

            .icon {
              color: $esper-toolbar-overlay-btn-active-color;
            }
          }
        }

        & + .tool-group {
          margin-left: $space-lg;
        }
      }
    }
  }
}
