@use "../../abstracts/config" as *;

//
// Selection grid
// --------------------------------------------------

.selection-grid {
  display: grid;
  padding: 0 $default-spacing-x;
  contain: content;

  .selection {
    @include sort-indicator("grid");
  }
}
