//
// Selection list
// --------------------------------------------------

.selection-list {
  .selection {
    @include sort-indicator("list");
    display: flex;
    align-items: center;
    padding-left:
      $default-spacing-x
      + $space-md
      + $space-sm
      + $space-min;
    padding-right: $default-spacing-x;
    height: $row-height;

    &.active {
      @extend %list-active;

      .scroll-container:focus & {
        @extend %list-focus;
      }
    }
  }
}
