//
// Selection list
// --------------------------------------------------

.selection-list {
  .selection {
    @include sort-indicator("list");
    display: flex;
    align-items: center;
    padding-left:
      $default-padding-horizontal
      + $space-md
      + $space-sm
      + $space-min;
    padding-right: $default-padding-horizontal;
    height: $row-height;

    &.active {
      @extend %list-active;

      @include state(".photo-list .scroll-container:focus") {
        @extend %list-focus;
      }
    }
  }
}
