//
// Operating system specific styles
// --------------------------------------------------

.badge {
  .drag-preview.metadata-field & {
    transform: none;
    position: static;
    margin-left: $space-min;
  }
}
