//
// Light wizard window
// --------------------------------------------------

$platform: "linux";
$theme: "light";


// Theme
// --------------------------------------------------

@import
  "../themes/light";


// Window
// --------------------------------------------------

@import
  "../windows/wizard";


// Operating system specific styles
// --------------------------------------------------

@import
  "os";