/* stylelint-disable max-empty-lines, no-invalid-position-at-import-rule */

//
// Window Base
// --------------------------------------------------

$platform: "linux";
$theme: "light";

@import "../abstracts/functions";
@import "../themes/light";


// Abstracts
// --------------------------------------------------

@import
  "../abstracts/variables",
  "../abstracts/mixins",
  "../abstracts/placeholders";


// Partials
// --------------------------------------------------

@import
  "../partials/cover";
