/* stylelint-disable max-empty-lines, no-invalid-position-at-import-rule */

$platform: "linux";
$theme: "light";

@import
  "../themes/light";

//
// Wizard window
// --------------------------------------------------


// Abstracts
// --------------------------------------------------

@import
  "../abstracts/functions",
  "../abstracts/variables",
  "../abstracts/mixins",
  "../abstracts/placeholders";


// Scaffolding
// --------------------------------------------------

@import
  "../base/reset",
  "../base/base",
  "../base/type";


// Partials
// --------------------------------------------------

@import
  "../partials/forms";


// Components
// --------------------------------------------------

@import
  "../components/toolbar",
  "../components/button",
  "../components/flash",
  "../components/wizard";
