//
// Scheme helper
// --------------------------------------------------

@function --scheme(--light, --dark) {
  result: if(
    media(prefers-color-scheme: light): var(--light);
    else: var(--dark);
  );
}
