@use "sass:math";
@use "sass:meta";

//
// Strip unit
// --------------------------------------------------

@function strip-unit($number) {
  @if meta.type-of($number) == "number" and not math.is-unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}
