//
// Strip unit
// --------------------------------------------------

@use "sass:math";

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}
