@use "sass:string";
@use "sass:selector";
@use "sass:list";

//
// String functions
// --------------------------------------------------

@function str-parse($string, $token) {
  $i: string.index($string, $token);

  @if $i {
    $first-part: string.slice($string, 1, ($i - 1));
    $string: str-parse(string.slice($string, ($i + string.length($token))), $token);

    @return list.join(selector.simple-selectors($first-part), $string);
  }

  @return selector.simple-selectors($string);
}
