//
// String functions
// --------------------------------------------------

@function str-parse($string, $token) {
  $i: str-index($string, $token);

  @if $i {
    $first-part: str-slice($string, 1, ($i - 1));
    $string: str-parse(str-slice($string, ($i + str-length($token))), $token);

    @return join(simple-selectors($first-part), $string);
  }

  @return simple-selectors($string);
}
