//
// Editor toolbar
// --------------------------------------------------

.editor {
  .toolbar {
    padding-top: 0;
    border-bottom: 1px solid $editor-toolbar-border;
    margin-bottom: 0; // Dev
    cursor: default;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $toolbar-height + 1px;
    //display: none;

    .side-by-side & {
      .frameless & {
        -webkit-app-region: drag;
      }
    }

    .tool-group {
      & + .tool-group {
        margin-left: $space-lg;
      }
    }
  }

  .toolbar-context {
    @include state(".editor.is-blurred") {
      opacity: 0.6;

      &.link {
        opacity: initial;
      }
    }

    @include state(".is-blurred .editor") {
      @if $platform == darwin {
        opacity: $editor-toolbar-blurred-opacity-darwin;
      }
    }
  }

  //&:hover {
  //  .toolbar {
  //    display: flex;
  //  }
  //}

  .link-target {
    width: $link-target-width;
  }
}
