@use "../../abstracts/config" as *;

//
// Editor toolbar
// --------------------------------------------------

.editor {
  .toolbar {
    padding-top: 0;
    border-bottom: 1px solid $editor-toolbar-border;
    margin-bottom: 0; // Dev
    cursor: default;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $toolbar-height + 1px;
    //display: none;

    .frameless & {
      --zoom: inherit; // Always counterbalance frameless editor toolbar
      font-size: zoom($font-size-base);
      height: zoom($toolbar-frameless-height + 1px);

      @if $platform == win32 {
        height: zoom($toolbar-height + 1px);
      }
    }

    .side-by-side & {
      .frameless & {
        -webkit-app-region: drag;
      }
    }

    .tool-group {
      & + .tool-group {
        margin-left: zoom($space-lg);
      }
    }
  }

  .toolbar-left {
    @if $platform == darwin {
      .side-by-side &,
      .notepad-maximized & {
        .window-controls-right:not(.is-full-screen) & {
          // Grow: do not shrink toolbar-right
          // Shrink: do not overlap with window controls
          // Basis: Shrink toolbar-right before toolbar-left
          flex: 0 1 auto;
          overflow: hidden;
          padding: 0 zoom(2px); // Do not clip link target
          margin: 0 zoom(-2px);
        }
      }
    }

    @if $platform == win32 {
      .side-by-side :is(&) {
        flex: 0 1 auto;
        overflow: hidden;
        padding: 0 zoom(2px); // Do not clip link target
        margin: 0 zoom(-2px);
      }
    }

    @if $platform == linux {
      .frameless & {
        .side-by-side :is(&),
        .notepad-maximized :is(&) {
          flex: 0 1 auto;
          overflow: hidden;
          padding: 0 zoom(2px); // Do not clip link target
          margin: 0 zoom(-2px);
        }
      }
    }
  }

  .toolbar-right {
    @if $platform == darwin {
      .side-by-side &,
      .notepad-maximized & {
        .window-controls-right:not(.is-full-screen) & {
          // Shrink and basis: Shrink before toolbar-left
          flex: 1 1 0;
          overflow: hidden;
          margin-right: zoom($window-controls-width + $space-sm);
        }
      }
    }

    @if $platform == win32 {
      .side-by-side :is(&),
      .notepad-maximized :is(&) {
        flex: 1 1 0;
        overflow: hidden;
        padding: 0 zoom(2px); // Do not clip link target
        margin: 0 zoom(-2px);

        .window-controls-left:not(.is-full-screen:not(.full-screen-menu)) & {
          margin-right: zoom(48px + 24px);
        }

        .window-controls-right:not(.is-full-screen) & {
          margin-right: zoom($window-controls-width + $space-sm);
        }
      }
    }

    @if $platform == linux {
      .frameless & {
        .side-by-side :is(&),
        .notepad-maximized :is(&) {
          flex: 1 1 0;
          overflow: hidden;

          .window-controls-left :is(&) {
            margin-right: zoom(52px);
          }

          .window-controls-right :is(&) {
            margin-right: zoom($window-controls-width + $space-sm);

            .window-controls-minimize :is(&),
            .window-controls-maximize :is(&) {
              margin-right: zoom($window-controls-width + 37px + $space-sm);
            }

            .window-controls-minimize.window-controls-maximize :is(&) {
              margin-right: zoom($window-controls-width + 37px + 37px + $space-sm);
            }
          }
        }
      }
    }
  }

  .toolbar-context {
    .editor.is-blurred :is(&) {
      opacity: 0.6;

      &.link {
        opacity: initial;
      }
    }

    .is-blurred & {
      @if $platform == darwin {
        opacity: $editor-toolbar-blurred-opacity-darwin;
      }
    }
  }

  //&:hover {
  //  .toolbar {
  //    display: flex;
  //  }
  //}

  .link-target {
    flex: 0 1 zoom($link-target-width);
    height: zoom($input-height-base);
    padding: 0 zoom($padding-base-horizontal);
    border-width: zoom(1px);
    border-radius: zoom($input-border-radius-small);

    &:focus {
      box-shadow: 0 0 0 zoom(2px) $input-btn-focus-color !important;
    }
  }

  .btn-icon {
    svg {
      width: zoom(16px);
      height: zoom(16px);
    }
  }
}
