//
// Editor toolbar
// --------------------------------------------------

.editor {
  .toolbar {
    box-sizing: content-box;
    padding-top: 0;
    border-bottom: 1px solid $editor-toolbar-border;
    margin-bottom: 0; // Dev
    cursor: default;
  }
}
