//
// Editor
// --------------------------------------------------

.editor {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: $toolbar-height + 1px;
  min-height: 0; // Fix vh unit in ProseMirror

  .frameless & {
    padding-top: zoom($toolbar-frameless-height);

    @if $platform == win32 {
      padding-top: zoom($toolbar-height);
    }
  }

  iframe {
    border: 0;
    width: 100%;
    height: 100%;

    :has(.drag-layer) &,
    .dragging & {
      pointer-events: none;
    }
  }
}
