// sass-lint:disable class-name-format

//
// Editor
// --------------------------------------------------

@import "prosemirror-view/style/prosemirror";

.editor {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  cursor: text;
}

.ProseMirror {
  flex: 1 1 0;
  width: 80%;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
}
