//
// Cover
// --------------------------------------------------

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $zindex-cover;
  background-color: $cover-bg;

  @keyframes tropy-icon {
    100% {
      fill: $cover-icon-color;
    }
  }

  .icon-tropylarge {
    polygon {
      animation: tropy-icon 0s linear forwards 0.5s;
    }

    .inactive &,
    .closing & {
      display: none;
    }
  }

  &::before {
    box-sizing: border-box;
    position: absolute;
    left: calc(50% - $space-lg / 2);
    width: $space-lg;
    height: $space-lg;
    border: 2px solid $cover-spin-color;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

#cover {
  .ready & {
    display: none;
  }

  .inactive &,
  .closing & {
    display: flex;
    opacity: 0.6;
  }

  .busy & {
    display: flex;

    .icon-tropylarge {
      display: none;
    }

    &::before {
      content: "";
      top: calc(50% - $space-lg / 2);
    }
  }
}

.project .cover {
  display: none;

  @include state(".project.opening") {
    display: flex;
  }

  @include state(".project.closing") {
    display: flex;
    opacity: 0.6;

    .closing &,
    .inactive & {
      display: none; // Do not show project cover when window cover is present
    }
  }

  @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  }

  .icon-tropylarge {
    polygon {
      fill: $cover-icon-color;
    }
  }

  &::before {
    content: "";
    top: max(calc(50% + 101px), calc(66.67% - $space-lg / 2));

    @include state(".project.closing") {
      content: none;
    }
  }
}
