//
// Cover
// --------------------------------------------------

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $zindex-cover;
  background-color: $cover-color;

  .ready & {
    display: none;
  }

  .inactive &,
  .closing & {
    display: flex;
    opacity: 0.6;
  }

  @include variant("#project .cover") {
    &::after {
      content: "";
      width: 144px;
      height: 144px;
      background:
        if(
          $theme == "dark",
          icon-url("cover/tropy-icon-dark.svg") no-repeat,
          icon-url("cover/tropy-icon-light.svg") no-repeat
        );

      @include state("#project.inactive", "#project.closing") {
        display: none;
      }
    }
  }
}
