//
// Flex
// --------------------------------------------------

.flex-row {
  flex-grow: 1; // Do not set flex-basis as it conflicts with grid classes
  display: flex;
  min-width: 0; // Fix truncation

  &.center {
    align-items: center;
  }

  &.justify-content-start {
    justify-content: flex-start;
  }

  &.justify-content-end {
    justify-content: flex-end;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-between {
    justify-content: space-between;
  }

  &.justify-content-around {
    justify-content: space-around;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
