//
// Forms
// --------------------------------------------------

.form-inline {
  > * + * {
    margin-left: $space-min;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  background: $fieldset-bg;
  border-radius: $border-radius-small;

  .form-control {
    background: $fieldset-input-bg;
    border-color: $fieldset-form-control-border;

    @include form-control-focus; // sass-lint:disable-line mixins-before-declarations
  }
}

.form-group {
  margin-bottom: $space-sm;

  &.compact {
    margin-bottom: $space-min;
  }

  .form-horizontal & {
    display: flex;
    margin: {
      left: (-$grid-gutter-width / 2);
      right: (-$grid-gutter-width / 2);
    }
  }

  &.align-right {
    justify-content: flex-end;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

label {
  .form-horizontal & {
    text-align: right;
    padding-top: 3px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: 0 $padding-base-horizontal;
  font-family: inherit;
  font-size: $font-size-base;
  line-height: 2; // Better alignment of San Francisco
  color: $input-color;
  background: $input-bg;
  border: 1px solid $input-border;
  border-radius: $input-border-radius-small;
  box-shadow: none;
  transition: border-color ease 0.15s, box-shadow ease 0.15s;

  @include form-control-focus;

  &::-webkit-input-placeholder {
    color: $input-color-placeholder;
  }

  &[readonly] {
    color: $input-color-readonly;
  }

  @at-root select#{&} {
    -webkit-appearance: none;
    line-height: 1;
    background-repeat: no-repeat;
    background-position: right $space-min center;
    background-image: if($theme == "light",
      image-url("project/icon-chevron7-light-theme.svg"),
      image-url("project/icon-chevron7-dark-theme.svg"));
  }
}

.input-lg {
  font-size: $font-size-large;
  height: $input-height-large;
  padding: 0 $padding-large-horizontal;
}

.form-text {
  display: flex;
  align-items: center;
  padding: (($input-height-base - $line-height-computed) / 2) $padding-base-horizontal;
}

.help-text {
  font-size: 11px;
  line-height: 16px;

  .form-text + & {
    padding: 0 $padding-base-horizontal;
    margin-top: -2px;
  }
}