.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-out;
}


.collapse-enter,
.collapse-exit {
  overflow: hidden;
}

.collapse-enter-active {
  &.collapse-height {
    transition: height 250ms ease-out;
  }
  &.collapse-width {
    transition: wdith 250ms ease-out;
  }
}

.collapse-exit-active {
  &.collapse-height {
    transition: height 250ms ease-out;
  }
  &.collapse-width {
    transition: wdith 250ms ease-out;
  }
}
