.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-out;
}

.collapse-enter {
  overflow-y: hidden;
}

.collapse-enter-active {
  transition: height 250ms ease-out;
}

.collapse-exit {
  overflow-y: hidden;
}

.collapse-exit-active {
  transition: height 250ms ease-out;
}
