//
// Loading cover
// --------------------------------------------------

.loading-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-backdrop;
  background-color: $loading-cover-bg;

  .ready & {
    display: none;
  }
}
