.exif {
  transform-origin: center;

  &.orientation-6 {
    transform: rotate(90deg);
  }

  &.orientation-3 {
    transform: rotate(180deg);
  }

  &.orientation-8 {
    transform: scale(-1, -1) rotate(90deg);
  }

  &.orientation-2 {
    transform: scale(-1, 1);
  }

  &.orientation-5 {
    transform: scale(-1, 1) rotate(90deg);
  }

  &.orientation-4 {
    transform: scale(1, -1);
  }

  &.orientation-7 {
    transform: scale(1, -1) rotate(90deg);
  }
}
