//
// Scrollbar
// --------------------------------------------------

::-webkit {
  &-scrollbar {
    width: 12px;
    height: 12px;

    &:vertical {
      margin-right: 20px;
    }

    &-track {
      background: $scrollbar-bg;
    }

    &-thumb {
      background: $scrollbar-color;
      border-radius: 6px;
      border: 4px solid $scrollbar-bg;
      background-clip: content-box;

      &:vertical {
        &:active {
          border: 0;
        }
      }
    }
  }
}
