//
// Scroll container
// --------------------------------------------------

.scroll-container {
  flex: 1 1 0;
  overflow-y: scroll;
  overscroll-behavior: contain;
  contain: content; // size breaks padding-bottom of app prefs scroll-container
}
