//
// Sort indicator
// --------------------------------------------------

.photo {
  &::before,
  &::after {
    position: absolute;
    outline: 1px solid $photo-sort-indicator;
  }

  &.before {
    &::before {
      content: "";
    }
  }

  &.after {
    &::after {
      content: "";
    }
  }

  &.last {
    .over > & {
      &::after {
        content: "";
      }
    }
  }

  &.over {
    position: relative;
    z-index: 1;
  }

  .vertical & {
    &::before,
    &::after {
      left: 0;
      width: 100%;
    }

    &:first-child {
      &::before {
        bottom: calc(100% - 1px);
      }
    }

    &::before {
      bottom: 100%;
    }

    &::after {
      top: 100%;
    }

    &:last-child {
      &::after {
        top: calc(100% - 1px);
      }
    }


  }

  .horizontal & {
    &::before,
    &::after {
      top: 50%;
      height: 100%;
      transform: translateY(-50%);
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }
}

