//
// Sort indicator
// --------------------------------------------------

.photo {
  &.over {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      outline: 1px solid $photo-sort-indicator;
    }

    &.vertical {
      z-index: 2;

      &::before,
      &::after {
        left: 0;
        width: 100%;
      }

      &.before {
        &::before {
          content: "";
          bottom: 100%;
        }
      }

      &.after {
        &::after {
          content: "";
          top: 100%;
        }

        // Expand sortable area
        &.last {
          &::before {
            content: "";
            top: 100%;
            height: $line-height-large;
            outline: none;
          }
        }
      }
    }

    &.horizontal {
      &::before,
      &::after {
        top: 50%;
        height: 100%;
        transform: translateY(-50%);
      }

      &.before {
        &::before {
          content: "";
          right: 100%;
        }
      }

      &.after {
        &::after {
          content: "";
          left: 100%;
        }
      }
    }
  }
}
