//
// Tile
// --------------------------------------------------

.tile {
  // sass-lint:disable-block nesting-depth
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  contain: strict;

  @each $size in $tile-thumbnail-sizes {
    [data-size="#{$size}"] & {
      $tile-size: #{round($size * $tile-factor)}px;

      height: $tile-size;

      .thumbnail {
        width: #{$size}px;
        height: #{$size}px;
      }
    }
  }

  &.item,
  &.photo {
    &.active {
      .tile-state {
        .scroll-container:focus & {
          border-color: $tile-focus-color;
        }
      }
    }
  }

  &.photo {
    contain: layout style size;
  }

  &.selection {
    &.active {
      .tile-state {
        .selection-grid:focus & {
          border-color: $tile-focus-color;
        }
      }
    }
  }

  .tile-state {
    padding: 2px;
    border-radius: $border-radius-small;
    margin: -4px;
    position: relative;
  }

  &.active {
    .tile-state {
      border: 3px solid $tile-active-color;
    }
  }

  .item-grid & {
    &.over {
      .tile-state {
        border: 3px solid $drop-target-color;
      }
    }
  }

  .icon-container {
    position: absolute;
    right: 6px;
    bottom: 5px;
    margin-left: 0;
  }

  .btn-icon {
    padding: 0;

    .icon {
      color: $tile-selection-icon-color;
    }
  }

  .pointer {
    position: absolute;
    left: calc(50% - 10px);
    bottom: -$space-sm;
    width: 2 * $pointer-height;
    height: 2 * $pointer-height;
    border: $pointer-height solid transparent;
    border-bottom: $pointer-height solid $tile-expansion-bg;

    .photo-grid.nested-tab-focus & {
      border-bottom-color: $tile-expansion-focus-bg;
    }

    .photo-grid.has-nested-active & {
      border-bottom-color: $tile-expansion-bg;
    }
  }
}

.tile-expansion {
  grid-column-start: 1;
  background: $tile-expansion-bg;
  margin: $space-sm (-$default-padding-horizontal); // Todo
  padding: $space-sm 0; // Todo

  .photo-grid.nested-tab-focus & {
    background: $tile-expansion-focus-bg;
  }

  .photo-grid.nested-tab-focus.has-nested-active & {
    background: $tile-expansion-bg;
  }
}
