//
// Tile
// --------------------------------------------------

.tile {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  $i: $tile-thumbnail-size-min;

  @while $i <= $tile-thumbnail-size-max {
    ul[data-size="#{$i}"] & {
      $tile-size: #{round($i * $tile-factor)}px;

      flex-basis: $tile-size;
      height: $tile-size;

      .thumbnail {
        $size: #{$i}px;

        width: $size;
        height: $size;
      }
    }

    $i: $i + $tile-size-step-min;
  }

  .tile-state {
    padding: 3px;
    border-radius: $border-radius-small;
  }

  &.active {
    .tile-state {
      border: 3px solid $tile-active-color;

      :focus > & {
        border-color: $tile-focus-color;
      }
    }

    &.small {
      .tile-state {
        border-width: 2px;
        padding: 2px;
        margin: -4px;
      }
    }
  }

  &.over {
    .tile-state {
      border: 3px solid $drop-target-color;
    }
  }
}
