//
// Transitions
// --------------------------------------------------

.collapse-enter,
.collapse-exit {
  overflow: hidden;
}

.collapse-enter-active {
  &.collapse-height {
    transition: $collapse-height-transition;
  }

  &.collapse-width {
    transition: $collapse-width-transition;
  }
}

.collapse-exit-active {
  &.collapse-height {
    transition: $collapse-height-transition;
  }

  &.collapse-width {
    transition: $collapse-width-transition;
  }
}
