.fade {
  &-enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: $fade-transition;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: $fade-transition;
    }
  }
}

.collapse-enter,
.collapse-exit {
  overflow: hidden;
}

.collapse-enter-active {
  &.collapse-height {
    transition: $collapse-height-transition;
  }

  &.collapse-width {
    transition: $collapse-width-transition;
  }
}

.collapse-exit-active {
  &.collapse-height {
    transition: $collapse-height-transition;
  }

  &.collapse-width {
    transition: $collapse-width-transition;
  }
}
