//
// Window draggable
// --------------------------------------------------

.window-draggable {
  .frameless & {
    -webkit-app-region: drag;
    position: relative;
    z-index: $zindex-draggable;
  }
}
