@use "../abstracts/config" as *;

//
// Fake window controls
// --------------------------------------------------

.window-controls {
  position: absolute;
  z-index: $zindex-window-controls;
  display: flex;

  .window-controls-left & {
    direction: rtl;
  }

  button {
    border: 0;
    padding: 0;
    -webkit-app-region: no-drag;
  }

  @if $platform == win32 {
    top: 0;
    inset-inline-start: 0;
    padding-inline-start: zoom(15px);
    height: zoom(38px);
    display: flex;
    align-items: center;

    #prefs &,
    #about &,
    .is-full-screen:not(.full-screen-menu) & {
      display: none;
    }

    .app-icon {
      width: zoom(18px);
      height: zoom(18px);
      margin-inline-end: zoom(2px);
      background-size: 100%;
      background-image:
        image-set(
          icon-url("window/win32/light/18x18.png") 1x,
          icon-url("window/win32/light/36x36.png") 2x
        );

      @media (prefers-color-scheme: dark) {
        background-image:
          image-set(
            icon-url("window/win32/dark/18x18.png") 1x,
            icon-url("window/win32/dark/36x36.png") 2x
          );
      }
    }

    .menu {
      width: zoom(26px);
      height: zoom(26px);
      background: icon-url("window/win32/light/more.svg") no-repeat zoom(4px) / zoom(16px);
      border: 1px solid transparent;
      border-radius: zoom(3px);

      @media (prefers-color-scheme: dark) {
        background: icon-url("window/win32/dark/more.svg") no-repeat zoom(4px) / zoom(16px);
      }

      .ready & {
        // Use ready class to prevent black border during reload
        transition: border-color $input-btn-transition, box-shadow $input-btn-transition;
      }

      &:hover {
        background-color: rgb(0, 0, 0, --scheme(0.05, 0.1));
      }


      &:focus-visible {
        @include input-btn-focus(":focus-visible");
        background-color: $sidebar-bg; // Prevent rendering glitch
      }

      &:active,
      .window-controls-menu-open & {
        background-image: icon-url("window/win32/light/more-active.svg");
        background-color: rgb(0, 0, 0, --scheme(0.1, 0.3));

        @media (prefers-color-scheme: dark) {
          background-image: icon-url("window/win32/dark/more-active.svg");
        }
      }

      .is-blurred & {
        opacity: $toolbar-blurred-opacity;
      }
    }
  }

  @if $platform == linux {
    top: zoom(6px);
    column-gap: zoom(3px);

    .window-controls-left & {
      left: zoom(6px);
    }

    .window-controls-right & {
      right: zoom(6px);
    }

    .is-blurred & {
      opacity: 0.5; // 'filter' would break position fixed of the menu button
      transition: filter 0.2s ease-out;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: zoom(5px);
      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;
      background-size: zoom(16px);

      &::after {
        content: "";
        width: zoom(24px);
        height: zoom(24px);
        border-radius: 50%;
        transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background-color: --scheme(rgb(0, 0, 0, 0.08), rgb(255, 255, 255, 0.1));
      }

      &:hover::before {
        background-color: --scheme(rgb(0, 0, 0, 0.12), rgb(255, 255, 255, 0.15));
      }

      &:active::before {
        background-color: --scheme(rgb(0, 0, 0, 0.24), rgb(255, 255, 255, 0.3));
      }
    }

    .menu {
      min-width: zoom(34px);
      min-height: zoom(34px);
      background-image: icon-url("window/linux/light/menu.svg");
      border-radius: zoom(6px);
      transition-property: background-color, outline-color, outline-width, outline-offset;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      outline: 0 solid transparent;
      outline-offset: zoom(4px);

      @media (prefers-color-scheme: dark) {
        background-image: icon-url("window/linux/dark/menu.svg");
      }

      .window-controls-left & {
        position: fixed;
        right: zoom(6px);
      }

      .window-controls-right & {
        order: -1;
        margin-right: zoom(3px);
      }

      #prefs &,
      #about & {
        display: none;
      }

      &:hover {
        background-color: --scheme(rgb(0, 0, 0, 0.056), rgb(255, 255, 255, 0.07));
      }

      &:active,
      .window-controls-menu-open & {
        background-color: --scheme(rgb(0, 0, 0, 0.128), rgb(255, 255, 255, 0.16));
      }

      &:focus-visible {
        outline-width: zoom(2px);
        outline-offset: zoom(-2px);
        outline-color: $input-btn-focus-color;
      }

      &::after {
        content: none;
      }
    }

    .minimize {
      background-image: icon-url("window/linux/light/minimize.svg");

      @media (prefers-color-scheme: dark) {
        background-image: icon-url("window/linux/dark/minimize.svg");
      }

      .not-minimizable & {
        display: none;
      }
    }

    .maximize {
      background-image: icon-url("window/linux/light/maximize.svg");

      @media (prefers-color-scheme: dark) {
        background-image: icon-url("window/linux/dark/maximize.svg");
      }

      .is-maximized & {
        background-image: icon-url("window/linux/light/is-maximized.svg");

        @media (prefers-color-scheme: dark) {
          background-image: icon-url("window/linux/dark/is-maximized.svg");
        }
      }

      .window-controls-left & {
        order: 3;
      }

      .not-maximizable &,
      :has(.no-project) & {
        display: none;
      }
    }

    .close {
      background-image: icon-url("window/linux/light/close.svg");

      @media (prefers-color-scheme: dark) {
        background-image: icon-url("window/linux/dark/close.svg");
      }

      .is-full-screen & {
        display: none;
      }

      .window-controls-right & {
        order: 3;
      }
    }

    .fullscreen {
      background-image: icon-url("window/linux/light/exit-fullscreen.svg");
      display: none;

      @media (prefers-color-scheme: dark) {
        background-image: icon-url("window/linux/dark/exit-fullscreen.svg");
      }

      .is-full-screen & {
        display: flex;
      }

      .window-controls-right & {
        order: 3;
      }
    }
  }
}
