//
// Legacy OS X window controls
// --------------------------------------------------

.window-controls {
  position: absolute;
  left: 9px;
  top: 9px;
  width: 60px;
  z-index: $zindex-window-controls;

  &:hover {
    button {
      background-position-y: -12px;
    }

    .maximize {
      .is-maximized & {
        background-position-y: -48px;

        &:active {
          background-position-y: -60px;
        }
      }
    }
  }

  button {
    width: 12px;
    height: 12px;
    border: 0;
    background: {
      repeat: no-repeat;
      position: 0 0;
      size: 12px auto;
      color: transparent;
    }
    margin: 4px;
    vertical-align: top;

    &:active {
      background-position-y: -24px;
    }

    .is-blurred & {
      background-position-y: -36px;
    }
  }

  .minimize {
    .not-minimizable & {
      background-position-y: -36px;
    }
  }

  .maximize {
    .not-maximizable & {
      background-position-y: -36px;
    }
  }

  @each $aqua in blue, graphite {
    .#{$aqua} & {

      @each $action in close, minimize, maximize {
        .#{$action} {
          background-image:
            -webkit-image-set(
              image-url("application-frame/#{$aqua}/#{$action}@1x.svg") 1x,
              image-url("application-frame/#{$aqua}/#{$action}@2x.svg") 2x);
        }
      }
    }
  }
}
