<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; worker-src 'self'; style-src 'self' 'unsafe-inline'; img-src * data:; connect-src http: https: file: 'self'; form-action 'none'">
</head>
<body id="project" tabindex="-1">
  <main id="main"></main>
  <div id="popup-root"></div>
  <div id="cover" class="cover">
    <svg class="tropy-icon" xmlns="http://www.w3.org/2000/svg" width="144" height="144" viewBox="0 0 144 144">
      <polygon fill="transparent" points="121.524 49 143.464 11 0.536 11 22.475 49 27.094 49 7.464 15 136.536 15 119.216 45 53 45 53 134.464 91 112.524 91 74.906 87 77.215 87 110.216 57 127.536 57 49 121.524 49"/>
    </svg>
  </div>
</body>
</html>
