//
// Note list
// --------------------------------------------------

$panel-separator-color: #ddd !default;

.note.list {
  flex: 1 1 0;
  overflow-y: auto;

  .note {
    padding: $note-padding-vertical $component-padding-horizontal;
    position: relative;
    cursor: pointer;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      right: $component-padding-horizontal;
      left: $component-padding-horizontal;
      height: 1px;
      background: $panel-separator-color;
    }

    &:first-child {
      &::before {
        content: none;
      }
    }

    &.active {
      color: $note-active-color;
      background: $note-active-bg;

      &::before {
        content: none;
      }

      & + .note {
        border-top: 1px solid $note-active-bg;
        padding-top: ($note-padding-vertical - 1px);

        &::before {
          content: none;
        }
      }
    }

    // CSS multiline truncate
    .css-multiline-truncate {
      @include css-multiline-truncate($note-lines);
    }
  }
}
