@use "../../abstracts/config" as *;

//
// Notepad
// --------------------------------------------------

.note-pad {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  contain: strict;

  .side-by-side:not(.notepad-maximized) & {
    padding-left: $space-min;
  }
}
