//
// Photo grid
// --------------------------------------------------

.photo.grid {
  flex: 1 1 0;
  margin-bottom: $space-min;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: $space-min $default-padding-horizontal 0;
  overflow-y: scroll;

  .over & {
    overflow: hidden;
  }

  .photo {
    position: relative;
  }
}
