//
// Photo grid
// --------------------------------------------------

.photo.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: $space-min $component-padding-horizontal 0;
  height: calc(100% - #{$space-min});
  overflow-y: scroll;

  .over & {
    overflow: hidden;
  }

  .photo {
    position: relative;
  }
}
