//
// Photo list
// --------------------------------------------------

.photo.list {
  flex: 1 1 0;
  margin-bottom: $space-min;
  overflow-y: auto;
  line-height: $row-height;

  .photo {
    display: flex;
    align-items: center;
    padding: 0 $default-padding-horizontal;
    position: relative;

    &.active {
      color: $photo-list-active-color;
      background: $photo-list-active-bg;

      @at-root #{selector-replace(&, ".photo.list", ".photo.list:focus")} {
        color: $photo-list-focus-color;
        background: $photo-list-focus-bg;
      }
    }
  }

  .thumbnail {
    margin-right: $space-xs;
  }

  .title {
    flex: 1 1 0;
    min-width: 0; // Fix truncation

    .editable {
      @include css-truncation;
    }
  }
}
