//
// Photo list
// --------------------------------------------------

.photo.list {
  flex: 1 1 0;
  margin-bottom: $space-min;
  overflow-y: auto;
  line-height: $row-height;

  .photo {
    align-items: center;
    position: relative;

    &.active {
      .photo-container {
        color: $photo-list-active-color;
        background: $photo-list-active-bg;

        @at-root #{selector-replace(&, ".photo.list", ".photo.list:focus")} {
          color: $photo-list-focus-color;
          background: $photo-list-focus-bg;

          .icon-selection {
            color: $photo-list-focus-color;
          }
        }
      }
    }

    .photo-container {
      display: flex;
      align-items: center;
      padding: 0 $default-padding-horizontal;
    }
  }

  .thumbnail {
    margin-right: $space-xs;
  }

  .title {
    flex: 1 1 0;
    min-width: 0; // Fix truncation

    .editable {
      @include css-truncation;
    }
  }

  .icon-selection {
    flex: 0 0 auto;
    margin-left: $space-xs;
  }

  .selection.list {
    .selection {
      display: flex;
      align-items: center;
      padding: 0 $space-lg;
    }
  }
}
