@use "../../abstracts/config" as *;

//
// Photo panel
// --------------------------------------------------

.photo-panel {
  .toolbar {
    padding-right: $default-spacing-x - 3px; // Align icons with icon button
  }

  .slider {
    .slider-handle {
      .photo-panel:focus-visible:not(:has(li.active)) :is(&) {
        background-color: $photo-panel-slider-handle-focus-visible-bg;
      }

      .is-blurred .item-mode & {
        @if $platform == darwin and $theme == light {
          background-color: $photo-panel-slider-handle-blurred-bg-darwin;
        }
      }
    }
  }
}
