@use "../../abstracts/config" as *;

//
// Photo panel
// --------------------------------------------------

.photo-panel {
  .toolbar {
    padding-right: $default-spacing-x - 3px; // Align icons with icon button
  }

  .slider {
    .slider-handle {
      .photo-panel:focus-visible:not(:has(li.active)) :is(&) {
        @media (prefers-color-scheme: light) { // Safeguard
          background-color: $photo-panel-slider-handle-focus-visible-bg;
        }
      }

      .darwin.is-blurred .item-mode & { // Safeguard
        @media (prefers-color-scheme: light) { // Safeguard
          background-color: $photo-panel-slider-handle-blurred-bg-darwin;
        }
      }
    }
  }
}
