//
// Photo panel
// --------------------------------------------------

.photo-panel {
  .toolbar {
    padding-right: $default-padding-horizontal - 3px; // Align icons with icon button
  }

  .slider {
    .slider-handle {
      @include state(".photo-panel.nested-tab-focus:not(:has(li.active))") {
        background-color: $photo-panel-slider-handle-nested-focus-bg;
      }

      .is-blurred .item-mode & {
        @if $platform == darwin and $theme == light {
          background-color: $photo-panel-slider-handle-blurred-bg-darwin;
        }
      }
    }
  }
}
