<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSDesktopFolderUsageDescription</key>
  <string>Tropy requests access to project and image files in the Desktop folder</string>
  <key>NSDocumentsFolderUsageDescription</key>
  <string>Tropy requests access to project and image files in the Documents folder</string>
  <key>NSDownloadsFolderUsageDescription</key>
  <string>Tropy requests access to project and image files in the Downloads folder</string>
  <key>NSNetworkVolumesUsageDescription</key>
  <string>Tropy requests access to project and image files on a network volume</string>
  <key>NSRemovableVolumesUsageDescription</key>
  <string>Tropy requests access to project and image files on a removable volume</string>
  <key>LSMinimumSystemVersion</key>
  <string>10.13.0</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLIconFile</key>
      <string>tropy.icns</string>
      <key>CFBundleURLName</key>
      <string>org.tropy.tropy-url</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>tropy</string>
      </array>
    </dict>
  </array>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Tropy Project</string>
      <key>CFBundleTypeIconFile</key>
      <string>tpy.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>org.tropy.v1.mime-types.tpy</string>
      </array>
      <key>NSExportableTypes</key>
      <array>
        <string>org.tropy.v1.mime-types.tpy</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Tropy Template</string>
      <key>CFBundleTypeIconFile</key>
      <string>ttp.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>org.tropy.v1.mime-types.ttp</string>
      </array>
      <key>NSExportableTypes</key>
      <array>
        <string>org.tropy.v1.mime-types.ttp</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>JPEG</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.jpeg</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>PNG</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.png</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>TIFF</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>CFBundleMIMETypes</key>
      <array>
        <string>image/tiff</string>
        <string>image/tif</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>TIFF</string>
        <string>TIF</string>
        <string>tiff</string>
        <string>tif</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>WebP</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>CFBundleMIMETypes</key>
      <array>
        <string>image/webp</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>WEBP</string>
        <string>webp</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>SVG</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.svg-image</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>GIF</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.compuserve.gif</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Folder</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.folder</string>
      </array>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>org.tropy.v1.mime-types.tpy</string>
      <key>UTTypeReferenceURL</key>
      <string>https://tropy.org/v1/mime-types/tpy</string>
      <key>UTTypeDescription</key>
      <string>Tropy Project</string>
      <key>UTTypeIconFile</key>
      <string>tpy.icns</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <string>tpy</string>
        <key>public.mime-type</key>
        <string>application/vnd.tropy.tpy</string>
      </dict>
    </dict>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>org.tropy.v1.mime-types.ttp</string>
      <key>UTTypeReferenceURL</key>
      <string>https://tropy.org/v1/mime-types/ttp</string>
      <key>UTTypeDescription</key>
      <string>Tropy Template</string>
      <key>UTTypeIconFile</key>
      <string>ttp.icns</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <string>ttp</string>
        <key>public.mime-type</key>
        <string>application/vnd.tropy.ttp</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
