$brand-primary: #5c93e6;

$duration: 0.8s;
$timing: cubic-bezier(0.23, 1, 0.32, 1);

$toolbar-height: 32px;

$zindex-view: 10;
$zindex-draggable-region: 20;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
}

.container {
  background: #000;
  width: 100%;
  height: 100%;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  will-change: transform;
}

.project-view {
  overflow: hidden;
  transition: transform $duration $timing;
  transform: translate3d(0, 0, 0);
  z-index: $zindex-view;

  .item & {
    transform: translate3d(-270px, 0, 0);
  }
}

.item-view {
  overflow: hidden;
  transform: translate3d(1080px, 0, 0);
  transition: transform $duration $timing;
  z-index: $zindex-view;

  .item & {
    transform: translate3d(0, 0, 0);
  }
}

.toolbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $toolbar-height;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: default;
  z-index: $zindex-draggable-region;
}

.drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: default;
}

.no-drag {
  -webkit-app-region: no-drag;
}