$brand-primary: #5c93e6;
$hotspot-color: #4ec3f5;

$duration: 0.8s;
$timing: cubic-bezier(0.23, 1, 0.32, 1);

$toolbar-height: 38px;

$zindex-view: 10;
$zindex-draggable-region: 20;

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.container {
  background: #000;
  width: 100%;
  height: 100%;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  will-change: transform;
}

.project-view {
  overflow: hidden;
  transition: transform $duration $timing;
  transform: translate3d(0, 0, 0);
  z-index: $zindex-view;

  .item & {
    transform: translate3d(-280px, 0, 0);
  }
}

.item-view {
  overflow: hidden;
  transform: translate3d(960px, 0, 0);
  transition: transform $duration $timing;
  z-index: $zindex-view;

  .item & {
    transform: translate3d(0, 0, 0);
  }
}

.toolbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $toolbar-height;
  z-index: $zindex-draggable-region;
}


.drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: default;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.window-controls {
  position: absolute;
  left: 9px;
  top: 9px;
  width: 60px;
  z-index: $zindex-draggable-region + 10;

  &:hover button {
    background-position-y: -12px;
  }

  .is-blurred & button {
    background-position-y: -36px;
  }

  button {
    width: 12px;
    height: 12px;
    border: none;
    background: {
      repeat: no-repeat;
      position: 0 0;
      size: 12px auto;
      color: transparent;
    }
    margin: 4px;
    vertical-align: top;

    &:active {
      background-position-y: -24px;
    }
  }


  @each $action in close, minimize, maximize {
    .#{$action} {
      background-image:
        -webkit-image-set(
          url("../../../static/assets/images/application-frame/#{$action}@1x.svg") 1x,
          url("../../../static/assets/images/application-frame/#{$action}@2x.svg") 2x);
    }
  }
}

.hotspot {
  background: rgba($hotspot-color, 0.6);
  position: absolute;
  width: 100px;
  height: 20px;
  left: 0;
  top: 0;
  z-index: 30;
  display: none;
  color: #fff;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: default;

  .shift & {
    opacity: 1;
  }

  &.active {
    border: 1px solid #000933;

    & + .hotspot {
      border: 1px dashed #000933;
    }
  }
}

// Project view hotspots

.container:not(.item) ~ .hotspots {
  [data-p="000"],
  [data-p="010"],
  [data-p="020"],
  [data-p="030"],
  [data-p="040"],
  [data-p="050"],
  [data-p="060"],
  [data-p="070"],
  [data-p="080"],
  [data-p="090"],
  [data-p="100"],
  [data-p="160"] {
    display: flex;
  }
}

// Item view hotspots

.container.item ~ .hotspots {
  [data-p="110"],
  [data-p="120"],
  [data-p="130"],
  [data-p="140"],
  [data-p="150"] {
    display: flex;
  }
}

// Project view

[data-p="000"] {
  left: 0px;
  top: 42px;
  width: 250px;
  height: 26px;
}

[data-p="010"] {
  left: 254px;
  top: 69px;
  width: 702px;
  height: 30px;
}

[data-p="020"] {
  left: 554px;
  top: 145px;
  width: 320px;
  height: 24px;
}

[data-p="030"] {
  left: 555px;
  top: 195px;
  width: 318px;
  height: 24px;
}

[data-p="040"] {
  left: 254px;
  top: 249px;
  width: 702px;
  height: 30px;
}

[data-p="050"] {
  left: 254px;
  top: 459px;
  width: 702px;
  height: 30px;
}

[data-p="060"] {
  left: 960px;
  top: 186px;
  width: 309px;
  height: 24px;
}

[data-p="070"] {
  left: 254px;
  top: 279px;
  width: 702px;
  height: 30px;
}

[data-p="080"] {
  left: 605px;
  top: 352px;
  width: 250px;
  height: 19px;
}

[data-p="090"] {
  left: 1269px;
  top: 70px;
  width: 11px;
  height: 192px;
}

[data-p="100"] {
  left: 960px;
  top: 293px;
  width: 320px;
  height: 199px;
}

// Item view

[data-p="110"] {
  left: 332px;
  top: 7px;
  width: 24px;
  height: 24px;
}

[data-p="120"] {
  left: 324px;
  top: 42px;
  width: 956px;
  height: 318px;
}

[data-p="130"] {
  left: 324px;
  top: 364px;
  width: 956px;
  height: 297px;
}

[data-p="140"] {
  left: 324px;
  top: 665px;
  width: 1052px;
  height: 55px;
}

[data-p="150"] {
  left: 70px;
  top: 7px;
  width: 24px;
  height: 24px;
}

// Project view

[data-p="160"] {
  left: 0px;
  top: 250px;
  width: 250px;
  height: 26px;
}