$platform: 'darwin';
@import "common";

$duration: 1s;
$timing: cubic-bezier(0.23, 1, 0.32, 1);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.container {
  background: #000;
  width: 100%;
  height: 100%;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-view {
  overflow: hidden;
  transition: transform $duration $timing;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: transform;
  z-index: 1;
}

.item-view {
  overflow: hidden;
  transform: translate3d(1080px, 0, 0);
  backface-visibility: hidden;
  transition: transform $duration $timing;
  will-change: transform;
  z-index: 2;
}

.container.item {
  .project-view {
    transform: translate3d(-270px, 0, 0);
  }

  .item-view {
    transform: translate3d(0, 0, 0);
  }
}