//
// Base
// --------------------------------------------------

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  // Fix #item-view positioning bug on window resize.
  // Remove this fix when it is not needed anymore.
  position: relative;
}

html,
body,
.view {
  height: 100%;
}

body {
  color: $text-color;
  background: $body-bg;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
}
