//
// Base
// --------------------------------------------------

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html,
body,
#view {
  height: 100%;
}

body {
  background: $body-bg;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
}
