//
// Base
// --------------------------------------------------

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html,
body,
main {
  height: 100%;
}

html {
  // Fix #item-view positioning bug on window resize.
  // Remove this fix when it is not needed anymore.
  position: relative;
}

body {
  color: $text-color;
  background: $body-bg;
  overflow: hidden;
  cursor: default;
  user-select: none;

  @if $platform == darwin {
    -webkit-font-smoothing: antialiased; // Lighter font rendering
  }

  &::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: 13px;
    top: 13px;
    width: 52px;
    height: 12px;
    border: 1px solid blue;
    z-index: 9999;
  }
}
