//
// Typography
// --------------------------------------------------

body {
  font: {
    family: $font-family-base;
    size: $font-size-base;
  }
  line-height: $line-height-base;
  color: $text-color;
}


// Lists

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}