//
// Typography
// --------------------------------------------------

html {
  font: {
    family: $font-family-base;
    size: $font-size-base;
  }
  line-height: $line-height-base;
}


// Headings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: inherit;
  color: $headings-color;
  font-size: inherit;
  margin: 0;
}


// Links

a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}


// Paragraphs

p {
  margin: 1em 0;
}


// Lists

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


// Text selection

::selection {
  color: $text-selection-color;
  background-color: $text-selection-bg;
}


// Alignment classes

.text-right {
  text-align: right;
}


// Small text

small {
  display: inline;
}

.mute {
  color: $muted-text-color;
}


// Horizontal rule

hr {
  border: none;
  border-top: 1px solid $hr-border;
  margin: $space-sm 0;
}
