//
// Typography
// --------------------------------------------------

body {
  font: {
    family: $font-family-base;
    size: $font-size-base;
  }
  line-height: $line-height-base;
}


// Headings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  font-size: inherit;
  margin: 0;
}


// Lists

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


// Text selection

::selection {
  color: $text-selection-color;
  background-color: $text-selection-bg;
}
