//
// Utilities
// --------------------------------------------------

.hidden {
  height: 1px;
  left: -1000em;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

// CSS truncate
.truncate {
  @include css-truncation;
}
