//
// Item grid
// --------------------------------------------------

.item.grid {
  flex: 1 1 0;
  border-top: 1px solid $item-table-header-border-color;
  margin: 0 $space-min;
  position: relative;
  display: flex; // Prevent overflow
  flex-direction: column; // Strech scroll-container

  .scrollbar-style-old-school & {
    margin-right: 0;
    border-top-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      right: $space-min;
      left: 0;
      height: 1px;
      background: $item-table-header-border-color;
    }
  }

  .scroll-container {
    padding: $space-min;
  }

  .runway {
    contain: strict;
    min-height: 100%;
  }

  .viewport {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    contain: layout size style;
    will-change: transform;
  }

  &.over {
    @extend %drop-target;
  }
}
