@use "../../abstracts/config" as *;

//
// Item panel
// --------------------------------------------------

.item-panel-group {
  .panel-group-header {
    .item-panel-group:has(.item-panel.nested-tab-focus) :is(&) {
      background-color: $panel-focus-bg;
    }

    .is-blurred .item-mode & {
      @if $platform == darwin {
        background-color: $panel-blurred-bg-darwin;
      }
    }
  }

  .toolbar {
    transition: padding 0.1s ease;

    .item-panel.closed :is(&) {
      padding: 0;
    }
  }

  .tabs {
    .is-blurred .item-mode & {
      @if $platform == darwin {
        background-color: $item-panel-tab-blurred-bg-darwin;
      }
    }

    .tab {
      &.active {
        .is-blurred .item-mode & {
          @if $platform == darwin {
            background-color: $item-panel-tab-blurred-selected-bg-darwin;
            box-shadow: 0 0 0 $input-border-width $item-panel-tab-blurred-selected-border-darwin;
          }
        }
      }
    }
  }
}
