//
// Item panel group
// --------------------------------------------------

.item-panel-group {
  .panel-group-header {
    position: relative;
    z-index: 2;

    .toolbar {
      .frameless & {
        -webkit-app-region: drag;
      }
    }
  }

  .tabs {
    transition: border-radius 0.1s ease;

    @include state(".item-panel-group .panel.closed") {
      border-radius: 0;
    }

    .tab {
      transition: border-color 0.1s ease, border-radius 0.1s ease;

      @include state(".item-panel-group .panel.closed") {
        border-radius: 0;
        margin: 0;

        &.active {
          box-shadow: none;
        }
      }
    }
  }
}
