//
// Variables
// --------------------------------------------------


// Colors
// --------------------------------------------------

$white: #fff;
$gray-lightest: #f6f6f6;
$gray-light: #e6e6e6;
$black: #000;

// Typography
// --------------------------------------------------

$font-family-sans-serif:  BlinkMacSystemFont;
$font-family-base:        $font-family-sans-serif;


// Default Dimensions
// --------------------------------------------------

$toolbar-height: 38px;


// Default Dimensions
// --------------------------------------------------

$sidebar-default-width: 250px;
$panels-default-width: 320px;