//
// Variables
// --------------------------------------------------


// Typography
// --------------------------------------------------

$sans-serif-fonts: (
  darwin: "'Helvetica Neue', Helvetica, sans-serif",
  linux: "system-ui",
  win32: "'Segoe UI', sans-serif"
);

$font-family-sans-serif: unquote(map-get($sans-serif-fonts, $platform));
$font-family-base:       $font-family-sans-serif;

$font-size-small: const("FONTSIZE.SMALL") * 1px;
$font-size-base:  const("FONTSIZE.BASE") * 1px;
$font-size-large: const("FONTSIZE.LARGE") * 1px;

// Heads up: Do not trust the computed value in the dev tools,
// check the actual height of the rendered element.
// Must result in an even value (20px) for proper alignment of editables.
$line-height-base:     1.539;

$line-height-computed: floor((const("FONTSIZE.BASE") * $line-height-base)) * 1px;
$line-height-large:    26px;

$link-hover-decoration: underline;

$h1-font-size: 18px;

$headings-font-family:    inherit;
$headings-font-weight:    400;
$headings-line-height:    1.1;
$headings-color:          inherit;


// Space sizes
// --------------------------------------------------

$space-min: 4px;
$space-xs:  8px;
$space-sm:  12px;
$space-md:  16px;
$space-lg:  24px;
$space-xl:  32px;
$space-xxl: 48px;

$shim: 1px;


// Thumbnails
// --------------------------------------------------

$thumbnail-size:          $space-lg;


// Tile
// --------------------------------------------------

$tile-thumbnail-sizes:    const("ITEM.ZOOM");
$tile-thumbnail-size-min: const("ICON.SIZE");
$tile-thumbnail-size-max: const("ICON.MAX");
$tile-factor:             const("TILE.FACTOR");
$pointer-height:          10px;


// Stack
// --------------------------------------------------

$stack-size-max: 2;


// Drag layer
// --------------------------------------------------

$drag-preview-size: 64px;


// Dimensions
// --------------------------------------------------

$toolbar-height: 38px;
$wizard-spacing-top: 37px;


// Default Dimensions
// --------------------------------------------------

$panels-default-width: 320px;
$search-width: 200px;


// Common Dimensions
// --------------------------------------------------

$padding-base-vertical: 2px;

$padding-base-horizontal: $space-xs;
$padding-large-horizontal: $space-sm;

$border-radius-small: 3px;
$border-radius-base:  4px;
$border-radius-large: 6px;

$default-padding-horizontal: $space-sm;

$row-height: $thumbnail-size + 6px;


// Mode transition
// --------------------------------------------------

$mode-transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);


// Grid
// --------------------------------------------------

$grid-gutter-width: $space-xs;


// Forms & Buttons
// --------------------------------------------------

$input-btn-transition: 0.15s ease;

// Buttons
// --------------------------------------------------

$btn-icon-padding: $space-min + $shim; // 26px size
$btn-disabled-opacity: 0.5;


// Forms
// --------------------------------------------------

$input-height-base: $space-lg + 2 * $shim;
$input-height-large: ($space-xl + $space-xs);
$input-border-radius-small: $border-radius-small;
$checkbox-size: 14px;
$input-border-width: const("INPUT.BORDER_WIDTH") * 1px;


// Z-index master list
// --------------------------------------------------

$zindex-resizable:        1000;
$zindex-project:          1010;
$zindex-item:             1020;
$zindex-draggable:        1030;
$zindex-esper-header:     1030;
$zindex-drop-target:      1040;
$zindex-drag-layer:       1050;
$zindex-flash:            1060;
$zindex-popup:            1070;
$zindex-closing-backdrop: 1080;
$zindex-window-controls:  1090;


// Darwin window controls
// --------------------------------------------------
$window-controls-width: 60px;
$window-controls-offset-x: 9px;
$window-controls-offset-y: 9px;
$window-controls-margin: 4px;


// Sidebar
// --------------------------------------------------

$activity-height: const("ACTIVITY.HEIGHT") * 1px;
$activity-transition-duration:        0.125s;
$activity-transition-timing-function: ease-out;


// Table view
// --------------------------------------------------

$item-table-header-height: $line-height-large;
$column-transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);


// Panel
// --------------------------------------------------

$panel-header-height: const("PANEL.HEADER_HEIGHT") * 1px;
$panel-body-min-height: 100px - (const("PANEL.HEADER_HEIGHT") * 1px) - 4px;


// Accordion
// --------------------------------------------------

$accordion-border-radius: $border-radius-small;


// Tabs
// --------------------------------------------------

$tabs-height: const("PANEL.HEADER_HEIGHT") * 1px;
$tabs-padding-horizontal: $space-md;
$tabs-compact-padding-horizontal: $space-xs;


// Metadata
// --------------------------------------------------

$metadata-line-height: $space-lg;
$metadata-gutter: $space-sm;
$metadata-horizontal-offset: 33%;


// Note list
// --------------------------------------------------

$note-padding-top: 11px; // 16px
$note-padding-bottom: 9px; // 16px
$note-lines: 2;


// Editable
// --------------------------------------------------

$editable-border-width: 3px;
$editable-padding-vertical: 2px;
$editable-padding-horizontal: 2px;
$editable-border-radius: 3px;


// Resizable
// --------------------------------------------------

$resizable-threshold: $space-xs;


// Slider
// --------------------------------------------------

$slider-width:            154px;
$slider-height:           $line-height-large;
$slider-track-height:     $space-min;
$slider-handle-size:      $space-sm;
$slider-value-transition: 0.3s ease;

$slider-width-sm:       104px;
$slider-handle-size-sm: 10px;


// Esper
// --------------------------------------------------

$esper-toolbar-transition-in-hover: 0.3s 0.4s ease;
$esper-toolbar-transition-in-focus: 0.3s ease;
$esper-toolbar-transition-out: 0.3s 0.3s ease;
$esper-toolbar-blur-radius: 20px;
$esper-cursor: const("ESPER.CURSOR");
$esper-panel-width: 240px;


// Scrollbar
// --------------------------------------------------

$scrollbar-size: $space-sm;


// Progress bar
// --------------------------------------------------

$progress-bar-height: $space-min;
$progress-value-border-radius: $progress-bar-height / 2;


// Editor
// --------------------------------------------------

$editor-size:                 80%;
$editor-max-size:             700px;
$editor-font-size:            18px;
$editor-line-height:          1.6;
$editor-line-height-computed: floor($editor-font-size * $editor-line-height);
$editor-list-padding:         3 * $editor-font-size;
$editor-outline-width:        2px;
$blockquote-border:           3px;
$blockquote-padding:          1em;
$editor-hr-border:            2px;
$sup-and-sub-font-size:       1em * 2 / 3;
$link-target-width:           400px;
$editor-padding:              48px;


// Toolbar
// --------------------------------------------------

$toolbar-context-transition: 0.24s ease;


// Tag list
// --------------------------------------------------

$add-tag-transition:                0.3s ease;


// Search
// --------------------------------------------------

$clear-button-size: 14px;


// Popup
// --------------------------------------------------

$popup-focus-shadow-width: const("INPUT.FOCUS_SHADOW_WIDTH") * 1px;
$popup-padding: const("POPUP.PADDING") * 1px;


// Option
// --------------------------------------------------

$option-list-margin: const("OPTION.LIST_MARGIN") * 1px;


// Debug
// --------------------------------------------------

$debug: false;
$debug-color: #e55c5c;
