//
// Variables
// --------------------------------------------------


// Typography
// --------------------------------------------------

$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-family-base:       $font-family-sans-serif;

$font-size-base: 14px;

$line-height-base: 1.43;
$line-height-computed: floor(($font-size-base * $line-height-base));


// Space sizes
// --------------------------------------------------

$space-min: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;


// Dimensions
// --------------------------------------------------

$toolbar-height: 38px;


// Default Dimensions
// --------------------------------------------------

$sidebar-default-width: 250px;
$panels-default-width: 320px;


// Z-index master list
// --------------------------------------------------

$zindex-window-controls: 1000;