//
// Selectors
// --------------------------------------------------

// State mixin
@mixin state($states...) {
  @each $state in $states {
    $string: $state;

    @each $token in ">", "+", "~" {
      $string: str-replace($string, $token, " ");
    }

    $string: str-replace($string, "  ", " ");

    $selectors: str-parse($string, " ");

    @each $sel in $selectors {
      @if str-index(#{&}, $sel) != null {
        @at-root #{selector-replace(&, $sel, $state)} {
          @content;
        }
      }
    }
  }
}

// Variant mixin (alias)
@mixin variant($args...) {
  @include state($args...) {
    @content;
  }
}
