//
// Selectors
// --------------------------------------------------

// State mixin
@mixin state($states...) {
  @each $state in $states {
    $selectors: $state;

    @each $token in " ", ">", "+", "~" {
      $i: str-index($selectors, $token);

      @while $i != null {
        $first-part: str-slice($selectors, 1, ($i - 1));
        $last-part: str-slice($selectors, ($i + 1));
        $selectors: #{$first-part}#{$last-part};

        $i: str-index($selectors, $token);
      }
    }

    $selectors: simple-selectors($selectors);

    @each $sel in $selectors {
      @if str-index(#{&}, $sel) != null {
        @at-root #{selector-replace(&, $sel, $state)} {
          @content;
        }
      }
    }
  }
}

// Variant mixin (alias)
@mixin variant($args...) {
  @include state($args...) {
    @content;
  }
}
