//
// Utilities
// --------------------------------------------------

@mixin css-truncation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin css-multiline-truncate($lines) {
  height: ($lines * $line-height-computed);
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
