// stylelint-disable

// Colors
// --------------------------------------------------

:root {
  #{--brand-primary}:            $brand-primary;
  #{--brand-primary-30}:         rgba($brand-primary, 0.3);
  #{--brand-primary-35}:         rgba($brand-primary, 0.35);
  #{--brand-primary-60}:         rgba($brand-primary, 0.6);
  #{--brand-primary-darken-2}:   darken($brand-primary, 2%);
  #{--brand-primary-dark}:       $brand-primary-dark;
  #{--brand-primary-light}:      $brand-primary-light;
  #{--brand-primary-light-10}:   rgba($brand-primary-light, 0.1);
  #{--brand-primary-light-76}:   rgba($blue-light, 0.76);
  #{--brand-primary-lighten-14}: saturate(lighten($brand-primary, 14%), 14%);
  #{--brand-primary-overlay}:    $brand-primary-overlay;
  #{--brand-primary-vibrancy}:   $brand-primary-vibrancy;
  #{--red}:                      $red;
  #{--red-64}:                   rgba($red, 0.64);
  #{--green}:                    $green;
  #{--green-tint-70}:            mix(#fff, $green, 70%);
}


// Grays
// --------------------------------------------------

:root {
  #{--transparent}:        $transparent;
  #{--shade-0}:            $shade-0;
  #{--shade-0-12}:         rgba($shade-0, 0.12);
  #{--shade-0-20}:         rgba($shade-0, 0.2);
  #{--shade-0-30}:         rgba($shade-0, 0.3);
  #{--shade-0-33}:         rgba($shade-0, 0.33);
  #{--shade-0-80}:         rgba($shade-0, 0.8);
  #{--shade-1}:            $shade-1;
  #{--shade-1-lighten-2}:  lighten($shade-1, 2%);
  #{--shade-1-lighten-4}:  lighten($shade-1, 4%);
  #{--shade-1-lighten-6}:  lighten($shade-1, 6%);
  #{--shade-1-darken-4}:   darken($shade-1, 4%);
  #{--shade-1-60}:         rgba($shade-1, 60%);
  #{--shade-1-80}:         rgba($shade-1, 80%);
  #{--shade-2}:            $shade-2;
  #{--shade-2-darken-4}:   darken($shade-2, 4%);
  #{--shade-2-60}:         rgba($shade-2, 60%);
  #{--shade-3}:            $shade-3;
  #{--shade-3-lighten-2}:  lighten($shade-3, 2%);
  #{--shade-3-50}:         rgba($shade-3, 0.5);
  #{--shade-3-60}:         rgba($shade-3, 0.6);
  #{--shade-4}:            $shade-4;
  #{--shade-4-lighten-2}:  lighten($shade-4, 2%);
  #{--shade-4-lighten-4}:  lighten($shade-4, 4%);
  #{--shade-4-lighten-6}:  lighten($shade-4, 6%);
  #{--shade-4-lighten-8}:  lighten($shade-4, 8%);
  #{--shade-5}:            $shade-5;
  #{--shade-5-50}:         rgba($shade-5, 0.5);
  #{--shade-5-60}:         rgba($shade-5, 0.6);
  #{--shade-5-lighten-5}:  lighten($shade-5, 5%);
  #{--shade-5-darken-4}:   darken($shade-5, 4%);
  #{--shade-6}:            $shade-6;
  #{--shade-6-lighten-2}:  lighten($shade-6, 2%);
  #{--shade-6-lighten-4}:  lighten($shade-6, 4%);
  #{--shade-6-lighten-5}:  lighten($shade-6, 5%);
  #{--shade-6-lighten-6}:  lighten($shade-6, 6%);
  #{--shade-6-darken-4}:   darken($shade-6, 4%);
  #{--shade-7}:            $shade-7;
  #{--shade-7-lighten-2}:  lighten($shade-7, 2%);
  #{--shade-7-darken-5}:   darken($shade-7, 5%);
  #{--shade-7-40}:         rgba($shade-7, 0.4);
  #{--shade-7-50}:         rgba($shade-7, 0.5);
  #{--shade-8}:            $shade-8;
  #{--shade-8-darken-5}:   darken($shade-8, 5%);
  #{--shade-9}:            $shade-9;
  #{--shade-10}:           $shade-10;
  #{--shade-10-2}:         rgba($shade-10, 0.02);
  #{--shade-10-4}:         rgba($shade-10, 0.04);
  #{--shade-10-5}:         rgba($shade-10, 0.05);
  #{--shade-10-7}:         rgba($shade-10, 0.07);
  #{--shade-10-8}:         rgba($shade-10, 0.08);
  #{--shade-10-10}:        rgba($shade-10, 0.1);
  #{--shade-10-12}:        rgba($shade-10, 0.12);
  #{--shade-10-14}:        rgba($shade-10, 0.14);
  #{--shade-10-16}:        rgba($shade-10, 0.16);
  #{--shade-10-18}:        rgba($shade-10, 0.18);
  #{--shade-10-20}:        rgba($shade-10, 0.2);
  #{--shade-10-22}:        rgba($shade-10, 0.22);
  #{--shade-10-33}:        rgba($shade-10, 0.33);
  #{--shade-10-39}:        rgba($shade-10, 0.39);
  #{--shade-10-46}:        rgba($shade-10, 0.46);
  #{--shade-10-50}:        rgba($shade-10, 0.5);
  #{--shade-10-64}:        rgba($shade-10, 0.64);
  #{--shade-10-69}:        rgba($shade-10, 0.69);
  #{--shade-10-darken-14}: darken($shade-10, 14%);
  #{--shade-10-darken-19}: darken($shade-10, 24%); // Darken shade-10-darken-14 by 10%
}


// Tag colors
// --------------------------------------------------

@each $key, $val in $tag-colors {
  :root {
    #{--#{$key}}: $val;
    #{--#{$key}-dark}: mix(#000, $val, 20%);
  }
}


// Partials
// --------------------------------------------------

// Forms
:root {

  // Level 2
  #{--level-2-border}:                var(--shade-1-lighten-2);
  #{--level-2-bg}:                    var(--shade-4);
  #{--level-2-input-bg-readonly}:     var(--shade-4-lighten-4);
  #{--level-2-fieldset-bg}:           var(--shade-4-lighten-4);
  #{--level-2-btn-default-active-bg}: var(--shade-3);
  #{--level-2-placeholder-color}:     var(--shade-6-lighten-2);

  // Level 3
  #{--level-3-border}:                var(--shade-1-lighten-4);
  #{--level-3-bg}:                    var(--shade-4-lighten-2);
  #{--level-3-input-bg-readonly}:     var(--shade-4-lighten-6);
  #{--level-3-fieldset-bg}:           var(--shade-4-lighten-6);
  #{--level-3-btn-default-active-bg}: var(--shade-4);
  #{--level-3-placeholder-color}:     var(--shade-6-lighten-4);

  // Level 4
  #{--level-4-border}:                var(--shade-1-lighten-6);
  #{--level-4-bg}:                    var(--shade-4-lighten-4);
  #{--level-4-input-bg-readonly}:     var(--shade-4-lighten-8);
  #{--level-4-fieldset-bg}:           var(--shade-4-lighten-8);
  #{--level-4-btn-default-active-bg}: var(--shade-4-lighten-2);
  #{--level-4-placeholder-color}:     var(--shade-6-lighten-6);
}
