// stylelint-disable

// Colors
// --------------------------------------------------

:root {
  #{--brand-primary}:          $brand-primary;
  #{--brand-primary-overlay}:  $brand-primary-overlay;
  #{--brand-primary-vibrancy}: $brand-primary-vibrancy;
  #{--brand-primary-light}:    $brand-primary-light;
  #{--brand-primary-30}:       rgba($brand-primary, 0.3);
  #{--brand-primary-tint-40}:  mix(#fff, $brand-primary, 40%);
  #{--brand-primary-dark}:     mix(#222, $brand-primary, 60%);
  #{--brand-primary-darken-4}: darken($brand-primary, 4%);
  #{--red}:                    $red;
  #{--green}:                  $green;
  #{--green-80}:               rgba($green, 0.8);
}


// Grays
// --------------------------------------------------

:root {
  #{--transparent}:         $transparent;
  #{--shade-0}:             $shade-0;
  #{--shade-0-40}:          rgba($shade-0, 0.4);
  #{--shade-0-50}:          rgba($shade-0, 0.5);
  #{--shade-1}:             $shade-1;
  #{--shade-1-darken-4}:    darken($shade-1, 4%); // 8% Fieldset bg
  #{--shade-1-darken-8}:    darken($shade-1, 8%); // 12% Vocab property bg
  #{--shade-1-darken-9}:    darken($shade-1, 9%);
  #{--shade-1-darken-14}:   darken($shade-1, 14%); // 18% Vocab property input border
  #{--shade-1-darken-12}:   darken($shade-1, 12%);
  #{--shade-1-darken-16}:   darken($shade-1, 16%);
  #{--shade-1-darken-18}:   darken($shade-1, 18%); // 22% Vocab property input border
  #{--shade-1-darken-22}:   darken($shade-1, 22%);
  #{--shade-1-darken-4-80}: rgba(darken($shade-1, 4%), 0.8);
  #{--shade-2}:             $shade-2;
  #{--shade-2-lighten-4}:   lighten($shade-2, 4%); // Esper slider handle bg
  #{--shade-2-darken-4}:    darken($shade-2, 4%); // Esper checkbox disabled bg
  #{--shade-2-darken-10}:   darken($shade-2, 10%); // Esper panel checkbox border
  #{--shade-3}:             $shade-3;
  #{--shade-3-darken-4}:    darken($shade-3, 4%);
  #{--shade-3-darken-8}:    darken($shade-3, 8%);
  #{--shade-3-darken-5}:    darken($shade-3, 5%); // Thumbnail bg
  #{--shade-3-60}:          rgba($shade-3, 0.6);
  #{--shade-4}:             $shade-4;
  #{--shade-4-darken-4}:    darken($shade-4, 4%);
  #{--shade-5}:             $shade-5;
  #{--shade-5-darken-4}:    darken($shade-5, 4%);
  #{--shade-5-darken-10}:   darken($shade-5, 10%);
  #{--shade-6}:             $shade-6;
  #{--shade-6-darken-4}:    darken($shade-6, 4%);
  #{--shade-6-40}:          rgba($shade-6, 0.4);
  #{--shade-6-50}:          rgba($shade-6, 0.5);
  #{--shade-6-lighten-13}:  lighten($shade-6, 13.5%);
  #{--shade-6-lighten-8}:   lighten($shade-6, 8%);
  #{--shade-7}:             $shade-7;
  #{--shade-7-darken-5}:    darken($shade-7, 5%);
  #{--shade-8}:             $shade-8;
  #{--shade-9}:             $shade-9;
  #{--shade-10}:            $shade-10;
  #{--shade-10-4}:          rgba($shade-10, 0.04);
  #{--shade-10-5}:          rgba($shade-10, 0.05);
  #{--shade-10-7}:          rgba($shade-10, 0.07);
  #{--shade-10-8}:          rgba($shade-10, 0.08);
  #{--shade-10-10}:         rgba($shade-10, 0.1);
  #{--shade-10-11}:         rgba($shade-10, 0.11);
  #{--shade-10-14}:         rgba($shade-10, 0.14);
  #{--shade-10-20}:         rgba($shade-10, 0.2);
  #{--shade-10-25}:         rgba($shade-10, 0.25);
  #{--shade-10-28}:         rgba($shade-10, 0.28);
  #{--shade-10-40}:         rgba($shade-10, 0.4);
  #{--shade-10-46}:         rgba($shade-10, 0.46);
  #{--shade-10-50}:         rgba($shade-10, 0.50);
  #{--shade-10-59}:         rgba($shade-10, 0.59);
  #{--shade-10-60}:         rgba($shade-10, 0.6);
  #{--shade-10-65}:         rgba($shade-10, 0.65);
  #{--shade-10-70}:         rgba($shade-10, 0.70);
  #{--shade-10-83}:         rgba($shade-10, 0.83);
  #{--shade-10-84}:         rgba($shade-10, 0.84);
  #{--shade-10-86}:         rgba($shade-10, 0.86);
}


// Tag colors
// --------------------------------------------------

@each $key, $val in $tag-colors {
  :root {
    #{--#{$key}}: $val;
    #{--#{$key}-dark}: mix(#000, $val, 8%);
  }
}


// Partials
// --------------------------------------------------

// Forms
:root {

  // Level 2
  #{--level-2-border}:                var(--shade-1-darken-14);
  #{--level-2-bg}:                    $input-bg;
  #{--level-2-input-bg-readonly}:     var(--shade-1-darken-8);
  #{--level-2-fieldset-bg}:           var(--shade-1-darken-8);
  #{--level-2-btn-default-active-bg}: var(--shade-1);
  #{--level-2-placeholder-color}:     var(--shade-5);

  // Level 3
  #{--level-3-border}:                var(--shade-1-darken-18);
  #{--level-3-bg}:                    $input-bg;
  #{--level-3-input-bg-readonly}:     var(--shade-1-darken-12);
  #{--level-3-fieldset-bg}:           var(--shade-1-darken-12);
  #{--level-3-btn-default-active-bg}: var(--shade-1);
  #{--level-3-placeholder-color}:     var(--shade-5);

  // Level 4
  #{--level-4-border}:                var(--shade-1-darken-22);
  #{--level-4-bg}:                    $input-bg;
  #{--level-4-input-bg-readonly}:     var(--shade-1-darken-16);
  #{--level-4-fieldset-bg}:           var(--shade-1-darken-16);
  #{--level-4-btn-default-active-bg}: var(--shade-1);
  #{--level-4-placeholder-color}:     var(--shade-5);
}
