// sass-lint:disable no-color-literals


//
// Dark theme
// --------------------------------------------------

$theme: "dark";


// Colors
// --------------------------------------------------

$blue:           #395bac;
$blue-35:        rgba($blue, 0.35);
$blue-60:        rgba($blue, 0.6);
$blue-darken-2: darken(#395bac, 2%);

$blue-light:    #cedef7;
$blue-light-10: rgba($blue-light, 0.1);

$red: #e62e2e;

$brand-primary:          $blue;
$brand-primary-darken-2: $blue-darken-2;

$brand-primary-light:    $blue-light;
$brand-primary-light-10: $blue-light-10;
$brand-primary-35:       $blue-35;
$brand-primary-60:       $blue-60;


// Grays
// --------------------------------------------------

$transparent:       transparent;

$shade-0:           #000;
$shade-0-5:         rgba(#000, 0.05);

$shade-1:           #212121;              // 87% Border search field, Esper bg
$shade-2:           #292929;              // 84% Inactive tab
$shade-3:           #2f2f2f;              // 82% Body
$shade-4:           #333;                 // 80% Sidebar bg, panel bg

$shade-5:           #404040;              // 75% Active state bg/border, slider track
$shade-5-lighten-5: lighten(#404040, 5%); // 70% Thumbnail bg

$shade-6:           #555;                 // Panel heading color, slider range
$shade-7:           #777;                 // Icon color, sidebar headings
$shade-8:           #999;                 // Softened text, active icon
$shade-9:           #bbb;                 // Text color

$shade-10:          #fff;
$shade-10-5:        rgba(#fff, 0.05);


// Scaffolding
// --------------------------------------------------

$body-bg:    $shade-3;
$text-color: $shade-9;


// Typography
// --------------------------------------------------

$link-color:       $brand-primary;
$link-hover-color: $brand-primary;

$text-selection-color: inherit;
$text-selection-bg:    $brand-primary-35;


// Partials
// --------------------------------------------------

// Forms
$input-color:             $shade-9;
$input-bg:                $shade-3; // Transparent causes border/box-shadow issue
$input-border:            $shade-1;
$input-color-focus:       $brand-primary;
$input-color-placeholder: $shade-6;
$input-color-readonly:    $shade-7;

// Badge
$badge-color: $shade-10;
$badge-bg:    $red;

// Drop target
$drop-target-color: $brand-primary-35;

// Sort indicator
$photo-sort-indicator: $shade-9;

// Tile
$tile-focus-color:  $brand-primary;
$tile-active-color: $shade-5;

// Stack
$stack-color:             $shade-7;
$stack-bg:                $body-bg;
$stack-focus-color:       $brand-primary-light;
$stack-line-gap-color:    $shade-3;
$stack-line-tint-color:   $shade-3;
$stack-line-tint-opacity: 0.5;

// Scrollbar
$scrollbar-bg: $transparent;
$scrollbar-color: $shade-6;


// Components
// --------------------------------------------------

// Icons
$icon-style:        "line";
$icon-color:        $shade-7;
$icon-active-color: $shade-9;

$icon-spin-color:   $brand-primary;

// Project
$project-darken-color: $shade-0-5;

// Sidebar
$sidebar-bg:                $shade-4;
$sidebar-text-color:        $shade-8;
$sidebar-headings-color:    $shade-7;
$sidebar-focus-icon-color:  $brand-primary-light;
$sidebar-focus-color:       $brand-primary-light;
$sidebar-focus-bg:          $brand-primary;
$sidebar-active-icon-color: $shade-8;
$sidebar-active-color:      $shade-9;
$sidebar-active-bg:         $shade-5;
$activity-border-color:     $shade-1;

// Items
$item-table-header-color:        $shade-8;
$item-table-header-sort-color:   $shade-9;
$item-table-header-active-bg:    $shade-2;
$item-table-header-border-color: $shade-1;
$items-odd-bg:                   $shade-4;
$items-focus-color:              $blue-light;
$items-focus-bg:                 $brand-primary;
$items-active-color:             $shade-9;
$items-active-bg:                $shade-5;

// Panel group
$panels-bg: $shade-4;

// Panel
$panel-bg:              $shade-4;
$panel-header-color:    $shade-8;
$panel-separator-color: $shade-1;
$panel-heading-color:   $shade-6;

// Tabs
$tab-bg: $shade-2;
$tab-active-color:   inherit;
$tab-active-bg:      transparent;
$tab-inactive-color: $shade-7;

// Metadata
$label-color:                $shade-7;
$template-select-border:     $shade-1;
$template-select-bg:         $shade-4;
$metadata-field-mixed-color: $shade-6;

// Tag list
$tag-list-focus-color:              $brand-primary-light;
$tag-list-focus-bg:                 $brand-primary;
$tag-list-active-bg:                $shade-5;
$mixed-color:                       $shade-6;
$add-tag-default-bg:                $panel-bg;
$add-tag-focus-bg:                  $shade-3;
$add-tag-placeholder-color-default: $text-color;
$add-tag-border-color:              $shade-1;

// Photo list
$photo-list-focus-color:  $brand-primary-light;
$photo-list-focus-bg:     $brand-primary;
$photo-list-active-color: $shade-9;
$photo-list-active-bg:    $shade-5;

// Note list
$note-list-focus-color:  $brand-primary-light;
$note-list-focus-bg:     $brand-primary;
$note-list-active-color: $shade-9;
$note-list-active-bg:    $shade-5;

// Editable
$editable-color:        $text-color;
$editable-bg:           $shade-3;
$editable-border-color: $shade-10-5;

// Wizard
$wizard-heading-color: $shade-8;
$wizard-link-color:    $brand-primary;

// Button
$btn-default-color:     $shade-9;
$btn-default-bg:        $shade-3;
$btn-default-border:    $shade-1;
$btn-default-active-bg: $shade-2;
$btn-primary-color:     $brand-primary-light;
$btn-primary-bg:        $brand-primary;
$btn-primary-active-bg: $brand-primary-darken-2;
$btn-icon-bg:           $transparent;

// Slider
$slider-track-bg:      $shade-5;
$slider-range-bg:      $shade-6;
$slider-handle-bg:     $shade-7;
$slider-handle-border: $transparent;

// Esper
$esper-bg:             $shade-1;
$esper-toolbar-bg:     $shade-1;
$esper-icon-color:     $shade-8;

// Drag preview
$drag-preview-opacity:           0.64;
$drag-preview-thumbnail-opacity: 1;

// Thumbnail
$thumbnail-color: rgba($icon-color, 0.5);
$thumbnail-bg:    $shade-5-lighten-5;

// Progress bar
$progress-bar-bg:       $shade-2;
$progress-bar-color:    $brand-primary;
$progress-cancel-color: $shade-4;
$progress-cancel-bg:    $shade-7;

// Editor
$editor-toolbar-border:    $shade-1;
$editor-btn-hover-bg:      $shade-2;
$editor-btn-active-color:  $shade-8;
$editor-btn-active-bg:     $shade-1;
$editor-text-selection-bg: $brand-primary-light-10;

$blockquote-border-color: $shade-8;
$selected-node-color:     $brand-primary;
$editor-hr-border-color:  $shade-8;
