// stylelint-disable


// Dark theme
// --------------------------------------------------

$theme: "dark";


// Colors
// --------------------------------------------------

$blue: #395bac;
$blue-light: #cedef7;
$blue-dark: #171b2e;
$blue-overlay: #5c93e5;
$blue-vibrancy: rgba(#4176f2, 0.7); // 2% brighter than blue-dark on original bg
$red: #e62e2e;
$green: #2e8c44; // 64% of the light theme green + 7% saturation

$brand-primary:          $blue;
$brand-primary-overlay:  $blue-overlay;
$brand-primary-vibrancy: $blue-vibrancy;
$brand-primary-dark:     $blue-dark;
$brand-primary-light:    $blue-light;


// Grays
// --------------------------------------------------

$transparent: transparent;

$shade-0:  #000; // Black
$shade-1:  #212121; // 87% Border search field, Esper bg
$shade-2:  #292929; // 84% Inactive tab, tile expansion
$shade-3:  #2f2f2f; // 82% Body
$shade-4:  #333; // 80% Sidebar bg, panel bg
$shade-5:  #404040; // 75% Active state bg/border, slider track
$shade-6:  #555; // Panel heading color, slider range
$shade-7:  #777; // Icon color, sidebar headings
$shade-8:  #999; // Softened text, active icon
$shade-9:  #bbb; // Text color
$shade-10: #fff; // White


// Tag colors
// --------------------------------------------------

$tag-colors: (
  color-red:        #f66,
  color-orange:     #ff8c19,
  color-yellow:     #ffc200,
  color-green:      #66bf39,
  color-blue:       #5c73e6,
  color-purple:     #a6507b,
  color-gray:       #999,
  color-brown:      #b37459,
  color-apricot:    #ebc2a7,
  color-dark-green: #0f9468,
  color-light-blue: #4dbeff,
  color-lavender:   #a28ae6
);

$tag-color-shades: ();

@each $key, $val in $tag-colors {
  $tag-color-shades: map-merge(
    $tag-color-shades,
    (
      $key: (
        color-base: var(--#{$key}),
        color-dark: var(--#{$key}-dark)
      )
    )
  );
}


// Scaffolding
// --------------------------------------------------

$body-bg:          var(--shade-3);
$text-color:       var(--shade-9);
$soft-text-color:  var(--shade-8);
$muted-text-color: var(--shade-7);
$tropy-icon-color: var(--shade-1);
$cover-bg:         var(--shade-3);


// Typography
// --------------------------------------------------

$link-color:       var(--brand-primary-lighten-14);
$link-hover-color: var(--brand-primary-lighten-14);

$text-selection-color: inherit;
$text-selection-bg:    var(--brand-primary-35);

$hr-border: var(--shade-1);


// Partials
// --------------------------------------------------

// Forms & buttons
$input-btn-focus-color: var(--brand-primary);
$input-btn-invalid-color: var(--red-64);
$input-btn-overlay-focus-color: var(--brand-primary-overlay);
$disabled-opacity: 0.5;

// Forms
$input-color:                            var(--shade-9);
$input-bg:                               var(--shade-3); // Transparent causes border/box-shadow issue
$input-overlay-bg:                       var(--shade-10-20);
$input-bg-readonly:                      var(--shade-4-lighten-2);
$input-overlay-bg-readonly:              var(--shade-10-10);
$input-border:                           var(--shade-1);
$input-overlay-focus-color:              var(--brand-primary-overlay);
$input-color-placeholder:                var(--shade-6);
$fieldset-bg:                            var(--shade-4-lighten-2);
$checkbox-bg:                            var(--shade-3);
$checkbox-overlay-disabled-border:       var(--shade-10-10);
$checkbox-checked-bg:                    var(--shade-8);
$checkbox-overlay-checked-bg:            var(--shade-10-darken-14);
$checkbox-checked-border:                var(--shade-8);
$checkbox-checked-active-bg:             var(--shade-8-darken-5);
$checkbox-overlay-checked-active-bg:     var(--shade-10-darken-19);
$checkbox-checked-active-border:         var(--shade-8-darken-5);
$checkbox-overlay-checked-active-border: var(--shade-10-darken-19);
$tick-color:                             var(--shade-4);

// Badge
$badge-color:   var(--shade-10);
$badge-bg:      var(--red);
$badge-opacity: 0.64;

// Drop target
$drop-target-color: var(--brand-primary-35);

// Sort indicator
$sort-indicator: var(--shade-9);

// Tile
$tile-focus-color:          var(--brand-primary);
$tile-active-color:         var(--shade-5);
$tile-expansion-bg:         var(--shade-2);
$tile-expansion-focus-bg:   var(--shade-1);
$tile-expansion-blurred-bg: var(--shade-2-darken-4);
$tile-selection-icon-color: var(--shade-10-darken-14);

// Stack
$stack-color:             var(--shade-7);
$stack-bg:                $body-bg;
$stack-focus-color:       var(--brand-primary-light);
$stack-line-gap-color:    var(--shade-3);
$stack-line-tint-color:   var(--shade-3);
$stack-line-tint-opacity: 0.5;

// Scrollbar
$scrollbar-bg:            var(--transparent);
$scrollbar-color:         var(--shade-6);
$scrollbar-overlay-color: var(--shade-10-20);

// List states
$list-focus-color:       var(--brand-primary-light);
$list-focus-bg:          var(--brand-primary);
$list-active-color:      var(--shade-9);
$list-active-bg:         var(--shade-5);
$list-active-icon-color: var(--shade-8);

// Accordion
$accordion-bg:        var(--shade-4-lighten-2);
$accordion-active-bg: var(--shade-4-lighten-4);


// Components
// --------------------------------------------------

// Icons
$icon-style:        "line";
$icon-color:        var(--shade-7);
$icon-active-color: var(--shade-9);

$icon-spin-color:   var(--brand-primary);

// Toolbar
$toolbar-blurred-opacity-darwin:       0.5;
$toolbar-blurred-bg-darwin:            var(--shade-2);

// Project
$project-darken-color:  var(--shade-0-20);
$project-heading-color: var(--shade-8);
$item-count-color:      var(--shade-6);

// Sidebar
$sidebar-bg:                              var(--shade-4);
$sidebar-blurred-bg:                      var(--shade-2);
$sidebar-vibrancy-color:                  var(--shade-10-50); // ~ default color on solid bg
$sidebar-vibrancy-list-active-color:      var(--shade-10-64);
$sidebar-vibrancy-list-active-bg:         var(--shade-10-7);
$sidebar-vibrancy-list-focus-bg:          $brand-primary-vibrancy;
$sidebar-blurred-list-active-bg-darwin:   var(--shade-5-darken-4);
$sidebar-blurred-list-active-bg-linux:    var(--shade-5-60);
$sidebar-text-color:                      var(--shade-8);
$sidebar-headings-color:                  var(--shade-7);
$sidebar-vibrancy-headings-color:         var(--shade-10-33);
$sidebar-blurred-headings-color-darwin:   var(--shade-7-darken-5);
$sidebar-blurred-headings-color-linux:    var(--shade-7-40);
$sidebar-vibrancy-icon-color:             var(--shade-10-33);
$sidebar-vibrancy-icon-selected-color:    var(--shade-10-46);
$sidebar-blurred-icon-opacity-darwin:     0.33;
$sidebar-blurred-icon-opacity-linux:      0.4;
$sidebar-blurred-name-opacity-darwin:     0.55;
$sidebar-blurred-name-opacity-linux:      0.4;
$sidebar-blurred-tag-opacity-darwin:      0.34;
$activity-border-color:                   var(--shade-1);
$activity-vibrancy-border-color:          var(--shade-0-33);
$activity-blurred-border-color-darwin:    var(--shade-1-darken-4);
$activity-blurred-border-color-linux:     var(--shade-1-60);
$activity-vibrancy-progress-bar-bg:       var(--shade-0-20);
$activity-vibrancy-progress-val-bg:       $brand-primary-vibrancy;
$activity-vibrancy-progress-cancel-bg:    var(--shade-10-18);
$activity-blurred-progress-bar-bg-darwin: var(--shade-2-darken-4);
$activity-blurred-progress-bar-bg-linux:  var(--shade-2-60);
$activity-blurred-progress-val-bg-darwin: var(--shade-6-darken-4);
$activity-blurred-progress-val-bg-linux:  var(--shade-5); // ~ 60% opacity

// Items
$item-table-header-color:        var(--shade-8);
$item-table-header-sort-color:   var(--shade-9);
$item-table-header-bg:           var(--shade-3-50);
$item-table-header-active-bg:    var(--shade-2);
$item-table-header-border-color: var(--shade-1);
$item-table-column-border-color: $item-table-header-border-color;
$items-odd-bg:                   var(--shade-4);
$items-focus-color:              var(--brand-primary-light);
$items-focus-bg:                 var(--brand-primary);
$items-active-color:             var(--shade-9);
$items-active-bg:                var(--shade-5);

// Panel
$panel-bg:                           var(--shade-4);
$panel-focus-bg:                     var(--shade-4-lighten-2);
$panel-blurred-bg-darwin:            var(--shade-2);
$panel-header-color:                 var(--shade-8);
$panel-separator-color:              var(--shade-1);
$panel-nested-focus-separator-color: var(--shade-1-lighten-2);
$panel-blurred-separator-color:      var(--shade-1-darken-4);
$panel-heading-color:                var(--shade-6);
$panel-nested-focus-heading-color:   var(--shade-6-lighten-2);

// Item panel
$item-panel-tab-blurred-bg-darwin:              var(--shade-2-darken-4);
$item-panel-tab-blurred-selected-bg-darwin:     $panel-blurred-bg-darwin;
$item-panel-tab-blurred-selected-border-darwin: var(--shade-1-darken-4);

// Tabs
$tab-color:                              var(--shade-7-lighten-2);
$tab-bg:                                 var(--shade-2);
$tab-selected-color:                     var(--shade-9);
$tab-selected-bg:                        var(--shade-4);
$tab-selected-border-color:              var(--shade-1);
$tab-active-bg:                          var(--shade-1);
$tab-active-border-color:                $tab-active-bg;
$tab-nested-focus-bg:                    var(--shade-2);
$tab-nested-focus-selected-bg:           var(--shade-4-lighten-2);
$tab-nested-focus-selected-border-color: var(--shade-1-lighten-2);

// Metadata
$label-color:                           var(--shade-7);
$template-select-border:                var(--shade-1);
$template-select-nested-focus-border:   var(--shade-1-lighten-2);
$template-select-blurred-border-darwin: var(--shade-1-darken-4);
$template-select-bg:                    var(--shade-4);
$template-select-nested-focus-bg:       var(--shade-4-lighten-2);
$template-select-blurred-bg-darwin:     $panel-blurred-bg-darwin;

// Tag list
$tag-list-active-border:              var(--shade-6-lighten-5);
$add-tag-default-bg:                  $panel-bg;
$add-tag-focus-bg:                    var(--shade-3);
$add-tag-nested-focus-bg:             var(--shade-4-lighten-2);
$add-tag-blurred-bg-darwin:           $panel-blurred-bg-darwin;
$add-tag-placeholder-color-default:   $text-color;
$add-tag-nested-focus-border-color:   var(--shade-1-lighten-2);
$add-tag-blurred-border-color-darwin: var(--shade-1-darken-4);
$icon-tag-color:                      var(--shade-4);
$icon-tag-nested-focus-color:         var(--shade-4-lighten-2);
$icon-tag-border:                     var(--shade-6);
$icon-tag-nested-focus-border:        var(--shade-6-lighten-2);
$icon-tag-vibrancy-border:            var(--shade-10-20);

// Photo panel
$photo-panel-slider-handle-nested-focus-bg:   null;
$photo-panel-slider-handle-blurred-bg-darwin: null;

// Note list
$note-list-focus-color:  var(--brand-primary-light);
$note-list-focus-bg:     var(--brand-primary);
$note-list-active-color: var(--shade-9);
$note-list-active-bg:    var(--shade-5);
$note-list-blurred-bg:   var(--shade-5-darken-4);

// Editable
$editable-color:        $text-color;
$editable-bg:           var(--shade-3);
$editable-border-color: var(--shade-10-5);

// Wizard
$wizard-heading-color: var(--shade-8);
$wizard-link-color:    $link-color;

// Button
$btn-default-color:             var(--shade-9);
$btn-default-bg:                var(--shade-3);
$btn-default-overlay-bg:        var(--shade-10-20);
$btn-default-border:            var(--shade-1);
$btn-default-active-bg:         var(--shade-2);
$btn-default-overlay-active-bg: var(--shade-10-16);
$btn-primary-color:             var(--brand-primary-light);
$btn-primary-bg:                var(--brand-primary);
$btn-primary-active-bg:         var(--brand-primary-darken-2);
$btn-icon-bg:                   var(--transparent);

// Slider
$slider-track-bg:                       var(--shade-5);
$slider-overlay-track-disabled-opacity: 0.2;
$slider-overlay-track-bg:               var(--shade-10-20);
$slider-range-bg:                       var(--shade-6);
$slider-range-disabled-opacity:         0;
$slider-overlay-range-bg:               var(--shade-10-darken-14);
$slider-handle-bg:                      var(--shade-7);
$slider-overlay-handle-bg:              var(--shade-10-darken-14);
$slider-handle-border:                  var(--transparent);
$slider-overlay-handle-border:          var(--transparent);
$slider-handle-disabled-bg:             var(--shade-5);
$slider-value-color:                    var(--shade-8);
$slider-overlay-value-color:            var(--shade-10-darken-14);
$slider-focus-bg:                       var(--brand-primary);
$slider-overlay-focus-bg:               var(--brand-primary-overlay);
$slider-overlay-disabled-bg:            var(--shade-10);

// Esper
$esper-bg:                               var(--shade-1);
$esper-overlay-color:                    var(--shade-10-darken-14);
$esper-toolbar-solid-bg:                 var(--transparent);
$esper-shadow:                           var(--shade-1-darken-10);
$esper-btn-icon-active-color:            var(--shade-9);
$esper-btn-icon-active-bg:               var(--shade-5);
$esper-slider-handle-bg:                 $slider-handle-bg;
$esper-slider-handle-disabled-bg:        $slider-handle-disabled-bg;
$esper-slider-value-color:               var(--shade-7);
$esper-overlay-bg:                       var(--shade-0-80);
$esper-toolbar-overlay-btn-active-color: var(--shade-10-darken-4);
$esper-toolbar-overlay-btn-active-bg:    var(--shade-10-20);
$esper-toolbar-blurred-bg-darwin:        var(--shade-2);
$esper-toolbar-blurred-opacity-darwin:   0.3;
$esper-overlay-icon-color:               var(--shade-10-darken-14);
$esper-checkbox-bg:                      var(--shade-5);
$esper-input-border:                     var(--transparent);
$esper-checkbox-checked-bg:              var(--shade-7);
$esper-checkbox-checked-border:          var(--shade-7);
$esper-checkbox-disabled-bg:             var(--shade-5-50);
$esper-checkbox-disabled-border:         var(--shade-5-50);
$esper-checkbox-checked-active-bg:       var(--shade-7-darken-5);
$esper-checkbox-checked-active-border:   var(--shade-7-darken-5);
$esper-btn-default-bg:                   var(--shade-3);
$esper-btn-default-border:               var(--transparent);
$esper-btn-default-active-bg:            var(--shade-2);

// Drag preview
$drag-preview-opacity:           0.64;
$drag-preview-thumbnail-opacity: 0.64;

// Thumbnail
$thumbnail-color: var(--shade-7-50);
$thumbnail-bg:    var(--shade-5-lighten-5);

// Progress bar
$progress-bar-bg:             var(--shade-2);
$progress-bar-color:          var(--brand-primary);
$progress-cancel-color:       var(--shade-4);
$progress-cancel-bg:          var(--shade-7);

// Editor
$editor-toolbar-border:                 var(--shade-1);
$editor-toolbar-blurred-opacity-darwin: 0.3;
$editor-btn-hover-bg:                   var(--shade-2);
$editor-btn-active-color:               var(--shade-8);
$editor-btn-active-bg:                  var(--shade-1);
$editor-placeholder-color:              var(--shade-6);
$editor-pseudo-selection-bg:            var(--brand-primary-light-10);

$blockquote-border-color: var(--shade-8);
$selected-node-color:     var(--brand-primary);
$editor-hr-border-color:  var(--shade-1);
$line-number-color:       var(--shade-6);

// Preferences
$prefs-bg:                       var(--shade-4);
$prefs-header-border:            var(--shade-1);
$prefs-header-blurred-bg-darwin: var(--shade-2);

// Vocab
$vocab-panel-bg:    var(--shade-4-lighten-2);
$vocab-label-color: var(--shade-7);
$vocab-link-color:  var(--brand-primary-light-76);

// Plugins
$plugin-instance-bg:               var(--shade-4-lighten-4);
$no-info-color:                    var(--shade-6-lighten-2);
$hook-color:                       var(--shade-7);
$hook-bg:                          var(--shade-10-2);
$plugin-border-color:              var(--shade-1);
$plugin-active-border-color:       var(--shade-1-lighten-2);
$plugin-indicator:                 var(--green);
$plugin-disabled-indicator:        var(--shade-1);
$plugin-active-disabled-indicator: var(--shade-1-lighten-2);

// Colors
$colors-focus-border-table: var(--brand-primary-light);
$colors-focus-border-grid:  var(--shade-10-darken-14);

// Flash
$flash-bg:               var(--brand-primary-dark);
$flash-color:            var(--brand-primary-lighten-14);
$flash-close-icon-color: var(--brand-primary-lighten-14);
$flash-shadow-color:     var(--brand-primary-30);

// Search
$search-border-color:      null;
$clear-search-color:       var(--shade-4);
$search-disabled-bg:       var(--shade-3-lighten-2);
$search-blurred-bg-darwin: $toolbar-blurred-bg-darwin;

// Popup
$popup-bg: var(--shade-3);
$popup-border-color: $input-btn-focus-color;

// Option list
$option-active-bg:        var(--shade-4);
$option-selected-bg:      var(--shade-5);
$option-no-matches-color: var(--shade-6);
$option-separator-color:  var(--shade-1);

// Recent projects
$project-name-hover-bg:          var(--shade-4-lighten-2);
$project-name-vibrancy-hover-bg: var(--shade-10-4);
