// sass-lint:disable no-mergeable-selectors, no-color-literals


// Light theme
// --------------------------------------------------


// Colors
// --------------------------------------------------

:root {
  #{--blue}:          #5c93e5;
  #{--blue-light}:    #dbe7fa;
  #{--blue-30}:       rgba(#5c93e5, 0.3);
  #{--blue-darken-4}: darken(#5c93e5, 4%);
  #{--red}:           #e62e2e;
}

$blue:                   var(--blue);
$blue-light:             var(--blue-light);
$blue-30:                var(--blue-30);
$blue-darken-4:          var(--blue-darken-4);

$red:                    var(--red);

$brand-primary:          $blue;
$brand-primary-30:       $blue-30;
$brand-primary-darken-4: $blue-darken-4;


// Grays
// --------------------------------------------------

:root {
  #{--shade-0}:    #fff;            // Body
  #{--shade-1}:    #f6f6f6;         // Sidbar bg, panel bg
  #{--shade-2}:    #e6e6e6;         // Inactive tab, sidebar active bg
  #{--shade-3}:    #ddd;            // 14%
  #{--shade-4}:    #ccc;            // Slider track, …

  #{--shade-5}:    #777;            // Icon color
  #{--shade-5-60}: rgba(#777, 0.6);

  #{--shade-6}:    #555;            // Sidebar active icon
  #{--shade-7}:    #444;            // Softened text
  #{--shade-8}:    #222;            // Text color, active icon

  #{--shade-9}:    #000;            // Black
  #{--shade-9-10}: rgba(#000, 0.1);
  #{--shade-9-20}: rgba(#000, 0.2);
  #{--shade-9-60}: rgba(#000, 0.6);
}

$shade-0:    var(--shade-0);
$shade-1:    var(--shade-1);
$shade-2:    var(--shade-2);
$shade-3:    var(--shade-3);
$shade-4:    var(--shade-4);

$shade-5:    var(--shade-5);
$shade-5-60: var(--shade-5-60);

$shade-6:    var(--shade-6);
$shade-7:    var(--shade-7);
$shade-8:    var(--shade-8);

$shade-9:    var(--shade-9);
$shade-9-10: var(--shade-9-10);
$shade-9-20: var(--shade-9-20);
$shade-9-60: var(--shade-9-60);


// Scaffolding
// --------------------------------------------------

$body-bg:    $shade-0;
$text-color: $shade-8;


// Typography
// --------------------------------------------------

$link-color:       $brand-primary;
$link-hover-color: $brand-primary;

$text-selection-color: $blue-light;


// Partials
// --------------------------------------------------

// Forms
$input-color: $shade-8;
$input-bg:    transparent;
$input-border: $shade-2;
$input-border-focus: $brand-primary;
$input-color-placeholder: $shade-4;

// Badge
$badge-color: $shade-0;
$badge-bg:    $red;

// Drop target
$drop-target-bg: $blue-light;

// Sort indicator
$photo-sort-indicator: $shade-8;

// Tile
$tile-focus-color:  $brand-primary;
$tile-active-color: $shade-4;

// Stack
$stack-color: $shade-5;
$stack-bg:    $body-bg;


// Components
// --------------------------------------------------

// Icons
$icon-style:        "line";
$icon-color:        $shade-5;
$icon-active-color: $shade-8;

$icon-spin-color:   $brand-primary;

// Project
$project-darken-color: $shade-9-10;

// Sidebar
$sidebar-bg:                $shade-1;
$sidebar-text-color:        $shade-7;
$sidebar-headings-color:    $shade-5;
$sidebar-focus-icon-color:  $shade-0;
$sidebar-focus-color:       $shade-0;
$sidebar-focus-bg:          $brand-primary;
$sidebar-active-icon-color: $shade-6;
$sidebar-active-color:      $shade-8;
$sidebar-active-bg:         $shade-3;
$sidebar-context-bg:        $blue-light;
$sidebar-over-bg:           $blue-light;
$sidebar-over-bg:           $blue-light;
$activity-color:            $shade-5;
$activity-border-color:     $shade-3;
$sidebar-tag-active-color:  $shade-0;
$sidebar-tag-active-bg:     $brand-primary;

// Items
$item-table-header-color:        $shade-7;
$item-table-header-sort-color:   $shade-8;
$item-table-header-active-bg:    $shade-1;
$item-table-header-border-color: $shade-2;
$items-odd-bg:                   $shade-1;
$items-focus-color:              $shade-0;
$items-focus-bg:                 $brand-primary;
$items-active-color:             $shade-0;
$items-active-bg:                $shade-3;
$items-over-bg:                  $blue-light;
$cover-image-color:              $icon-color;
$cover-image-active-color:       $shade-4;

// Panel group
$panels-bg: $shade-1;

// Panel
$panel-bg:              $shade-1;
$panel-header-color:    $shade-7;
$panel-separator-color: $shade-3;
$panel-heading-color:   #bbb; // Todo

// Tabs
$tab-bg: $shade-2;
$tab-active-color: $shade-8;
$tab-active-bg: transparent;
$tab-inactive-color: $shade-5;

// Metadata
$label-color:            $shade-5;
$value-hover-color:      $shade-0;
$template-select-border: $shade-3;

// Photo list
$photo-list-focus-color: $shade-0;
$photo-list-focus-bg: $brand-primary;
$photo-list-active-color: $shade-8;
$photo-list-active-bg: $shade-3;

// Note list
$note-active-color: $shade-0;
$note-active-bg: $brand-primary;

// Editable
$editable-color: $text-color;
$editable-bg: $shade-0;
$editable-border-color: $brand-primary;

// Wizard
$wizard-heading-color: $shade-7;
$wizard-link-color:    $brand-primary;

// Button
$btn-default-color:     $shade-8;
$btn-default-bg:        $shade-0;
$btn-default-border:    $shade-2;
$btn-default-active-bg: $shade-1;
$btn-primary-color:     $shade-0;
$btn-primary-bg:        $brand-primary;
$btn-primary-active-bg: $brand-primary-darken-4;

// Slider
$slider-track-bg: $shade-4;
$slider-range-bg: $shade-5;
$slider-handle-bg: $shade-0;
$slider-handle-border: $shade-9-20;

// Drop zone
$drop-zone-border: $brand-primary;
$drop-zone-bg:     $brand-primary-30;

// Image
$image-bg: $shade-2;
$toolbar-hover-bg: $shade-9-60;

// Drag preview
$drag-preview-opacity:       0.8;
$drag-preview-badge-opacity: 0.8;

// Thumbnail
$thumbnail-color: $shade-5-60;
$thumbnail-bg:    $shade-3;
