//
// Light theme
// --------------------------------------------------


// Colors
// --------------------------------------------------

$blue: #5c93e5;

$brand-primary: $blue;


// Grays
// --------------------------------------------------

$shade-0: #fff;
$shade-1: #f6f6f6;
$shade-2: #e6e6e6;
$shade-3: #dcdcdc;
$shade-4: #ccc;
$shade-5: #777;
$shade-6: #555;
$shade-7: #444;
$shade-8: #222;
$shade-9: #000;


// Scaffolding
// --------------------------------------------------

$body-bg:    $shade-0;
$text-color: $shade-8;

$link-color:       $brand-primary;
$link-hover-color: $brand-primary;


// Partials
// --------------------------------------------------

// Forms
$input-color: $shade-8;
$input-bg:    $shade-0;
$input-border: $shade-2;
$input-border-focus: $brand-primary;
$input-color-placeholder: $shade-4;


// Components
// --------------------------------------------------

// Icons
$icon-style:        "line";
$icon-color:        $shade-5;
$icon-active-color: $shade-8;

// Sidebar
$sidebar-bg:                $shade-1;
$sidebar-text-color:        $shade-7;
$sidebar-headings-color:    $shade-5;
$sidebar-active-icon-color: $shade-6;
$sidebar-active-color:      $shade-8;
$sidebar-active-bg:         $shade-2;


// Items
$item-list-header-color: $shade-7;
$item-list-header-sort-color: $shade-8;
$item-list-header-border-color: $shade-2;
$items-odd-bg: $shade-1;
$items-active-color: $shade-0;
$items-active-bg: $blue;

// Panel group
$panels-bg: $shade-1;

// Panel
$panel-bg: $shade-1;
$panel-header-color: $shade-7;
$panel-header-shadow: rgba($shade-9, 0.08);

// Tabs
$tab-bg: $shade-2;
$tab-active-color: inherit;
$tab-active-bg: transparent;
$tab-inactive-color: $shade-5;

// Description list
$dt-color: $shade-5;

// Note list
$note-separator-color: $shade-3;
$note-active-color: $shade-0;
$note-active-bg: $brand-primary;

// Editable
$editable-color: $text-color;
$editable-bg: $shade-0;
$editable-border-color: $brand-primary;
