//
// Light theme
// --------------------------------------------------


// Colors
// --------------------------------------------------

$blue: #5c93e5;

$brand-primary: $blue;


// Grays
// --------------------------------------------------

$white:  #fff;
$smoke:  #f6f6f6;
$cloud:  #e6e6e6;
$silver: #ccc;
$slate:  #777;
$iron:   #444;
$coal:   #222;
$black:  #000;


// Scaffolding
// --------------------------------------------------

$body-bg:    $white;
$text-color: $coal;

$link-color:       $brand-primary;
$link-hover-color: $brand-primary;


// Partials
// --------------------------------------------------

// Forms
$input-color: $coal;
$input-bg:    $white;
$input-border: $cloud;
$input-border-focus: $brand-primary;
$input-color-placeholder: $silver;


// Components
// --------------------------------------------------

// Icons
$icon-style:        "line";
$icon-color:        $slate;
$icon-active-color: $coal;

// Sidebar
$sidebar-bg:         $smoke;
$sidebar-text-color: $iron;

// Items
$item-list-header-color: $iron;
$item-list-header-sort-color: $coal;
$item-list-header-border-color: $cloud;
$items-odd-bg: $smoke;
$items-active-color: $white;
$items-active-bg: $blue;

// Panel group
$panels-bg: $smoke;

// Panel
$panel-bg: $smoke;
$panel-header-color: $iron;

// Note list
$note-separator-color: #dcdcdc;
$note-active-color: $white;
$note-active-bg: $brand-primary;