@use 'sass:meta';
@use "sass:selector";
@use "../../abstracts/config" as *;

//
// Sidebar
// --------------------------------------------------

.sidebar {
  background: $sidebar-bg;
  color: $sidebar-text-color;
  height: 100%;
  line-height: $line-height-large;
  display: flex;
  flex-direction: column;

  .vibrancy:not(.is-blurred) & {
    background: transparent;
    color: $sidebar-vibrancy-color;
  }

  .is-blurred & {
    @if $platform == darwin {
      background-color: $sidebar-blurred-bg;
    }
  }

  .toolbar {
    .frameless & {
      -webkit-app-region: drag;
    }
  }

  .sidebar-body {
    flex: 1 1 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding-top: calc(($toolbar-height - $line-height-large) / 2);

    .frameless & {
      padding-top: 0;
    }
  }

  h2,
  h3 {
    color: $sidebar-headings-color;
    padding: 0 $default-spacing-x 0 $list-tree-padding-left;

    .vibrancy & {
      color: $sidebar-vibrancy-headings-color;
    }

    .is-blurred & {
      color: $sidebar-blurred-headings-color;
    }
  }

  .icon-truncate {
    display: flex;
    align-items: center;
    height: $line-height-large; // Prevent clipped holding indicator
    overflow: hidden;

    &.folder {
      flex: 0 10000 auto;
    }
  }

  .btn-icon {
    padding: 0;
    margin-left: -$space-md;
  }

  .icon {
    &:first-child {
      margin-right: $space-xs;
    }

    .name + :is(&) {
      margin-left: $space-xs;
    }

    & + .icon {
      margin-left: $space-min;
    }

    &.icon-lock {
      .line {
        display: none;
      }

      .block {
        display: block;
      }
    }
  }

  .name {
    flex: 1 1 0;
    display: flex;
    min-width: 0; // Fix truncation

    .is-blurred & {
      opacity: $sidebar-blurred-name-opacity;
    }
  }

  nav {
    li {
      position: relative;

      &.over {
        @extend %drop-target; // project-name & tag
      }

      > .node-container {
        display: flex;
        align-items: center;
        height: $line-height-large;
        padding-right: $default-spacing-x;
        position: relative;

        li.active > :is(&) {
          @extend %list-active;

          .vibrancy:not(.is-blurred) & {
            color: $sidebar-vibrancy-list-active-color;
            background-color: $sidebar-vibrancy-list-active-bg;
          }

          .is-blurred & {
            background-color: $sidebar-blurred-list-active-bg;
          }

          .sidebar :focus :is(&) {
            @extend %list-focus;

            .vibrancy & {
              color: $list-focus-color;
              background-color: $sidebar-vibrancy-list-focus-bg;
            }
          }
        }

        &.over:not(.before, .after) {
          @extend %drop-target;
        }

        .icon {
          flex: 0 0 auto;

          .vibrancy:not(.is-blurred) & {
            color: $sidebar-vibrancy-icon-color;

            li.active :is(&) {
              color: $sidebar-vibrancy-icon-selected-color;

              .sidebar :focus :is(&) {
                color: $list-focus-color;
              }
            }
          }

          .is-blurred & {
            opacity: $sidebar-blurred-icon-opacity;
          }
        }

        .icon-triangle {
          margin-right: 0;
          transform: rotate(90deg);

          li.expanded > .node-container :is(&) {
            transform: scaleY(-1);
          }
        }

        .icon-folder {
          li.holding:not(.active) > .node-container :is(&) {
            position: relative;

            svg {
              clip-path: polygon(0 0, 16px 0, 16px 10px, 12px 10px, 12px 16px, 0 16px);
            }

            &::after {
              content: "";
              box-sizing: border-box;
              position: absolute;
              right: -3px;
              bottom: -1px;
              width: 7px;
              height: 7px;
              border: 1px solid $icon-color;

              .vibrancy:not(.is-blurred) & {
                border-color: $sidebar-vibrancy-icon-color;
              }
            }

            .alt-key & {
              .line {
                display: none;
              }

              .block {
                display: block;
              }

              &::after {
                width: 6px;
                height: 6px;
                background-color: $icon-color;
                border: 0;

                .alt-key.vibrancy :is(&) {
                  background-color: $sidebar-vibrancy-icon-color;
                }
              }
            }
          }
        }
      }
    }
  }

  @for $i from 1 through $list-tree-max-levels {
    $sel: if(sass($i == 1): "ol"; else: selector.nest($sel, "ol"));

    #{$sel} {
      .node-container {
        padding-left:
          $list-tree-padding-left
          + $list-tree-indent
          * ($i - 1);
      }
    }
  }
}
