// stylelint-disable no-duplicate-selectors

//
// Sidebar sort indicator
// --------------------------------------------------

.list-node-container {
  &.before,
  &.after {
    z-index: 1;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      outline: 1px solid $sort-indicator;
    }
  }

  &.before {
    &::before {
      content: "";
      top: 0;
    }
  }

  &.after {
    &::after {
      content: "";
      top: 100%;
    }
  }
}

@for $i from 1 through $list-tree-max-levels {
  $sel: if($i == 1, "ol", selector-nest($sel, "ol"));

  #{$sel} {
    .list-node-container {
      &.before,
      &.after {
        &::before,
        &::after {
          @if ($i == 1) {
            left: $list-tree-padding-left + 1px;
          }

          @if ($i == 2) {
            left: $list-tree-padding-left + $list-tree-indent + 1px;
          }

          @if ($i > 2) {
            left: $list-tree-padding-left + $list-tree-indent * ($i - 1) + 1px;
          }
        }
      }
    }

    .expanded {
      > .list-node-container {
        &.after {
          &::after {
            @if ($i == 1) {
              left: $list-tree-padding-left + $list-tree-indent + 1px;
            }

            @if ($i > 1) {
              left: $list-tree-padding-left + $list-tree-indent * $i + 1px;
            }
          }
        }
      }
    }
  }

  .list-node-container {
    &.after {
      &.depth-#{$i} {
        &::after {
          margin-left: -1 * $i * $list-tree-indent;
        }
      }
    }
  }
}
