//
// New project
// --------------------------------------------------

.new-project {
  flex: 1 1 50%;

  @if $theme == "dark" {
    @include form-shading-level(0);
  }

  .toolbar {
    .is-blurred & {
      @if $platform == darwin {
        background-color: $toolbar-blurred-bg-darwin;
      }
    }
  }

  figure {
    width: 112px;
    height: 96px;
    background:
      if(
        $theme == "dark",
        icon-url("project/tropy-icon-dark.svg") no-repeat 0 0,
        icon-url("project/tropy-icon-light.svg") no-repeat 0 0
      );
    margin: $space-sm auto (28px - 12px); // 60px spacing after btn-xl
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: $headings-line-height;
    text-align: center;
    letter-spacing: -0.01em;
    padding: 0 40px;
    margin-bottom: $space-xxl - 13px;
  }

  h2 {
    font-size: 18px;
    line-height: $headings-line-height;
    margin-top: 40px - 7px;
    margin-bottom: $space-sm - 4px;
  }

  form {
    padding: 0 40px;
  }

  .btn-toggle {
    flex: 1 1 0;
  }

  .form-text {
    color: $new-project-form-text-color;
    padding: 0;
    margin: 0;
    margin-top: $space-md - 6px;
  }

  .btn-xl {
    height: 54px;
    font-size: 21px;
    font-weight: 600;
    margin-top: 40px - 5px;
  }
}
