@use "../../abstracts/config" as *;

//
// New project
// --------------------------------------------------

.new-project {
  flex: 0 0 440px;
  background-color: $body-bg;
  margin-left: auto;

  @media (prefers-color-scheme: dark) {
    @include form-shading-level(0);
  }

  .titlebar {
    .frameless & {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
    }
  }

  figure {
    width: 112px;
    height: 96px;
    background: icon-url("project/tropy-icon-light.svg") no-repeat 0 0;
    margin: (12px + 38px) auto (28px - 12px); // 60px spacing after btn-xl

    @media (prefers-color-scheme: dark) {
      background: icon-url("project/tropy-icon-dark.svg") no-repeat 0 0;
    }
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: $headings-line-height;
    text-align: center;
    letter-spacing: -0.01em;
    padding: 0 40px;
    margin-bottom: $space-xxl - 13px;
  }

  h2 {
    font-size: 18px;
    line-height: $headings-line-height;
    margin-top: 40px - 7px;
    margin-bottom: $space-sm - 4px;
  }

  form {
    padding: 0 40px;
  }

  .btn-toggle {
    flex: 1 1 0;
  }

  .form-text {
    color: $new-project-form-text-color;
    padding: 0;
    margin: 0;
    margin-top: $space-md - 6px;
  }

  .btn-xl {
    height: 54px;
    font-size: 21px;
    font-weight: 600;
    margin-top: 40px - 5px;
  }
}
