//
// Project pane
// --------------------------------------------------

.project.pane {
  .flex-row {
    flex-wrap: wrap;
    height: 30px;
    padding: 2px;
    margin: -2px;
    overflow: hidden;
  }

  .input-group,
  .btn-convert {
    transition: transform 0.24s ease;
  }

  .input-group {
    @include state(".editing .input-group") {
      transform: translateY(-30px);
    }
  }

  .btn-edit {
    margin-left: 1px;
  }

  .btn-convert {
    margin-top: $space-min;
    flex: 0 0 calc(100% - 27px);

    @include state(".editing .btn-convert") {
      transform: translateY(-30px);
    }
  }
}
