@use "../../themes/light" as *;
@use "../variables" as *;

//
// Drop target
// --------------------------------------------------

%drop-target {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: $drop-target-color;
    z-index: $zindex-drop-target;
  }
}
