//
// Drop target
// --------------------------------------------------

%drop-target {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $drop-target-color;
  }
}
