// stylelint-disable no-duplicate-selectors

//
// List states
// --------------------------------------------------

%list-active {
  color: $list-active-color;
  background: $list-active-bg;

  .icon {
    color: $list-active-icon-color !important;
  }
}

%list-focus {
  color: $list-focus-color;
  background: $list-focus-bg;

  .icon {
    color: $list-focus-color !important;
  }
}
