//
// Mixed indicator
// --------------------------------------------------

%mixed-indicator {
  &::after {
    box-sizing: border-box;
    content: "+";
    flex: 0 0 auto;
    margin-left: calc($space-min / 2);
  }
}
