//
// Operating system specific styles
// --------------------------------------------------

// Lighter font rendering
body {
  -webkit-font-smoothing: antialiased;
}

.el-capitan {
  font-family: BlinkMacSystemFont, $font-family-base;

  // Reset San Francisco
  #wizard,
  #items .no-items,
  .no-project {
    h1 {
      font-family: BlinkMacSystemFont, "HelveticaNeue-Thin", $font-family-base;
    }
  }
}
