//
// Light project window
// --------------------------------------------------

$platform: "darwin";
$theme: "light";


// Theme
// --------------------------------------------------

@import
  "../themes/light";


// Window
// --------------------------------------------------

@import
  "../windows/project";


// Operating system specific styles
// --------------------------------------------------

@import
  "os";
