//
// Cell
// --------------------------------------------------

.metadata {
  @include css-truncate;
  padding: 0 $space-xs 0 ($space-xs + 1px);
  position: relative;

  &:first-child {
    padding-left: $component-padding-horizontal + $thumbnail-size + $padding-base-horizontal;
  }

  &:last-child {
    padding-right: $space-sm;
  }

  &.number {
    text-align: right;
  }

  img {
    position: absolute;
    left: $component-padding-horizontal;
    top: ($row-height - $thumbnail-size) / 2;
  }
}
