//
// Operating system specific styles
// --------------------------------------------------

.badge {
  .drag-preview.metadata-field & {
    left: 18px;
    top: 11px;

    @include state(".drag-preview.over") {
      .alt-key & {
        left: 24px;
      }
    }
  }
}
