//
// Dark about window
// --------------------------------------------------

$platform: "win32";
$theme: "dark";


// Theme
// --------------------------------------------------

@import
  "../themes/dark";


// Window
// --------------------------------------------------

@import
  "../windows/about";


// Operating system specific styles
// --------------------------------------------------

@import
  "os";
