//
// Light about window
// --------------------------------------------------

$platform: "win32";
$theme: "light";


// Theme
// --------------------------------------------------

@import
  "../themes/light";


// Window
// --------------------------------------------------

@import
  "../windows/about";


// Operating system specific styles
// --------------------------------------------------

@import
  "os";
