name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: ${{ matrix.friendlyName }} ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-2022
        arch:
          - x64
        include:
          - os: ubuntu-latest
            friendlyName: Linux
            platform: linux
          - os: ubuntu-latest
            friendlyName: Linux (system libvips)
            platform: linux
            globalLibvips: true
          - os: ubuntu-22.04
            arch: x64
            friendlyName: Linux (LTS)
            platform: linux
          - os: macos-15-intel
            arch: x64
            friendlyName: macOS
            platform: darwin
          - os: macos-latest
            arch: arm64
            friendlyName: macOS
            platform: darwin
          - os: macos-26
            arch: arm64
            friendlyName: macOS 26
            platform: darwin
          - os: windows-2022
            friendlyName: Windows
            platform: win32

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: npm
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install requirements for node-gyp
        run: pip install setuptools

      - name: Install and build dependencies
        run: npm clean-install --no-progress
      - name: Rebuild native dependencies
        run: node scripts/rebuild.js --force --arch ${{ matrix.arch }}
        env:
          SHARP_FORCE_GLOBAL_LIBVIPS: ${{ matrix.globalLibvips }}

      - name: Lint
        run: npm run lint

      - name: Create production bundle
        run: npm run rollup
        env:
          NPM_CONFIG_ARCH: ${{ matrix.arch }}
          SHARP_FORCE_GLOBAL_LIBVIPS: ${{ matrix.globalLibvips }}

      - name: Run main/renderer tests
        if: matrix.platform != 'linux'
        run: npm test
        shell: bash

      - name: Run main/renderer tests with coverage report
        if: matrix.platform == 'linux'
        run: xvfb-run --auto-servernum --server-num=1 npm run coverage

      - name: Send coverage report to Coveralls
        if: matrix.platform == 'linux'
        continue-on-error: true
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ github.token }}
