name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: ${{ runner.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            arch: x64
            platform: linux
          - os: ubuntu-latest
            arch: x64
            platform: linux
            globalLibvips: 'true'
          - os: ubuntu-22.04
            arch: x64
            platform: linux
            friendlyName: Linux (LTS)
          - os: macos-15-intel
            arch: x64
            platform: darwin
          - os: macos-latest
            arch: arm64
            platform: darwin
          - os: macos-26
            arch: arm64
            platform: darwin
          - os: windows-2022
            arch: x64
            platform: win32

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: npm
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install requirements for node-gyp
        run: pip install setuptools

      - name: Install dependencies
        run: npm clean-install --no-progress

      - name: Install system libvips
        if: matrix.platform == 'linux' && matrix.globalLibvips == 'true'
        run: |
          sudo apt-get update
          sudo apt-get install jq meson pkg-config \
            libarchive-dev libcgif-dev libexif-dev libheif-dev libheif-plugin-aomenc \
            libimagequant-dev libjpeg-dev libjxl-dev liblcms2-dev libopenjp2-7-dev libpango1.0-dev \
            libpng-dev libpoppler-glib-dev librsvg2-dev libtiff5-dev libwebp-dev
          mkdir vendor/vips
          export VERSION_VIPS=$(jq .config.libvips node_modules/sharp/package.json | tr -d "><=")
          curl -sL --retry 3 https://github.com/libvips/libvips/releases/download/v${VERSION_VIPS}/vips-${VERSION_VIPS}.tar.xz | tar xJC vendor/vips --strip-components=1
          cd vendor/vips
          meson setup build
          meson compile -C build
          sudo meson install -C build

      - name: Rebuild native dependencies
        run: node scripts/rebuild.js --force --arch ${{ matrix.arch }}
        env:
          SHARP_FORCE_GLOBAL_LIBVIPS: ${{ matrix.globalLibvips }}

      - name: Lint
        run: npm run lint

      - name: Create production bundle
        run: npm run rollup
        env:
          NPM_CONFIG_ARCH: ${{ matrix.arch }}
          SHARP_FORCE_GLOBAL_LIBVIPS: ${{ matrix.globalLibvips }}

      - name: Run main/renderer tests
        if: matrix.platform != 'linux'
        run: npm test
        shell: bash

      - name: Run main/renderer tests with coverage report
        if: matrix.platform == 'linux'
        run: xvfb-run --auto-servernum --server-num=1 npm run coverage

      - name: Send coverage report to Coveralls
        if: matrix.platform == 'linux' && matrix.globalLibvips != 'true'
        continue-on-error: true
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ github.token }}
