name: release
on:
  push:
    tags:
      - v1.*
      - v2.*

permissions:
  contents: write

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          omitBody: true
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          prerelease: true
          token: ${{ github.token }}

  build:
    needs: create-release
    name: ${{ matrix.image }} ${{ matrix.arch }} ${{ matrix.tag }}
    runs-on: ${{ matrix.image }}
    environment: release

    strategy:
      fail-fast: false
      matrix:
        include:
          - image: ubuntu-22.04
            arch: x64
          - image: ubuntu-24.04
            arch: x64
            tag: 'shared'
          - os: windows-2022
            arch: x64
          - os: windows-2022
            arch: ia32
            nodejs_arch: x64
          - os: windows-11-arm
            arch: arm64
          - os: macos-15-intel
            arch: x64
          - os: macos-26
            arch: arm64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          architecture: ${{ matrix.nodejs_arch || matrix.arch }}
          cache: npm
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install requirements for node-gyp
        run: pip install setuptools

      - name: Fix AppImage on Ubuntu 22.04
        if: matrix.image == 'ubuntu-22.04'
        run: sudo apt install libfuse2
      - name: Fix AppImage on Ubuntu 24.04
        if: matrix.image == 'ubuntu-24.04'
        run: sudo apt install libfuse2t64

      - name: Install NPM modules
        run: npm clean-install --no-progress

      - name: Install system libvips
        if: runner.os == 'Linux' && matrix.tag == 'shared'
        run: |
          # Install libvips dependencies
          sudo apt-get update
          sudo apt-get install meson pkg-config \
            libarchive-dev libcgif-dev libexif-dev libheif-dev libheif-plugin-aomenc \
            libimagequant-dev libjpeg-dev libjxl-dev liblcms2-dev libopenjp2-7-dev libpango1.0-dev \
            libpng-dev libpoppler-glib-dev librsvg2-dev libtiff5-dev libwebp-dev
          # Fetch required libvips
          mkdir vendor/vips
          export VV=$(jq .config.libvips node_modules/sharp/package.json | tr -d "><='\"")
          curl -sL --retry 3 https://github.com/libvips/libvips/releases/download/v${VV}/vips-${VV}.tar.xz \
            | tar xJC vendor/vips --strip-components=1
          # Build and install libvips
          cd vendor/vips
          meson setup build
          meson compile -C build
          sudo meson install -C build
          # Set env variable
          echo "SHARP_FORCE_GLOBAL_LIBVIPS=true" >> $GITHUB_ENV

      - name: Rebuild native modules
        run: node scripts/rebuild.js --force --verbose --arch ${{ matrix.arch }}

      - name: Setup macOS keychain and signing certificates
        if: runner.os == 'macOS'
        run: |
          # Create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASS" "$KEYCHAIN"
          security set-keychain-settings -lut 3600 "$KEYCHAIN"
          security unlock-keychain -p "$KEYCHAIN_PASS" "$KEYCHAIN"
          security default-keychain -s  "$KEYCHAIN"

          # Import signing certificate
          echo -n "$SIGN_CERT" | base64 --decode > "${RUNNER_TEMP}/cert.p12"
          security import "${RUNNER_TEMP}/cert.p12" -P "$SIGN_CERT_PASS" -T /usr/bin/codesign -k "$KEYCHAIN"
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "$KEYCHAIN_PASS" "$KEYCHAIN"

          # Import API key for notarization
          mkdir -p "$HOME/.private_keys"
          echo "$NOTARY_KEY" > "$HOME/.private_keys/AuthKey_${NOTARY_KEY_ID}.p8"
        env:
          SIGN_CERT: ${{ secrets.MAC_CERT }}
          SIGN_CERT_PASS: ${{ secrets.MAC_CERT_PASS }}
          KEYCHAIN: ${{ secrets.KEYCHAIN }}
          KEYCHAIN_PASS: ${{ secrets.KEYCHAIN_PASS }}
          NOTARY_KEY: ${{ secrets.APPLE_API_KEY }}
          NOTARY_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}

      - name: Create production build
        run: npm run build
        env:
          npm_config_arch: ${{ matrix.arch }}
          SIGN_CERT: ${{ secrets.MAC_CERT_ID }}
          SIGN_KEYCHAIN: ${{ secrets.KEYCHAIN }}
          NOTARY_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
          NOTARY_KEY_ISSUER: ${{ secrets.APPLE_API_KEY_ISSUER }}

      - name: Create release assets
        run: npm run pack
        env:
          npm_config_arch: ${{ matrix.arch }}
          npm_config_tag: ${{ matrix.tag }}
          SIGN_CRED: ${{ secrets.WIN_SIGN_CRED }}
          SIGN_TOTP: ${{ secrets.WIN_SIGN_TOTP }}
          SIGN_USER: ${{ secrets.WIN_SIGN_USER }}
          SIGN_PASS: ${{ secrets.WIN_SIGN_PASS }}

      - name: Upload Linux release assets
        if: runner.os == 'Linux'
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: >-
            dist/*.bz2,
            dist/*.integrity,
            dist/*.AppImage
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          prerelease: true
          token: ${{ github.token }}

      - name: Upload macOS release assets
        if: runner.os == 'macOS'
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: >-
            dist/*.dmg,
            dist/*.zip,
            dist/*.integrity
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          prerelease: true
          token: ${{ github.token }}

      - name: Upload Windows release assets
        if: runner.os == 'Windows'
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: >-
            dist/*.exe,
            dist/*.nupkg,
            dist/*.integrity
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          prerelease: true
          token: ${{ github.token }}
